In [12]:
from datetime import datetime
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns

# LECTURE DES DATAs MOBILISATION
df_mob_2021_2024 = pd.read_csv("../datasets/LFB_Mobilisation_data_from_2021_2024.csv")
df_mob_2015_2020 = pd.read_csv("../datasets/LFB_Mobilisation_data_from_2015_2020.csv",sep=';',header=0,index_col='IncidentNumber')
df_mob_2009_2014= pd.read_csv("../datasets/LFB_Mobilisation_data_from_January_2009_2014.csv",sep=';',header=0,index_col='IncidentNumber')
# LECTURE DES META DATAs
df_mob_meta = pd.read_excel("../datasets/Mobilisations_Metadata.xlsx",index_col="Column")
df_inc_meta = pd.read_excel("../datasets/Metadata.xlsx",index_col="Column")

display(df_mob_meta.head())
display(df_inc_meta.head())

/var/folders/sy/hjy213ys3p56__qrq583kxw40000gn/T/ipykernel_84380/4270532788.py:10: DtypeWarning: Columns (0,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df_mob_2015_2020 = pd.read_csv("../datasets/LFB_Mobilisation_data_from_2015_2020.csv",sep=';',header=0,index_col='IncidentNumber')

                          Sample record                   Description
Column
IncidentNumber          000008-01012018           LFB Incident Number
CalYear                            2018              Year of 999 call
HourOfCall                            3              Hour of 999 call
ResourceMobilisationId          5055153  LFB Resource Mobilisation ID
Resource_Code                      A392             LFB Resource Code

                      Sample record          Description Extra Notes
Column
IncidentNumber      000008-01012018  LFB Incident Number         NaN
DateOfCall      2018-01-01 00:00:00     Date of 999 call         NaN
CalYear                        2018     Year of 999 call         NaN
TimeOfCall                 00:04:25     Time of 999 call         NaN
HourOfCall                        0     Hour of 999 call         NaN

In [13]:
def exploration(df,meta, file_output):
    for row in df:
        print (row)
        percent_na= np.array2string(np.round(df[row].isna().mean()*100,2))
        count_na=np.array2string(df[row].isna().sum())
        meta.loc[row,'Taux de NA'] = count_na + " (" + percent_na + "%)"
        meta.loc[row,'Type information']= df[row].dtypes
    
        if (df[row].dtypes == 'object') and (len(df[row].unique())<=10):
            nbr_modalite = np.array2string(df[row].unique(),separator=', ') # on converti le tableau nuimy en string séparé par des ","
            mode = df[row].mode()[0]
            meta.loc[row,'Distribution des valeurs'] = "Nbr modalités : " + nbr_modalite + ", Mode : " + mode
        elif df[row].dtypes != 'object':
            mean = str(np.round(df[row].mean(),2))
            median = str(np.round(df[row].median(),2))
            max = str(np.round(df[row].max(),2))
            min = str(np.round(df[row].min()))
            meta.loc[row,'Distribution des valeurs']="mean = " + mean + ", " + "median = " + median + ", " + " max = " + max + ", " + " min = " + min
        else:
            meta.loc[row,'Distribution des valeurs']="Nbr de modalité sup à 10"

        meta.to_csv("../datasets/"+file_output, index=False)

exploration(df_mob_2021_2024,df_mob_meta,"exploration_mob_2021_2024.csv")

IncidentNumber
CalYear
BoroughName
WardName
HourOfCall
ResourceMobilisationId
Resource_Code
PerformanceReporting
DateAndTimeMobilised
DateAndTimeMobile
DateAndTimeArrived
TurnoutTimeSeconds
TravelTimeSeconds
AttendanceTimeSeconds
DateAndTimeLeft
DateAndTimeReturned
DeployedFromStation_Code
DeployedFromStation_Name
DeployedFromLocation
PumpOrder
PlusCode_Code
PlusCode_Description
DelayCodeId
DelayCode_Description