In [17]:
from datetime import datetime
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns

# # LECTURE DES DATAs MOBILISATION
# df_mob_2021_2024 = pd.read_csv("../datasets/LFB_Mobilisation_data_from_2021_2024.csv")
# df_mob_2015_2020 = pd.read_csv("../datasets/LFB_Mobilisation_data_from_2015_2020.csv",sep=';',header=0,index_col='IncidentNumber')
# df_mob_2009_2014= pd.read_csv("../datasets/LFB_Mobilisation_data_from_January_2009_2014.csv",sep=';',header=0,index_col='IncidentNumber')
# # LECTURE DES META DATAs
df_mob_meta = pd.read_excel("../data/Mobilisations_Metadata.xlsx",index_col="Column")
df_inc_meta = pd.read_excel("../data/Incidents Metadata.xlsx", index_col="Column")

display(df_mob_meta.head())
display(df_inc_meta.head())

df_incidents = pd.read_csv("../data/Incidents.csv", sep=";", index_col=0, low_memory=False)
df_mobilisations = pd.read_csv("../data/Mobilisation concat.csv", sep=";", index_col=0,low_memory=False)

,Sample record,Description,Colonne2
Column,,,
IncidentNumber,000008-01012018,LFB Incident Number,Numéro d'incident LFB
CalYear,2018,Year of 999 call,Année de l'appel au 999
HourOfCall,3,Hour of 999 call,Heure de l'appel au 999
ResourceMobilisationId,5055153,LFB Resource Mobilisation ID,ID de mobilisation des ressources LFB
Resource_Code,A392,LFB Resource Code,Code de ressource LFB

,Sample record,Description,Unnamed: 3,Extra Notes,Unnamed: 5
Column,,,,,
IncidentNumber,000008-01012018,LFB Incident Number,Numéro d'incident LFB,NaN,NaN
DateOfCall,2018-01-01 00:00:00,Date of 999 call,Date de l'appel au 999,NaN,NaN
CalYear,2018,Year of 999 call,Année de l'appel au 999,NaN,NaN
TimeOfCall,00:04:25,Time of 999 call,Heure de l'appel au 999,NaN,NaN
HourOfCall,0,Hour of 999 call,Heure de l'appel au 999,NaN,NaN

In [18]:
def exploration(df,meta, file_output):
    for col in df:
        # print (row)
        percent_na= np.array2string(np.round(df[col].isna().mean()*100,2))
        count_na=np.array2string(df[col].isna().sum())
        meta.loc[col,'Taux de NA'] = count_na + " (" + percent_na + "%)"
        meta.loc[col,'Type information']= df[col].dtypes

        if (df[col].dtypes == 'object') and (len(df[col].unique())<=15):
            modalite = np.array2string(df[col].unique(),separator=', ') # on converti le tableau nuimy en string séparé par des ","
            mode = df[col].mode()[0]
            meta.loc[col,'Distribution des valeurs'] = "Nbr modalites : " + modalite + ", Mode : " + mode
        elif df[col].dtypes != 'object':
            mean = str(np.round(df[col].mean(),2))
            median = str(np.round(df[col].median(),2))
            max = str(np.round(df[col].max(),2))
            min = str(np.round(df[col].min()))
            meta.loc[col,'Distribution des valeurs']="mean = " + mean + ", " + "median = " + median + ", " + " max = " + max + ", " + " min = " + min
        else:
            meta.loc[col,'Distribution des valeurs']="Nbr de modalite sup à 15"

        meta.to_csv("../data/"+file_output, index=True, sep=";")

exploration(df_mobilisations, df_mob_meta, "exploration_mob.csv")
exploration(df_incidents, df_inc_meta, "exploration_inc.csv")