In [1]:
import pandas as pd

# Ajuster les param√®tres pour afficher toutes les lignes et colonnes
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)

df1 = pd.read_csv(
    "../data/LFB Mobilisation data from January 2009 - 2014.csv",
    sep=";",
    low_memory=False,
)
df2 = pd.read_csv(
    "../data/LFB Mobilisation data from 2015 - 2020.csv", sep=";", low_memory=False
)
df3 = pd.read_csv(
    "../data/LFB Mobilisation data from 2021 - 2024.csv",
    sep=",",
    low_memory=False,
    usecols=lambda column: column not in ["BoroughName", "WardName"],
)
#df3.drop(["BoroughName", "WardName"], axis=1)

In [2]:
 display(df1.info())
 display(df2.info())
 display(df3.info())
 print(df1.columns)
 print(df2.columns)
 print(df3.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 901788 entries, 0 to 901787
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   IncidentNumber            901788 non-null  int64
 1   CalYear                   901788 non-null  int64
 2   HourOfCall                901788 non-null  int64
 3   ResourceMobilisationId    901788 non-null  int64
 4   Resource_Code             901788 non-null  object
 5   PerformanceReporting      901788 non-null  object
 6   DateAndTimeMobilised      901788 non-null  object
 7   DateAndTimeMobile         883728 non-null  object
 8   DateAndTimeArrived        901788 non-null  object
 9   TurnoutTimeSeconds        883636 non-null  float64
 10  TravelTimeSeconds         883631 non-null  float64
 11  AttendanceTimeSeconds     901788 non-null  int64
 12  DateAndTimeLeft           856625 non-null  object
 13  DateAndTimeReturned       877430 non-null  object
 14  DeployedFromStation_Code  901786 non-null  object
 15  DeployedFromStation_Name  901786 non-null  object
 16  DeployedFromLocation      901744 non-null  object
 17  PumpOrder                 901788 non-null  int64
 18  PlusCode_Code             901788 non-null  object
 19  PlusCode_Description      901788 non-null  object
 20  DelayCodeId               228294 non-null  float64
 21  DelayCode_Description     228294 non-null  object
dtypes: float64(3), int64(6), object(13)
memory usage: 151.4+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 883641 entries, 0 to 883640
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   IncidentNumber            883641 non-null  object
 1   CalYear                   883641 non-null  int64
 2   HourOfCall                883641 non-null  int64
 3   ResourceMobilisationId    883641 non-null  int64
 4   Resource_Code             883641 non-null  object
 5   PerformanceReporting      883641 non-null  object
 6   DateAndTimeMobilised      883641 non-null  object
 7   DateAndTimeMobile         876365 non-null  object
 8   DateAndTimeArrived        883641 non-null  object
 9   TurnoutTimeSeconds        876339 non-null  float64
 10  TravelTimeSeconds         876254 non-null  float64
 11  AttendanceTimeSeconds     883641 non-null  int64
 12  DateAndTimeLeft           882620 non-null  object
 13  DateAndTimeReturned       95728 non-null   object
 14  DeployedFromStation_Code  883620 non-null  object
 15  DeployedFromStation_Name  883620 non-null  object
 16  DeployedFromLocation      882957 non-null  object
 17  PumpOrder                 883641 non-null  int64
 18  PlusCode_Code             883641 non-null  object
 19  PlusCode_Description      883641 non-null  object
 20  DelayCodeId               215751 non-null  float64
 21  DelayCode_Description     215751 non-null  object
dtypes: float64(3), int64(5), object(14)
memory usage: 148.3+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 694575 entries, 0 to 694574
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   IncidentNumber            694575 non-null  object
 1   CalYear                   694575 non-null  int64
 2   HourOfCall                694575 non-null  int64
 3   ResourceMobilisationId    694575 non-null  int64
 4   Resource_Code             694575 non-null  object
 5   PerformanceReporting      694575 non-null  object
 6   DateAndTimeMobilised      694575 non-null  object
 7   DateAndTimeMobile         691533 non-null  object
 8   DateAndTimeArrived        694575 non-null  object
 9   TurnoutTimeSeconds        691514 non-null  float64
 10  TravelTimeSeconds         691510 non-null  float64
 11  AttendanceTimeSeconds     694575 non-null  int64
 12  DateAndTimeLeft           694300 non-null  object
 13  DateAndTimeReturned       0 non-null       float64
 14  DeployedFromStation_Code  694571 non-null  object
 15  DeployedFromStation_Name  694571 non-null  object
 16  DeployedFromLocation      694109 non-null  object
 17  PumpOrder                 694575 non-null  int64
 18  PlusCode_Code             694575 non-null  object
 19  PlusCode_Description      694575 non-null  object
 20  DelayCodeId               174023 non-null  float64
 21  DelayCode_Description     174023 non-null  object
dtypes: float64(4), int64(5), object(13)
memory usage: 116.6+ MB

None

Index(['IncidentNumber', 'CalYear', 'HourOfCall', 'ResourceMobilisationId',
       'Resource_Code', 'PerformanceReporting', 'DateAndTimeMobilised',
       'DateAndTimeMobile', 'DateAndTimeArrived', 'TurnoutTimeSeconds',
       'TravelTimeSeconds', 'AttendanceTimeSeconds', 'DateAndTimeLeft',
       'DateAndTimeReturned', 'DeployedFromStation_Code',
       'DeployedFromStation_Name', 'DeployedFromLocation', 'PumpOrder',
       'PlusCode_Code', 'PlusCode_Description', 'DelayCodeId',
       'DelayCode_Description'],
      dtype='object')
Index(['IncidentNumber', 'CalYear', 'HourOfCall', 'ResourceMobilisationId',
       'Resource_Code', 'PerformanceReporting', 'DateAndTimeMobilised',
       'DateAndTimeMobile', 'DateAndTimeArrived', 'TurnoutTimeSeconds',
       'TravelTimeSeconds', 'AttendanceTimeSeconds', 'DateAndTimeLeft',
       'DateAndTimeReturned', 'DeployedFromStation_Code',
       'DeployedFromStation_Name', 'DeployedFromLocation', 'PumpOrder',
       'PlusCode_Code', 'PlusCode_Description', 'DelayCodeId',
       'DelayCode_Description'],
      dtype='object')
Index(['IncidentNumber', 'CalYear', 'HourOfCall', 'ResourceMobilisationId',
       'Resource_Code', 'PerformanceReporting', 'DateAndTimeMobilised',
       'DateAndTimeMobile', 'DateAndTimeArrived', 'TurnoutTimeSeconds',
       'TravelTimeSeconds', 'AttendanceTimeSeconds', 'DateAndTimeLeft',
       'DateAndTimeReturned', 'DeployedFromStation_Code',
       'DeployedFromStation_Name', 'DeployedFromLocation', 'PumpOrder',
       'PlusCode_Code', 'PlusCode_Description', 'DelayCodeId',
       'DelayCode_Description'],
      dtype='object')

In [3]:
df = pd.concat([df1, df2, df3], axis=0)
df.reset_index(drop=True)

# display(df.head())
#
# df["IncidentNumber"] = df["IncidentNumber"].apply(
#     lambda x: str(x)[0:-3] if (".00" in x) & (str(x)[-3:] == ".00") else x
# )
display(df.head())
display(df.info())
display(df.describe())

,IncidentNumber,CalYear,HourOfCall,ResourceMobilisationId,Resource_Code,PerformanceReporting,DateAndTimeMobilised,DateAndTimeMobile,DateAndTimeArrived,TurnoutTimeSeconds,TravelTimeSeconds,AttendanceTimeSeconds,DateAndTimeLeft,DateAndTimeReturned,DeployedFromStation_Code,DeployedFromStation_Name,DeployedFromLocation,PumpOrder,PlusCode_Code,PlusCode_Description,DelayCodeId,DelayCode_Description
0,235138081,2009,0,38426,H271,1,01/01/2009 00:02,NaN,01/01/2009 00:07,NaN,NaN,319,01/01/2009 00:16,01/01/2009 00:23,H27,Battersea,Home Station,1,Initial,Initial Mobilisation,NaN,NaN
1,235138081,2009,0,38427,H212,2,01/01/2009 00:02,01/01/2009 00:06,01/01/2009 00:08,253.0,89.0,342,01/01/2009 00:12,01/01/2009 00:12,H21,Clapham,Home Station,2,Initial,Initial Mobilisation,NaN,NaN
2,2091,2009,0,38429,A341,1,01/01/2009 00:04,01/01/2009 00:06,01/01/2009 00:09,151.0,157.0,308,01/01/2009 00:16,01/01/2009 00:17,A34,Edmonton,Home Station,1,Initial,Initial Mobilisation,NaN,NaN
3,3091,2009,0,38430,G232,1,01/01/2009 00:04,01/01/2009 00:06,01/01/2009 00:08,108.0,102.0,210,01/01/2009 00:20,01/01/2009 00:20,G23,Hillingdon,Home Station,1,Initial,Initial Mobilisation,NaN,NaN
4,5091,2009,0,38432,A311,1,01/01/2009 00:06,01/01/2009 00:07,01/01/2009 00:09,114.0,119.0,233,01/01/2009 00:11,01/01/2009 00:22,A31,Holloway,Home Station,1,Initial,Initial Mobilisation,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
Index: 2480004 entries, 0 to 694574
Data columns (total 22 columns):
 #   Column                    Dtype
---  ------                    -----
 0   IncidentNumber            object
 1   CalYear                   int64
 2   HourOfCall                int64
 3   ResourceMobilisationId    int64
 4   Resource_Code             object
 5   PerformanceReporting      object
 6   DateAndTimeMobilised      object
 7   DateAndTimeMobile         object
 8   DateAndTimeArrived        object
 9   TurnoutTimeSeconds        float64
 10  TravelTimeSeconds         float64
 11  AttendanceTimeSeconds     int64
 12  DateAndTimeLeft           object
 13  DateAndTimeReturned       object
 14  DeployedFromStation_Code  object
 15  DeployedFromStation_Name  object
 16  DeployedFromLocation      object
 17  PumpOrder                 int64
 18  PlusCode_Code             object
 19  PlusCode_Description      object
 20  DelayCodeId               float64
 21  DelayCode_Description     object
dtypes: float64(3), int64(5), object(14)
memory usage: 435.2+ MB

None

,CalYear,HourOfCall,ResourceMobilisationId,TurnoutTimeSeconds,TravelTimeSeconds,AttendanceTimeSeconds,PumpOrder,DelayCodeId
count,2.480004e+06,2.480004e+06,2.480004e+06,2.451489e+06,2.451395e+06,2.480004e+06,2.480004e+06,618068.000000
mean,2.016683e+03,1.346944e+01,4.844750e+06,7.945743e+01,2.748673e+02,3.526280e+02,1.458338e+00,10.492389
std,4.762131e+00,6.327579e+00,1.339961e+06,4.445476e+01,1.514902e+02,1.544398e+02,7.735493e-01,2.196355
min,2.009000e+03,0.000000e+00,3.842600e+04,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,3.000000
25%,2.012000e+03,9.000000e+00,4.012022e+06,5.400000e+01,1.730000e+02,2.510000e+02,1.000000e+00,9.000000
50%,2.017000e+03,1.400000e+01,4.925274e+06,7.300000e+01,2.480000e+02,3.270000e+02,1.000000e+00,12.000000
75%,2.021000e+03,1.900000e+01,5.872214e+06,9.600000e+01,3.440000e+02,4.230000e+02,2.000000e+00,12.000000
max,2.024000e+03,2.300000e+01,6.808854e+06,1.192000e+03,1.198000e+03,1.200000e+03,1.300000e+01,13.000000

In [4]:
# display(df.isna().sum())
all_na = df.isna().sum()
lignes = df.shape[0]
print(lignes)
list = {}
list["colonne"] = []
list["na"] = []
list["pourcentage"] = []
for colonne, na in zip(all_na.index, all_na.values):
    pourcentage = round(na / lignes * 100, 4)
    list["colonne"].append(colonne)
    list["na"].append(na)
    list["pourcentage"].append(pourcentage)
    print(f"{na}, {pourcentage}%")
a = pd.DataFrame(list)
display(a)

2480004
0, 0.0%
0, 0.0%
0, 0.0%
0, 0.0%
0, 0.0%
0, 0.0%
0, 0.0%
28378, 1.1443%
0, 0.0%
28515, 1.1498%
28609, 1.1536%
0, 0.0%
46459, 1.8733%
1506846, 60.7598%
27, 0.0011%
27, 0.0011%
1194, 0.0481%
0, 0.0%
0, 0.0%
0, 0.0%
1861936, 75.0779%
1861936, 75.0779%

                     colonne       na  pourcentage
0             IncidentNumber        0       0.0000
1                    CalYear        0       0.0000
2                 HourOfCall        0       0.0000
3     ResourceMobilisationId        0       0.0000
4              Resource_Code        0       0.0000
5       PerformanceReporting        0       0.0000
6       DateAndTimeMobilised        0       0.0000
7          DateAndTimeMobile    28378       1.1443
8         DateAndTimeArrived        0       0.0000
9         TurnoutTimeSeconds    28515       1.1498
10         TravelTimeSeconds    28609       1.1536
11     AttendanceTimeSeconds        0       0.0000
12           DateAndTimeLeft    46459       1.8733
13       DateAndTimeReturned  1506846      60.7598
14  DeployedFromStation_Code       27       0.0011
15  DeployedFromStation_Name       27       0.0011
16      DeployedFromLocation     1194       0.0481
17                 PumpOrder        0       0.0000
18             PlusCode_Code        0       0.0000
19      PlusCode_Description        0       0.0000
20               DelayCodeId  1861936      75.0779
21     DelayCode_Description  1861936      75.0779

In [5]:
for col in df.columns:
    uniques = df[col].unique()
    if len(uniques) < 15:
        print(col, uniques)

PerformanceReporting ['1' '2' 'Not Used']
DeployedFromLocation ['Home Station' 'Other Station' nan]
PumpOrder [ 1  2  3  4  5  6  7  8  9 11 10 12 13]
PlusCode_Code ['Initial' 'rca' 'add']
PlusCode_Description ['Initial Mobilisation' 'Running call' 'Addition to first attendance']
DelayCodeId [nan 12.  5.  9.  8.  7.  6. 11. 13. 10.  3.]
DelayCode_Description [nan 'Not held up' 'Address incomplete/wrong' 'Traffic, roadworks, etc'
 'Traffic calming measures' 'Arrived but held up - Other reason'
 'Appliance/Equipment defect' 'Mob/Radio problems when mobilised'
 'On outside duty when mobilised' 'Weather conditions'
 'At drills when mobilised']