In [6]:
import pandas as pd

# Ajuster les paramÃ¨tres pour afficher toutes les lignes et colonnes
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)


df_incidents = pd.read_csv("../data/Incidents.csv", sep=";", low_memory=False)
df_mobilisations = pd.read_csv("../data/Mobilisation.csv", sep=";", low_memory=False)

display(df_incidents.head())
display(df_incidents.info())
display(df_incidents.describe())

display(df_mobilisations.head())
display(df_mobilisations.info())
display(df_mobilisations.describe())

,Unnamed: 0,IncidentNumber,DateOfCall,CalYear,TimeOfCall,HourOfCall,IncidentGroup,StopCodeDescription,SpecialServiceType,PropertyCategory,PropertyType,AddressQualifier,Postcode_full,Postcode_district,UPRN,USRN,IncGeo_BoroughCode,IncGeo_BoroughName,ProperCase,IncGeo_WardCode,IncGeo_WardName,IncGeo_WardNameNew,Easting_m,Northing_m,Easting_rounded,Northing_rounded,Latitude,Longitude,FRS,IncidentStationGround,FirstPumpArriving_AttendanceTime,FirstPumpArriving_DeployedFromStation,SecondPumpArriving_AttendanceTime,SecondPumpArriving_DeployedFromStation,NumStationsWithPumpsAttending,NumPumpsAttending,PumpCount,PumpMinutesRounded,Notional Cost (Â£),NumCalls
0,0,235138081,2009-01-01,2009,1900-01-01 00:00:37,0,Special Service,Special Service,RTC,Road Vehicle,Car,In street close to gazetteer location,SW11 4LB,SW11,NaN,NaN,E09000032,WANDSWORTH,Wandsworth,E05014010,Battersea Park,Battersea Park,528652.0,176830.0,528650,176850,51.475812,-0.148894,London,Battersea,319.0,Battersea,342.0,Clapham,2.0,2.0,2,60,255,1.0
1,1,1091,2009-01-01,2009,1900-01-01 00:00:46,0,Special Service,Special Service,Assist other agencies,Outdoor,Lake/pond/reservoir,Open land/water - nearest gazetteer location,SE1 7SG,SE1,NaN,NaN,E09000022,LAMBETH,Lambeth,E05014118,Waterloo & South Bank,Waterloo & South Bank,530485.0,179007.0,530450,179050,51.494957,-0.121712,London,Lambeth,NaN,NaN,NaN,NaN,NaN,NaN,1,60,255,1.0
2,2,2091,2009-01-01,2009,1900-01-01 00:03:00,0,Fire,Secondary Fire,NaN,Outdoor,Road surface/pavement,In street outside gazetteer location,N9 9EL,N9,NaN,NaN,E09000010,ENFIELD,Enfield,E05013682,Haselbury,Haselbury,533773.0,194492.0,533750,194450,51.633342,-0.068488,London,Edmonton,308.0,Edmonton,NaN,NaN,1.0,1.0,1,60,255,2.0
3,3,3091,2009-01-01,2009,1900-01-01 00:04:27,0,Fire,Secondary Fire,NaN,Outdoor,Domestic garden (vegetation not equipment),On land associated with building,UB10 0DG,UB10,1.000215e+11,21401491.0,E09000017,HILLINGDON,Hillingdon,E05013571,Hillingdon East,Hillingdon East,507738.0,182805.0,507750,182850,51.533882,-0.448089,London,Hillingdon,210.0,Hillingdon,NaN,NaN,1.0,1.0,1,60,255,2.0
4,4,5091,2009-01-01,2009,1900-01-01 00:05:39,0,Fire,Secondary Fire,NaN,Outdoor,Cycle path/public footpath/bridleway,In street outside gazetteer location,N7 8HG,N7,NaN,NaN,E09000019,ISLINGTON,Islington,E05013708,Laycock,Laycock,531058.0,185307.0,531050,185350,51.551441,-0.111120,London,Holloway,233.0,Holloway,250.0,Holloway,1.0,2.0,2,60,255,1.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1771413 entries, 0 to 1771412
Data columns (total 40 columns):
 #   Column                                  Dtype
---  ------                                  -----
 0   Unnamed: 0                              int64
 1   IncidentNumber                          object
 2   DateOfCall                              object
 3   CalYear                                 int64
 4   TimeOfCall                              object
 5   HourOfCall                              int64
 6   IncidentGroup                           object
 7   StopCodeDescription                     object
 8   SpecialServiceType                      object
 9   PropertyCategory                        object
 10  PropertyType                            object
 11  AddressQualifier                        object
 12  Postcode_full                           object
 13  Postcode_district                       object
 14  UPRN                                    float64
 15  USRN                                    float64
 16  IncGeo_BoroughCode                      object
 17  IncGeo_BoroughName                      object
 18  ProperCase                              object
 19  IncGeo_WardCode                         object
 20  IncGeo_WardName                         object
 21  IncGeo_WardNameNew                      object
 22  Easting_m                               float64
 23  Northing_m                              float64
 24  Easting_rounded                         int64
 25  Northing_rounded                        int64
 26  Latitude                                float64
 27  Longitude                               float64
 28  FRS                                     object
 29  IncidentStationGround                   object
 30  FirstPumpArriving_AttendanceTime        float64
 31  FirstPumpArriving_DeployedFromStation   object
 32  SecondPumpArriving_AttendanceTime       float64
 33  SecondPumpArriving_DeployedFromStation  object
 34  NumStationsWithPumpsAttending           float64
 35  NumPumpsAttending                       float64
 36  PumpCount                               int64
 37  PumpMinutesRounded                      int64
 38  Notional Cost (Â£)                       int64
 39  NumCalls                                float64
dtypes: float64(11), int64(8), object(21)
memory usage: 540.6+ MB

None

,Unnamed: 0,CalYear,HourOfCall,UPRN,USRN,Easting_m,Northing_m,Easting_rounded,Northing_rounded,Latitude,Longitude,FirstPumpArriving_AttendanceTime,SecondPumpArriving_AttendanceTime,NumStationsWithPumpsAttending,NumPumpsAttending,PumpCount,PumpMinutesRounded,Notional Cost (Â£),NumCalls
count,1.771413e+06,1.771413e+06,1.771413e+06,1.630080e+06,1.608542e+06,886544.000000,886544.000000,1.771413e+06,1.771413e+06,886544.000000,886544.000000,1.635724e+06,633568.00000,1.757310e+06,1.757310e+06,1.771413e+06,1.771413e+06,1.771413e+06,1.769564e+06
mean,8.857060e+05,2.016456e+03,1.346887e+01,2.192842e+10,2.031355e+07,530632.668589,180365.050822,5.306598e+05,1.804883e+05,51.445867,-0.118837,3.182711e+02,395.38522,1.369216e+00,1.554288e+00,1.591798e+00,7.629298e+01,4.039678e+02,1.329551e+00
std,5.113630e+05,4.776673e+00,6.252623e+00,4.753228e+10,4.378135e+06,10336.679483,7434.831140,9.725543e+03,7.357290e+03,1.775330,0.148994,1.386791e+02,153.33425,6.836639e-01,8.418938e-01,1.586884e+00,5.678902e+02,2.710555e+03,1.488664e+00
min,0.000000e+00,2.009000e+03,0.000000e+00,0.000000e+00,0.000000e+00,503582.000000,155901.000000,5.035500e+05,1.559500e+05,0.000000,-0.510155,1.000000e+00,1.00000,1.000000e+00,1.000000e+00,1.000000e+00,6.000000e+01,2.550000e+02,1.000000e+00
25%,4.428530e+05,2.012000e+03,9.000000e+00,0.000000e+00,2.040096e+07,525185.000000,175989.000000,5.252500e+05,1.761500e+05,51.468944,-0.197424,2.310000e+02,295.00000,1.000000e+00,1.000000e+00,1.000000e+00,6.000000e+01,2.600000e+02,1.000000e+00
50%,8.857060e+05,2.017000e+03,1.400000e+01,0.000000e+00,2.120127e+07,530797.000000,180982.000000,5.309500e+05,1.810500e+05,51.512881,-0.116981,2.960000e+02,369.00000,1.000000e+00,1.000000e+00,1.000000e+00,6.000000e+01,3.280000e+02,1.000000e+00
75%,1.328559e+06,2.021000e+03,1.900000e+01,1.001319e+10,2.210116e+07,536834.000000,184939.000000,5.362500e+05,1.851500e+05,51.547757,-0.028701,3.780000e+02,464.00000,2.000000e+00,2.000000e+00,2.000000e+00,6.000000e+01,3.640000e+02,1.000000e+00
max,1.771412e+06,2.024000e+03,2.300000e+01,2.000044e+11,9.999042e+07,561126.000000,200906.000000,6.111500e+05,3.024500e+05,51.691670,0.322219,1.200000e+03,1200.00000,4.600000e+01,1.060000e+02,9.510000e+02,5.256290e+05,2.277726e+06,3.690000e+02

,Unnamed: 0,IncidentNumber,CalYear,HourOfCall,ResourceMobilisationId,Resource_Code,PerformanceReporting,DateAndTimeMobilised,DateAndTimeMobile,DateAndTimeArrived,AttendanceTimeSeconds,DateAndTimeLeft,DateAndTimeReturned,DeployedFromStation_Code,DeployedFromStation_Name,DeployedFromLocation,PumpOrder,PlusCode_Code,PlusCode_Description,DelayCodeId,DelayCode_Description,PumpSecondsOnSite_min,PumpSecondsOnSite_max,TurnoutTimeSeconds_min,TurnoutTimeSeconds_max,TravelTimeSeconds_min,TravelTimeSeconds_max
0,0,235138081,2009,0,38426,H271,1,2009-01-01 00:02:00,NaN,2009-01-01 00:07:00,319,2009-01-01 00:16:00,2009-01-01 00:23:00,H27,Battersea,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,240.0,540.0,253.0,253.0,89.0,89.0
1,2,2091,2009,0,38429,A341,1,2009-01-01 00:04:00,2009-01-01 00:06:00,2009-01-01 00:09:00,308,2009-01-01 00:16:00,2009-01-01 00:17:00,A34,Edmonton,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,420.0,420.0,151.0,151.0,157.0,157.0
2,3,3091,2009,0,38430,G232,1,2009-01-01 00:04:00,2009-01-01 00:06:00,2009-01-01 00:08:00,210,2009-01-01 00:20:00,2009-01-01 00:20:00,G23,Hillingdon,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,720.0,720.0,108.0,108.0,102.0,102.0
3,4,5091,2009,0,38432,A311,1,2009-01-01 00:06:00,2009-01-01 00:07:00,2009-01-01 00:09:00,233,2009-01-01 00:11:00,2009-01-01 00:22:00,A31,Holloway,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,120.0,120.0,114.0,142.0,108.0,119.0
4,6,6091,2009,0,38434,A432,1,2009-01-01 00:06:00,2009-01-01 00:07:00,2009-01-01 00:09:00,172,2009-01-01 00:15:00,2009-01-01 00:23:00,A43,Kentish Town,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,360.0,360.0,83.0,95.0,89.0,127.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1642042 entries, 0 to 1642041
Data columns (total 27 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   Unnamed: 0                1642042 non-null  int64
 1   IncidentNumber            1642042 non-null  object
 2   CalYear                   1642042 non-null  int64
 3   HourOfCall                1642042 non-null  int64
 4   ResourceMobilisationId    1642042 non-null  int64
 5   Resource_Code             1642042 non-null  object
 6   PerformanceReporting      1642042 non-null  object
 7   DateAndTimeMobilised      1642042 non-null  object
 8   DateAndTimeMobile         1620627 non-null  object
 9   DateAndTimeArrived        1642042 non-null  object
 10  AttendanceTimeSeconds     1642042 non-null  int64
 11  DateAndTimeLeft           1605008 non-null  object
 12  DateAndTimeReturned       662215 non-null   object
 13  DeployedFromStation_Code  1642025 non-null  object
 14  DeployedFromStation_Name  1642025 non-null  object
 15  DeployedFromLocation      1641398 non-null  object
 16  PumpOrder                 1642042 non-null  int64
 17  PlusCode_Code             1642042 non-null  object
 18  PlusCode_Description      1642042 non-null  object
 19  DelayCodeId               472034 non-null   float64
 20  DelayCode_Description     472034 non-null   object
 21  PumpSecondsOnSite_min     1612710 non-null  float64
 22  PumpSecondsOnSite_max     1612710 non-null  float64
 23  TurnoutTimeSeconds_min    1624689 non-null  float64
 24  TurnoutTimeSeconds_max    1624689 non-null  float64
 25  TravelTimeSeconds_min     1624692 non-null  float64
 26  TravelTimeSeconds_max     1624692 non-null  float64
dtypes: float64(7), int64(6), object(14)
memory usage: 338.3+ MB

None

,Unnamed: 0,CalYear,HourOfCall,ResourceMobilisationId,AttendanceTimeSeconds,PumpOrder,DelayCodeId,PumpSecondsOnSite_min,PumpSecondsOnSite_max,TurnoutTimeSeconds_min,TurnoutTimeSeconds_max,TravelTimeSeconds_min,TravelTimeSeconds_max
count,1.642042e+06,1.642042e+06,1.642042e+06,1.642042e+06,1.642042e+06,1.642042e+06,472034.000000,1.612710e+06,1.612710e+06,1.624689e+06,1.624689e+06,1.624692e+06,1.624692e+06
mean,1.222640e+06,2.016567e+03,1.342830e+01,4.812955e+06,3.233680e+02,1.051394e+00,10.461713,9.351513e+02,1.177427e+03,7.148163e+01,8.616234e+01,2.418839e+02,2.922149e+02
std,7.163337e+05,4.766098e+00,6.272730e+00,1.352174e+06,1.434424e+02,2.741799e-01,2.222790,1.401775e+03,1.702221e+03,4.036752e+01,4.899994e+01,1.370119e+02,1.613471e+02
min,0.000000e+00,2.009000e+03,0.000000e+00,3.842600e+04,0.000000e+00,1.000000e+00,3.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,6.045932e+05,2.012000e+03,9.000000e+00,3.991305e+06,2.330000e+02,1.000000e+00,9.000000,2.400000e+02,3.600000e+02,4.800000e+01,6.000000e+01,1.530000e+02,1.840000e+02
50%,1.206628e+06,2.017000e+03,1.400000e+01,4.875912e+06,2.990000e+02,1.000000e+00,12.000000,5.400000e+02,6.600000e+02,6.700000e+01,7.900000e+01,2.180000e+02,2.630000e+02
75%,1.845841e+06,2.021000e+03,1.900000e+01,5.852055e+06,3.840000e+02,1.000000e+00,12.000000,1.020000e+03,1.260000e+03,8.800000e+01,1.030000e+02,3.010000e+02,3.650000e+02
max,2.480003e+06,2.024000e+03,2.300000e+01,6.808854e+06,1.200000e+03,9.000000e+00,13.000000,4.596000e+04,6.432000e+04,1.192000e+03,1.192000e+03,1.198000e+03,1.198000e+03

In [ ]:
# Conversion des dates

# DateOfCall 09-Aug-21
# TimeOfCall 00:04:25
# DateAndTimeMobilised 01/01/2018 00:04
# DateAndTimeMobile 01/01/2018 00:04
# DateAndTimeArrived 01/01/2018 00:04
# DateAndTimeLeft 01/01/2018 00:16
# DateAndTimeReturned 01/01/2018 00:16

# pd.to_datetime('2030-26-10', format='%Y-%d-%m')
# pd.to_datetime('2018-10-26 12:00:00', format='%Y-%m-%d %H:%M:%S')

df_incidents.DateOfCall = pd.to_datetime(df_incidents.DateOfCall)
df_incidents.TimeOfCall = pd.to_datetime(df_incidents.TimeOfCall)
df_mobilisations.DateAndTimeMobilised = pd.to_datetime(df_mobilisations.DateAndTimeMobilised)
df_mobilisations.DateAndTimeMobile = pd.to_datetime(df_mobilisations.DateAndTimeMobile)
df_mobilisations.DateAndTimeArrived = pd.to_datetime(df_mobilisations.DateAndTimeArrived)
df_mobilisations.DateAndTimeLeft = pd.to_datetime(df_mobilisations.DateAndTimeLeft)
df_mobilisations.DateAndTimeReturned = pd.to_datetime(df_mobilisations.DateAndTimeReturned)

In [ ]:
print(df_incidents.shape)
print(df_mobilisations.shape)

# Merge
df = pd.merge(

    df_incidents,
    df_mobilisations,
    left_on="IncidentNumber",
    right_on="IncidentNumber",
    how="left",
)

print(df.shape)
display(df.head())
display(df.info())
display(df.describe())

(1771413, 39)
(1642042, 29)
(1771413, 67)

,IncidentNumber,DateOfCall,CalYear_x,TimeOfCall,HourOfCall_x,IncidentGroup,StopCodeDescription,SpecialServiceType,PropertyCategory,PropertyType,AddressQualifier,Postcode_full,Postcode_district,UPRN,USRN,IncGeo_BoroughCode,IncGeo_BoroughName,ProperCase,IncGeo_WardCode,IncGeo_WardName,IncGeo_WardNameNew,Easting_m,Northing_m,Easting_rounded,Northing_rounded,Latitude,Longitude,FRS,IncidentStationGround,FirstPumpArriving_AttendanceTime,FirstPumpArriving_DeployedFromStation,SecondPumpArriving_AttendanceTime,SecondPumpArriving_DeployedFromStation,NumStationsWithPumpsAttending,NumPumpsAttending,PumpCount,PumpMinutesRounded,Notional Cost (Â£),NumCalls,CalYear_y,HourOfCall_y,ResourceMobilisationId,Resource_Code,PerformanceReporting,DateAndTimeMobilised,DateAndTimeMobile,DateAndTimeArrived,TurnoutTimeSeconds,TravelTimeSeconds,AttendanceTimeSeconds,DateAndTimeLeft,DateAndTimeReturned,DeployedFromStation_Code,DeployedFromStation_Name,DeployedFromLocation,PumpOrder,PlusCode_Code,PlusCode_Description,DelayCodeId,DelayCode_Description,PumpOnSiteSeconds,PumpSecondsOnSite_min,PumpSecondsOnSite_max,TurnoutTimeSeconds_min,TurnoutTimeSeconds_max,TravelTimeSeconds_min,TravelTimeSeconds_max
0,235138081,2009-01-01,2009,1900-01-01 00:00:37,0,Special Service,Special Service,RTC,Road Vehicle,Car,In street close to gazetteer location,SW11 4LB,SW11,NaN,NaN,E09000032,WANDSWORTH,Wandsworth,E05014010,Battersea Park,Battersea Park,528652.0,176830.0,528650,176850,51.475812,-0.148894,London,Battersea,319.0,Battersea,342.0,Clapham,2.0,2.0,2,60,255,1.0,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1091,2009-01-01,2009,1900-01-01 00:00:46,0,Special Service,Special Service,Assist other agencies,Outdoor,Lake/pond/reservoir,Open land/water - nearest gazetteer location,SE1 7SG,SE1,NaN,NaN,E09000022,LAMBETH,Lambeth,E05014118,Waterloo & South Bank,Waterloo & South Bank,530485.0,179007.0,530450,179050,51.494957,-0.121712,London,Lambeth,NaN,NaN,NaN,NaN,NaN,NaN,1,60,255,1.0,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2091,2009-01-01,2009,1900-01-01 00:03:00,0,Fire,Secondary Fire,NaN,Outdoor,Road surface/pavement,In street outside gazetteer location,N9 9EL,N9,NaN,NaN,E09000010,ENFIELD,Enfield,E05013682,Haselbury,Haselbury,533773.0,194492.0,533750,194450,51.633342,-0.068488,London,Edmonton,308.0,Edmonton,NaN,NaN,1.0,1.0,1,60,255,2.0,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3091,2009-01-01,2009,1900-01-01 00:04:27,0,Fire,Secondary Fire,NaN,Outdoor,Domestic garden (vegetation not equipment),On land associated with building,UB10 0DG,UB10,1.000215e+11,21401491.0,E09000017,HILLINGDON,Hillingdon,E05013571,Hillingdon East,Hillingdon East,507738.0,182805.0,507750,182850,51.533882,-0.448089,London,Hillingdon,210.0,Hillingdon,NaN,NaN,1.0,1.0,1,60,255,2.0,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5091,2009-01-01,2009,1900-01-01 00:05:39,0,Fire,Secondary Fire,NaN,Outdoor,Cycle path/public footpath/bridleway,In street outside gazetteer location,N7 8HG,N7,NaN,NaN,E09000019,ISLINGTON,Islington,E05013708,Laycock,Laycock,531058.0,185307.0,531050,185350,51.551441,-0.111120,London,Holloway,233.0,Holloway,250.0,Holloway,1.0,2.0,2,60,255,1.0,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1771413 entries, 0 to 1771412
Data columns (total 67 columns):
 #   Column                                  Dtype
---  ------                                  -----
 0   IncidentNumber                          object
 1   DateOfCall                              datetime64[ns]
 2   CalYear_x                               int64
 3   TimeOfCall                              datetime64[ns]
 4   HourOfCall_x                            int64
 5   IncidentGroup                           object
 6   StopCodeDescription                     object
 7   SpecialServiceType                      object
 8   PropertyCategory                        object
 9   PropertyType                            object
 10  AddressQualifier                        object
 11  Postcode_full                           object
 12  Postcode_district                       object
 13  UPRN                                    float64
 14  USRN                                    float64
 15  IncGeo_BoroughCode                      object
 16  IncGeo_BoroughName                      object
 17  ProperCase                              object
 18  IncGeo_WardCode                         object
 19  IncGeo_WardName                         object
 20  IncGeo_WardNameNew                      object
 21  Easting_m                               float64
 22  Northing_m                              float64
 23  Easting_rounded                         int64
 24  Northing_rounded                        int64
 25  Latitude                                float64
 26  Longitude                               float64
 27  FRS                                     object
 28  IncidentStationGround                   object
 29  FirstPumpArriving_AttendanceTime        float64
 30  FirstPumpArriving_DeployedFromStation   object
 31  SecondPumpArriving_AttendanceTime       float64
 32  SecondPumpArriving_DeployedFromStation  object
 33  NumStationsWithPumpsAttending           float64
 34  NumPumpsAttending                       float64
 35  PumpCount                               int64
 36  PumpMinutesRounded                      int64
 37  Notional Cost (Â£)                       int64
 38  NumCalls                                float64
 39  CalYear_y                               float64
 40  HourOfCall_y                            float64
 41  ResourceMobilisationId                  float64
 42  Resource_Code                           object
 43  PerformanceReporting                    object
 44  DateAndTimeMobilised                    datetime64[ns]
 45  DateAndTimeMobile                       datetime64[ns]
 46  DateAndTimeArrived                      datetime64[ns]
 47  TurnoutTimeSeconds                      float64
 48  TravelTimeSeconds                       float64
 49  AttendanceTimeSeconds                   float64
 50  DateAndTimeLeft                         datetime64[ns]
 51  DateAndTimeReturned                     datetime64[ns]
 52  DeployedFromStation_Code                object
 53  DeployedFromStation_Name                object
 54  DeployedFromLocation                    object
 55  PumpOrder                               float64
 56  PlusCode_Code                           object
 57  PlusCode_Description                    object
 58  DelayCodeId                             float64
 59  DelayCode_Description                   object
 60  PumpOnSiteSeconds                       float64
 61  PumpSecondsOnSite_min                   float64
 62  PumpSecondsOnSite_max                   float64
 63  TurnoutTimeSeconds_min                  float64
 64  TurnoutTimeSeconds_max                  float64
 65  TravelTimeSeconds_min                   float64
 66  TravelTimeSeconds_max                   float64
dtypes: datetime64[ns](7), float64(26), int64(7), object(27)
memory usage: 905.5+ MB

None

,DateOfCall,CalYear_x,TimeOfCall,HourOfCall_x,UPRN,USRN,Easting_m,Northing_m,Easting_rounded,Northing_rounded,Latitude,Longitude,FirstPumpArriving_AttendanceTime,SecondPumpArriving_AttendanceTime,NumStationsWithPumpsAttending,NumPumpsAttending,PumpCount,PumpMinutesRounded,Notional Cost (Â£),NumCalls,CalYear_y,HourOfCall_y,ResourceMobilisationId,DateAndTimeMobilised,DateAndTimeMobile,DateAndTimeArrived,TurnoutTimeSeconds,TravelTimeSeconds,AttendanceTimeSeconds,DateAndTimeLeft,DateAndTimeReturned,PumpOrder,DelayCodeId,PumpOnSiteSeconds,PumpSecondsOnSite_min,PumpSecondsOnSite_max,TurnoutTimeSeconds_min,TurnoutTimeSeconds_max,TravelTimeSeconds_min,TravelTimeSeconds_max
count,1771413,1.771413e+06,1771413,1.771413e+06,1.630080e+06,1.608542e+06,886544.000000,886544.000000,1.771413e+06,1.771413e+06,886544.000000,886544.000000,1.635724e+06,633568.00000,1.757310e+06,1.757310e+06,1.771413e+06,1.771413e+06,1.771413e+06,1.769564e+06,1.023566e+06,1.023566e+06,1.023566e+06,1023566,1015755,1023566,1.015727e+06,1.015657e+06,1.023566e+06,1022589,65374,1.023566e+06,290202.000000,1.022589e+06,1.022842e+06,1.022842e+06,1.017313e+06,1.017313e+06,1.017283e+06,1.017283e+06
mean,2016-12-16 06:27:20.863649024,2.016456e+03,1900-01-01 13:58:01.595983360,1.346887e+01,2.192842e+10,2.031355e+07,530632.668589,180365.050822,5.306598e+05,1.804883e+05,51.445867,-0.118837,3.182711e+02,395.38522,1.369216e+00,1.554288e+00,1.591798e+00,7.629298e+01,4.039678e+02,1.329551e+00,2.019699e+03,1.337159e+01,5.603773e+06,2020-03-15 08:00:39.920903168,2020-03-18 00:23:19.052467200,2020-03-15 08:06:03.090137600,7.329936e+01,2.512566e+02,3.229865e+02,2020-03-16 06:04:31.338279168,2015-06-13 22:17:26.048888064,1.081834e+00,10.438036,1.147633e+03,9.522603e+02,1.201726e+03,6.677783e+01,8.129254e+01,2.433656e+02,2.954396e+02
min,2009-01-01 00:00:00,2.009000e+03,1900-01-01 00:00:00,0.000000e+00,0.000000e+00,0.000000e+00,503582.000000,155901.000000,5.035500e+05,1.559500e+05,0.000000,-0.510155,1.000000e+00,1.00000,1.000000e+00,1.000000e+00,1.000000e+00,6.000000e+01,2.550000e+02,1.000000e+00,2.015000e+03,0.000000e+00,4.436381e+06,2015-01-01 00:02:00,2015-01-01 00:03:00,2015-01-01 00:07:00,0.000000e+00,0.000000e+00,0.000000e+00,2015-01-01 00:15:00,2015-01-01 00:25:00,1.000000e+00,3.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2012-08-17 00:00:00,2.012000e+03,1900-01-01 09:51:06,9.000000e+00,0.000000e+00,2.040096e+07,525185.000000,175989.000000,5.252500e+05,1.761500e+05,51.468944,-0.197424,2.310000e+02,295.00000,1.000000e+00,1.000000e+00,1.000000e+00,6.000000e+01,2.600000e+02,1.000000e+00,2.017000e+03,9.000000e+00,4.986571e+06,2017-09-14 17:55:15,2017-09-17 17:42:00,2017-09-14 17:59:45,5.100000e+01,1.630000e+02,2.350000e+02,2017-09-16 00:05:00,2015-03-30 12:59:00,1.000000e+00,9.000000,3.600000e+02,2.400000e+02,3.600000e+02,4.600000e+01,5.800000e+01,1.590000e+02,1.900000e+02
50%,2017-01-04 00:00:00,2.017000e+03,1900-01-01 14:45:16,1.400000e+01,0.000000e+00,2.120127e+07,530797.000000,180982.000000,5.309500e+05,1.810500e+05,51.512881,-0.116981,2.960000e+02,369.00000,1.000000e+00,1.000000e+00,1.000000e+00,6.000000e+01,3.280000e+02,1.000000e+00,2.020000e+03,1.400000e+01,5.616273e+06,2020-04-24 20:30:30,2020-04-30 23:04:00,2020-04-24 20:32:00,6.900000e+01,2.290000e+02,3.010000e+02,2020-04-25 23:01:00,2015-06-17 17:21:30,1.000000e+00,12.000000,6.600000e+02,5.400000e+02,6.600000e+02,6.400000e+01,7.600000e+01,2.230000e+02,2.680000e+02
75%,2021-04-30 00:00:00,2.021000e+03,1900-01-01 19:02:12,1.900000e+01,1.001319e+10,2.210116e+07,536834.000000,184939.000000,5.362500e+05,1.851500e+05,51.547757,-0.028701,3.780000e+02,464.00000,2.000000e+00,2.000000e+00,2.000000e+00,6.000000e+01,3.640000e+02,1.000000e+00,2.022000e+03,1.900000e+01,6.203828e+06,2022-10-06 03:56:45,2022-10-07 20:01:30,2022-10-06 04:07:30,8.900000e+01,3.110000e+02,3.840000e+02,2022-10-06 13:20:00,2015-08-28 16:43:45,1.000000e+00,12.000000,1.260000e+03,1.080000e+03,1.320000e+03,8.200000e+01,9.700000e+01,3.020000e+02,3.680000e+02
max,2024-10-31 00:00:00,2.024000e+03,1900-01-01 23:59:59,2.300000e+01,2.000044e+11,9.999042e+07,561126.000000,200906.000000,6.111500e+05,3.024500e+05,51.691670,0.322219,1.200000e+03,1200.00000,4.600000e+01,1.060000e+02,9.510000e+02,5.256290e+05,2.277726e+06,3.690000e+02,2.024000e+03,2.300000e+01,6.808854e+06,2024-10-30 23:46:00,2024-10-30 23:47:00,2024-10-30 23:52:00,1.192000e+03,1.191000e+03,1.200000e+03,2024-10-31 01:37:00,2017-05-27 15:55:00,9.000000e+00,13.000000,6.432000e+04,4.596000e+04,6.432000e+04,1.192000e+03,1.192000e+03,1.191000e+03,1.195000e+03
std,NaN,4.776673e+00,NaN,6.252623e+00,4.753228e+10,4.378135e+06,10336.679483,7434.831140,9.725543e+03,7.357290e+03,1.775330,0.148994,1.386791e+02,153.33425,6.836639e-01,8.418938e-01,1.586884e+00,5.678902e+02,2.710555e+03,1.488664e+00,2.873559e+00,6.297042e+00,6.928577e+05,NaN,NaN,NaN,3.961077e+01,1.368598e+02,1.404627e+02,NaN,NaN,3.425595e-01,2.180766,1.635773e+03,1.413843e+03,1.711782e+03,3.651879e+01,4.478784e+01,1.318379e+02,1.577422e+02

In [ ]:
df.to_csv("../data/Merge.csv", sep=';')