In [2]:
# -----------------------------Exploration, mise en forme et concaténation des fichiers incidents 

# Importation de la bibliothèque Pandas pour la manipulation des données
import pandas as pd

# Ajuster les paramètres pour afficher toutes les lignes et colonnes
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)

# Charger les données des incidents de la London Fire Brigade (LFB)
df1 = pd.read_csv(
    "../data/LFB Incident data from 2009 - 2017.csv", sep=",", low_memory=False
)
df2 = pd.read_csv(
    "../data/LFB Incident data from 2018 onwards.csv", sep=",", low_memory=False
)

In [3]:
# Résumé des informations sur chaque DataFrame 
display(df1.info())
display(df2.info())

# Afficher la liste des colonnes de chaque DataFrame
print(df2.columns)
print(df2.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 988279 entries, 0 to 988278
Data columns (total 39 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   IncidentNumber                          988279 non-null  object
 1   DateOfCall                              988279 non-null  object
 2   CalYear                                 988279 non-null  int64
 3   TimeOfCall                              988279 non-null  object
 4   HourOfCall                              988279 non-null  int64
 5   IncidentGroup                           988279 non-null  object
 6   StopCodeDescription                     988279 non-null  object
 7   SpecialServiceType                      299101 non-null  object
 8   PropertyCategory                        988279 non-null  object
 9   PropertyType                            988279 non-null  object
 10  AddressQualifier                        988279 non-null  object
 11  Postcode_full                           536765 non-null  object
 12  Postcode_district                       988279 non-null  object
 13  UPRN                                    846946 non-null  float64
 14  USRN                                    825408 non-null  float64
 15  IncGeo_BoroughCode                      988279 non-null  object
 16  IncGeo_BoroughName                      988279 non-null  object
 17  ProperCase                              988279 non-null  object
 18  IncGeo_WardCode                         988279 non-null  object
 19  IncGeo_WardName                         988279 non-null  object
 20  IncGeo_WardNameNew                      988279 non-null  object
 21  Easting_m                               536765 non-null  float64
 22  Northing_m                              536765 non-null  float64
 23  Easting_rounded                         988279 non-null  int64
 24  Northing_rounded                        988279 non-null  int64
 25  Latitude                                536765 non-null  float64
 26  Longitude                               536765 non-null  float64
 27  FRS                                     988279 non-null  object
 28  IncidentStationGround                   988279 non-null  object
 29  FirstPumpArriving_AttendanceTime        896908 non-null  float64
 30  FirstPumpArriving_DeployedFromStation   896903 non-null  object
 31  SecondPumpArriving_AttendanceTime       346421 non-null  float64
 32  SecondPumpArriving_DeployedFromStation  346419 non-null  object
 33  NumStationsWithPumpsAttending           982763 non-null  float64
 34  NumPumpsAttending                       982763 non-null  float64
 35  PumpCount                               988279 non-null  int64
 36  PumpMinutesRounded                      988279 non-null  int64
 37  Notional Cost (£)                       988279 non-null  int64
 38  NumCalls                                986451 non-null  float64
dtypes: float64(11), int64(7), object(21)
memory usage: 294.1+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 783134 entries, 0 to 783133
Data columns (total 39 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   IncidentNumber                          783134 non-null  object
 1   DateOfCall                              783134 non-null  object
 2   CalYear                                 783134 non-null  int64
 3   TimeOfCall                              783134 non-null  object
 4   HourOfCall                              783134 non-null  int64
 5   IncidentGroup                           783128 non-null  object
 6   StopCodeDescription                     783134 non-null  object
 7   SpecialServiceType                      276450 non-null  object
 8   PropertyCategory                        783128 non-null  object
 9   PropertyType                            783128 non-null  object
 10  AddressQualifier                        783133 non-null  object
 11  Postcode_full                           349779 non-null  object
 12  Postcode_district                       783134 non-null  object
 13  UPRN                                    783134 non-null  float64
 14  USRN                                    783134 non-null  int64
 15  IncGeo_BoroughCode                      783134 non-null  object
 16  IncGeo_BoroughName                      783134 non-null  object
 17  ProperCase                              783134 non-null  object
 18  IncGeo_WardCode                         782619 non-null  object
 19  IncGeo_WardName                         782619 non-null  object
 20  IncGeo_WardNameNew                      782619 non-null  object
 21  Easting_m                               349779 non-null  float64
 22  Northing_m                              349779 non-null  float64
 23  Easting_rounded                         783134 non-null  int64
 24  Northing_rounded                        783134 non-null  int64
 25  Latitude                                349779 non-null  float64
 26  Longitude                               349779 non-null  float64
 27  FRS                                     783134 non-null  object
 28  IncidentStationGround                   783133 non-null  object
 29  FirstPumpArriving_AttendanceTime        738816 non-null  float64
 30  FirstPumpArriving_DeployedFromStation   738810 non-null  object
 31  SecondPumpArriving_AttendanceTime       287147 non-null  float64
 32  SecondPumpArriving_DeployedFromStation  287142 non-null  object
 33  NumStationsWithPumpsAttending           774547 non-null  float64
 34  NumPumpsAttending                       774547 non-null  float64
 35  PumpCount                               783134 non-null  int64
 36  PumpMinutesRounded                      783134 non-null  int64
 37  Notional Cost (£)                       783134 non-null  int64
 38  NumCalls                                783113 non-null  float64
dtypes: float64(10), int64(8), object(21)
memory usage: 233.0+ MB

None

Index(['IncidentNumber', 'DateOfCall', 'CalYear', 'TimeOfCall', 'HourOfCall',
       'IncidentGroup', 'StopCodeDescription', 'SpecialServiceType',
       'PropertyCategory', 'PropertyType', 'AddressQualifier', 'Postcode_full',
       'Postcode_district', 'UPRN', 'USRN', 'IncGeo_BoroughCode',
       'IncGeo_BoroughName', 'ProperCase', 'IncGeo_WardCode',
       'IncGeo_WardName', 'IncGeo_WardNameNew', 'Easting_m', 'Northing_m',
       'Easting_rounded', 'Northing_rounded', 'Latitude', 'Longitude', 'FRS',
       'IncidentStationGround', 'FirstPumpArriving_AttendanceTime',
       'FirstPumpArriving_DeployedFromStation',
       'SecondPumpArriving_AttendanceTime',
       'SecondPumpArriving_DeployedFromStation',
       'NumStationsWithPumpsAttending', 'NumPumpsAttending', 'PumpCount',
       'PumpMinutesRounded', 'Notional Cost (£)', 'NumCalls'],
      dtype='object')
Index(['IncidentNumber', 'DateOfCall', 'CalYear', 'TimeOfCall', 'HourOfCall',
       'IncidentGroup', 'StopCodeDescription', 'SpecialServiceType',
       'PropertyCategory', 'PropertyType', 'AddressQualifier', 'Postcode_full',
       'Postcode_district', 'UPRN', 'USRN', 'IncGeo_BoroughCode',
       'IncGeo_BoroughName', 'ProperCase', 'IncGeo_WardCode',
       'IncGeo_WardName', 'IncGeo_WardNameNew', 'Easting_m', 'Northing_m',
       'Easting_rounded', 'Northing_rounded', 'Latitude', 'Longitude', 'FRS',
       'IncidentStationGround', 'FirstPumpArriving_AttendanceTime',
       'FirstPumpArriving_DeployedFromStation',
       'SecondPumpArriving_AttendanceTime',
       'SecondPumpArriving_DeployedFromStation',
       'NumStationsWithPumpsAttending', 'NumPumpsAttending', 'PumpCount',
       'PumpMinutesRounded', 'Notional Cost (£)', 'NumCalls'],
      dtype='object')

In [4]:
# Fusionner les deux DataFrames en les empilant verticalement
df = pd.concat([df1, df2], axis=0)

# Réinitialiser l'index après la fusion
df = df.reset_index(drop=True)

# Afficher la taille du DataFrame et un aperçu des premières lignes
print(df.shape)
display(df.head(2))

# Nettoyage de la colonne "IncidentNumber" pour supprimer les valeurs ".00"
df["IncidentNumber"] = df["IncidentNumber"].apply(
    lambda x: str(x)[0:-3] if (".00" in x) & (str(x)[-3:] == ".00") else x
)

# Convertir les colonnes de date et d'heure en format datetime
df.DateOfCall = pd.to_datetime(df.DateOfCall, format="%d-%b-%y")
df.TimeOfCall = pd.to_datetime(df.TimeOfCall, format="%H:%M:%S")

# Extraire des informations temporelles supplémentaires
df["Month"] = df["DateOfCall"].dt.month
df["DayOfWeek"] = df["DateOfCall"].dt.dayofweek
df["DayName"] = df["DateOfCall"].dt.day_name()

# Afficher un aperçu des données après transformation
display(df.head())
# Afficher les informations générales du DataFrame (types de données, valeurs manquantes, etc.)
display(df.info())
# Afficher des statistiques descriptives sur les colonnes numériques
display(df.describe())

(1771413, 39)

,IncidentNumber,DateOfCall,CalYear,TimeOfCall,HourOfCall,IncidentGroup,StopCodeDescription,SpecialServiceType,PropertyCategory,PropertyType,AddressQualifier,Postcode_full,Postcode_district,UPRN,USRN,IncGeo_BoroughCode,IncGeo_BoroughName,ProperCase,IncGeo_WardCode,IncGeo_WardName,IncGeo_WardNameNew,Easting_m,Northing_m,Easting_rounded,Northing_rounded,Latitude,Longitude,FRS,IncidentStationGround,FirstPumpArriving_AttendanceTime,FirstPumpArriving_DeployedFromStation,SecondPumpArriving_AttendanceTime,SecondPumpArriving_DeployedFromStation,NumStationsWithPumpsAttending,NumPumpsAttending,PumpCount,PumpMinutesRounded,Notional Cost (£),NumCalls
0,235138081.00,01-Jan-09,2009,00:00:37,0,Special Service,Special Service,RTC,Road Vehicle,Car,In street close to gazetteer location,SW11 4LB,SW11,NaN,NaN,E09000032,WANDSWORTH,Wandsworth,E05014010,Battersea Park,Battersea Park,528652.0,176830.0,528650,176850,51.475812,-0.148894,London,Battersea,319.0,Battersea,342.0,Clapham,2.0,2.0,2,60,255,1.0
1,1091.00,01-Jan-09,2009,00:00:46,0,Special Service,Special Service,Assist other agencies,Outdoor,Lake/pond/reservoir,Open land/water - nearest gazetteer location,SE1 7SG,SE1,NaN,NaN,E09000022,LAMBETH,Lambeth,E05014118,Waterloo & South Bank,Waterloo & South Bank,530485.0,179007.0,530450,179050,51.494957,-0.121712,London,Lambeth,NaN,NaN,NaN,NaN,NaN,NaN,1,60,255,1.0

,IncidentNumber,DateOfCall,CalYear,TimeOfCall,HourOfCall,IncidentGroup,StopCodeDescription,SpecialServiceType,PropertyCategory,PropertyType,AddressQualifier,Postcode_full,Postcode_district,UPRN,USRN,IncGeo_BoroughCode,IncGeo_BoroughName,ProperCase,IncGeo_WardCode,IncGeo_WardName,IncGeo_WardNameNew,Easting_m,Northing_m,Easting_rounded,Northing_rounded,Latitude,Longitude,FRS,IncidentStationGround,FirstPumpArriving_AttendanceTime,FirstPumpArriving_DeployedFromStation,SecondPumpArriving_AttendanceTime,SecondPumpArriving_DeployedFromStation,NumStationsWithPumpsAttending,NumPumpsAttending,PumpCount,PumpMinutesRounded,Notional Cost (£),NumCalls,Month,DayOfWeek,DayName
0,235138081,2009-01-01,2009,1900-01-01 00:00:37,0,Special Service,Special Service,RTC,Road Vehicle,Car,In street close to gazetteer location,SW11 4LB,SW11,NaN,NaN,E09000032,WANDSWORTH,Wandsworth,E05014010,Battersea Park,Battersea Park,528652.0,176830.0,528650,176850,51.475812,-0.148894,London,Battersea,319.0,Battersea,342.0,Clapham,2.0,2.0,2,60,255,1.0,1,3,Thursday
1,1091,2009-01-01,2009,1900-01-01 00:00:46,0,Special Service,Special Service,Assist other agencies,Outdoor,Lake/pond/reservoir,Open land/water - nearest gazetteer location,SE1 7SG,SE1,NaN,NaN,E09000022,LAMBETH,Lambeth,E05014118,Waterloo & South Bank,Waterloo & South Bank,530485.0,179007.0,530450,179050,51.494957,-0.121712,London,Lambeth,NaN,NaN,NaN,NaN,NaN,NaN,1,60,255,1.0,1,3,Thursday
2,2091,2009-01-01,2009,1900-01-01 00:03:00,0,Fire,Secondary Fire,NaN,Outdoor,Road surface/pavement,In street outside gazetteer location,N9 9EL,N9,NaN,NaN,E09000010,ENFIELD,Enfield,E05013682,Haselbury,Haselbury,533773.0,194492.0,533750,194450,51.633342,-0.068488,London,Edmonton,308.0,Edmonton,NaN,NaN,1.0,1.0,1,60,255,2.0,1,3,Thursday
3,3091,2009-01-01,2009,1900-01-01 00:04:27,0,Fire,Secondary Fire,NaN,Outdoor,Domestic garden (vegetation not equipment),On land associated with building,UB10 0DG,UB10,1.000215e+11,21401491.0,E09000017,HILLINGDON,Hillingdon,E05013571,Hillingdon East,Hillingdon East,507738.0,182805.0,507750,182850,51.533882,-0.448089,London,Hillingdon,210.0,Hillingdon,NaN,NaN,1.0,1.0,1,60,255,2.0,1,3,Thursday
4,5091,2009-01-01,2009,1900-01-01 00:05:39,0,Fire,Secondary Fire,NaN,Outdoor,Cycle path/public footpath/bridleway,In street outside gazetteer location,N7 8HG,N7,NaN,NaN,E09000019,ISLINGTON,Islington,E05013708,Laycock,Laycock,531058.0,185307.0,531050,185350,51.551441,-0.111120,London,Holloway,233.0,Holloway,250.0,Holloway,1.0,2.0,2,60,255,1.0,1,3,Thursday

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1771413 entries, 0 to 1771412
Data columns (total 42 columns):
 #   Column                                  Dtype
---  ------                                  -----
 0   IncidentNumber                          object
 1   DateOfCall                              datetime64[ns]
 2   CalYear                                 int64
 3   TimeOfCall                              datetime64[ns]
 4   HourOfCall                              int64
 5   IncidentGroup                           object
 6   StopCodeDescription                     object
 7   SpecialServiceType                      object
 8   PropertyCategory                        object
 9   PropertyType                            object
 10  AddressQualifier                        object
 11  Postcode_full                           object
 12  Postcode_district                       object
 13  UPRN                                    float64
 14  USRN                                    float64
 15  IncGeo_BoroughCode                      object
 16  IncGeo_BoroughName                      object
 17  ProperCase                              object
 18  IncGeo_WardCode                         object
 19  IncGeo_WardName                         object
 20  IncGeo_WardNameNew                      object
 21  Easting_m                               float64
 22  Northing_m                              float64
 23  Easting_rounded                         int64
 24  Northing_rounded                        int64
 25  Latitude                                float64
 26  Longitude                               float64
 27  FRS                                     object
 28  IncidentStationGround                   object
 29  FirstPumpArriving_AttendanceTime        float64
 30  FirstPumpArriving_DeployedFromStation   object
 31  SecondPumpArriving_AttendanceTime       float64
 32  SecondPumpArriving_DeployedFromStation  object
 33  NumStationsWithPumpsAttending           float64
 34  NumPumpsAttending                       float64
 35  PumpCount                               int64
 36  PumpMinutesRounded                      int64
 37  Notional Cost (£)                       int64
 38  NumCalls                                float64
 39  Month                                   int32
 40  DayOfWeek                               int32
 41  DayName                                 object
dtypes: datetime64[ns](2), float64(11), int32(2), int64(7), object(20)
memory usage: 554.1+ MB

None

,DateOfCall,CalYear,TimeOfCall,HourOfCall,UPRN,USRN,Easting_m,Northing_m,Easting_rounded,Northing_rounded,Latitude,Longitude,FirstPumpArriving_AttendanceTime,SecondPumpArriving_AttendanceTime,NumStationsWithPumpsAttending,NumPumpsAttending,PumpCount,PumpMinutesRounded,Notional Cost (£),NumCalls,Month,DayOfWeek
count,1771413,1.771413e+06,1771413,1.771413e+06,1.630080e+06,1.608542e+06,886544.000000,886544.000000,1.771413e+06,1.771413e+06,886544.000000,886544.000000,1.635724e+06,633568.00000,1.757310e+06,1.757310e+06,1.771413e+06,1.771413e+06,1.771413e+06,1.769564e+06,1.771413e+06,1.771413e+06
mean,2016-12-16 06:27:20.863649024,2.016456e+03,1900-01-01 13:58:01.595983360,1.346887e+01,2.192842e+10,2.031355e+07,530632.668589,180365.050822,5.306598e+05,1.804883e+05,51.445867,-0.118837,3.182711e+02,395.38522,1.369216e+00,1.554288e+00,1.591798e+00,7.629298e+01,4.039678e+02,1.329551e+00,6.561727e+00,3.020437e+00
min,2009-01-01 00:00:00,2.009000e+03,1900-01-01 00:00:00,0.000000e+00,0.000000e+00,0.000000e+00,503582.000000,155901.000000,5.035500e+05,1.559500e+05,0.000000,-0.510155,1.000000e+00,1.00000,1.000000e+00,1.000000e+00,1.000000e+00,6.000000e+01,2.550000e+02,1.000000e+00,1.000000e+00,0.000000e+00
25%,2012-08-17 00:00:00,2.012000e+03,1900-01-01 09:51:06,9.000000e+00,0.000000e+00,2.040096e+07,525185.000000,175989.000000,5.252500e+05,1.761500e+05,51.468944,-0.197424,2.310000e+02,295.00000,1.000000e+00,1.000000e+00,1.000000e+00,6.000000e+01,2.600000e+02,1.000000e+00,4.000000e+00,1.000000e+00
50%,2017-01-04 00:00:00,2.017000e+03,1900-01-01 14:45:16,1.400000e+01,0.000000e+00,2.120127e+07,530797.000000,180982.000000,5.309500e+05,1.810500e+05,51.512881,-0.116981,2.960000e+02,369.00000,1.000000e+00,1.000000e+00,1.000000e+00,6.000000e+01,3.280000e+02,1.000000e+00,7.000000e+00,3.000000e+00
75%,2021-04-30 00:00:00,2.021000e+03,1900-01-01 19:02:12,1.900000e+01,1.001319e+10,2.210116e+07,536834.000000,184939.000000,5.362500e+05,1.851500e+05,51.547757,-0.028701,3.780000e+02,464.00000,2.000000e+00,2.000000e+00,2.000000e+00,6.000000e+01,3.640000e+02,1.000000e+00,9.000000e+00,5.000000e+00
max,2024-10-31 00:00:00,2.024000e+03,1900-01-01 23:59:59,2.300000e+01,2.000044e+11,9.999042e+07,561126.000000,200906.000000,6.111500e+05,3.024500e+05,51.691670,0.322219,1.200000e+03,1200.00000,4.600000e+01,1.060000e+02,9.510000e+02,5.256290e+05,2.277726e+06,3.690000e+02,1.200000e+01,6.000000e+00
std,NaN,4.776673e+00,NaN,6.252623e+00,4.753228e+10,4.378135e+06,10336.679483,7434.831140,9.725543e+03,7.357290e+03,1.775330,0.148994,1.386791e+02,153.33425,6.836639e-01,8.418938e-01,1.586884e+00,5.678902e+02,2.710555e+03,1.488664e+00,3.361091e+00,1.997067e+00

In [5]:
# Analyser les valeurs manquantes dans le DataFrame
# - Calculer le nombre total de valeurs manquantes par colonne
# - Déterminer le pourcentage de valeurs manquantes pour chaque colonne
# - Stocker ces informations dans un DataFrame pour une meilleure visualisation

all_na = df.isna().sum()
lignes = df.shape[0]
list = {}
list["colonne"] = []
list["na"] = []
list["pourcentage"] = []
for colonne, na in zip(all_na.index, all_na.values):
    pourcentage = round(na / lignes * 100, 4)
    list["colonne"].append(colonne)
    list["na"].append(na)
    list["pourcentage"].append(pourcentage)
    #print(f"{na}, {pourcentage}%")
a = pd.DataFrame(list)
display(a)

                                   colonne       na  pourcentage
0                           IncidentNumber        0       0.0000
1                               DateOfCall        0       0.0000
2                                  CalYear        0       0.0000
3                               TimeOfCall        0       0.0000
4                               HourOfCall        0       0.0000
5                            IncidentGroup        6       0.0003
6                      StopCodeDescription        0       0.0000
7                       SpecialServiceType  1195862      67.5089
8                         PropertyCategory        6       0.0003
9                             PropertyType        6       0.0003
10                        AddressQualifier        1       0.0001
11                           Postcode_full   884869      49.9527
12                       Postcode_district        0       0.0000
13                                    UPRN   141333       7.9785
14                                    USRN   162871       9.1944
15                      IncGeo_BoroughCode        0       0.0000
16                      IncGeo_BoroughName        0       0.0000
17                              ProperCase        0       0.0000
18                         IncGeo_WardCode      515       0.0291
19                         IncGeo_WardName      515       0.0291
20                      IncGeo_WardNameNew      515       0.0291
21                               Easting_m   884869      49.9527
22                              Northing_m   884869      49.9527
23                         Easting_rounded        0       0.0000
24                        Northing_rounded        0       0.0000
25                                Latitude   884869      49.9527
26                               Longitude   884869      49.9527
27                                     FRS        0       0.0000
28                   IncidentStationGround        1       0.0001
29        FirstPumpArriving_AttendanceTime   135689       7.6599
30   FirstPumpArriving_DeployedFromStation   135700       7.6606
31       SecondPumpArriving_AttendanceTime  1137845      64.2338
32  SecondPumpArriving_DeployedFromStation  1137852      64.2341
33           NumStationsWithPumpsAttending    14103       0.7961
34                       NumPumpsAttending    14103       0.7961
35                               PumpCount        0       0.0000
36                      PumpMinutesRounded        0       0.0000
37                       Notional Cost (£)        0       0.0000
38                                NumCalls     1849       0.1044
39                                   Month        0       0.0000
40                               DayOfWeek        0       0.0000
41                                 DayName        0       0.0000

In [6]:
# Identifier les colonnes ayant un nombre de valeurs uniques inférieur à 15
for col in df.columns:
    uniques = df[col].unique()
    if len(uniques) < 15:
        display(col, uniques)

'IncidentGroup'

array(['Special Service', 'Fire', 'False Alarm', nan], dtype=object)

'StopCodeDescription'

array(['Special Service', 'Secondary Fire', 'AFA', 'Primary Fire',
       'False alarm - Good intent', 'False alarm - Malicious',
       'Chimney Fire', 'Flood call attended - Batch mobilised',
       'Late Call', 'Use of Special Operations Room', 'Standby'],
      dtype=object)

'PropertyCategory'

array(['Road Vehicle', 'Outdoor', 'Dwelling', 'Outdoor Structure',
       'Other Residential', 'Non Residential', 'Aircraft', 'Rail Vehicle',
       'Boat', nan], dtype=object)

'AddressQualifier'

array(['In street close to gazetteer location',
       'Open land/water - nearest gazetteer location',
       'In street outside gazetteer location',
       'On land associated with building', 'Correct incident location',
       'On motorway / elevated road',
       'In street remote from gazetteer location', 'Within same building',
       'Nearby address - street not listed in gazetteer',
       'Nearby address - no building in street',
       'Railway land or rolling stock', nan], dtype=object)

'FRS'

array(['London'], dtype=object)

'Month'

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12], dtype=int32)

'DayOfWeek'

array([3, 4, 5, 6, 0, 1, 2], dtype=int32)

'DayName'

array(['Thursday', 'Friday', 'Saturday', 'Sunday', 'Monday', 'Tuesday',
       'Wednesday'], dtype=object)

In [7]:
# Sauvegarder le DataFrame dans un fichier CSV

df.to_csv("../data/Incidents.csv", sep=";")