In [2]:
# ------------------------- Incidents -----------------------------
import pandas as pd
import numpy as np

# Ajuster les paramètres pour afficher toutes les lignes et colonnes
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)

# Chargement des 2 dataset
df1 = pd.read_csv(
    "../data/LFB Incident data from 2009 - 2017.csv", sep=",", low_memory=False
)
df2 = pd.read_csv(
    "../data/LFB Incident data from 2018 onwards.csv", sep=",", low_memory=False
)

In [ ]:
# concaténation
df = pd.concat([df1, df2], axis=0)
# reset index
df = df.reset_index(drop=True)

# suppression des ".00" sur certaines lignes de "IncidentNumber"
df["IncidentNumber"] = df["IncidentNumber"].apply(
    lambda x: str(x)[0:-3] if (".00" in x) & (str(x)[-3:] == ".00") else x
)

# formatage des dates
df.DateOfCall = pd.to_datetime(df.DateOfCall, format="%d-%b-%y")
df.TimeOfCall = pd.to_datetime(df.TimeOfCall, format="%H:%M:%S")

# création de champs Mois et DayOfWeek
df["Month"] = df["DateOfCall"].dt.month
df["DayOfWeek"] = df["DateOfCall"].dt.dayofweek + 1

display(df.head())
display(df.info())

,IncidentNumber,DateOfCall,CalYear,TimeOfCall,HourOfCall,IncidentGroup,StopCodeDescription,SpecialServiceType,PropertyCategory,PropertyType,AddressQualifier,Postcode_full,Postcode_district,UPRN,USRN,IncGeo_BoroughCode,IncGeo_BoroughName,ProperCase,IncGeo_WardCode,IncGeo_WardName,IncGeo_WardNameNew,Easting_m,Northing_m,Easting_rounded,Northing_rounded,Latitude,Longitude,FRS,IncidentStationGround,FirstPumpArriving_AttendanceTime,FirstPumpArriving_DeployedFromStation,SecondPumpArriving_AttendanceTime,SecondPumpArriving_DeployedFromStation,NumStationsWithPumpsAttending,NumPumpsAttending,PumpCount,PumpMinutesRounded,Notional Cost (£),NumCalls,Month,DayOfWeek
0,235138081,2009-01-01,2009,1900-01-01 00:00:37,0,Special Service,Special Service,RTC,Road Vehicle,Car,In street close to gazetteer location,SW11 4LB,SW11,NaN,NaN,E09000032,WANDSWORTH,Wandsworth,E05014010,Battersea Park,Battersea Park,528652.0,176830.0,528650,176850,51.475812,-0.148894,London,Battersea,319.0,Battersea,342.0,Clapham,2.0,2.0,2,60,255,1.0,1,4
1,1091,2009-01-01,2009,1900-01-01 00:00:46,0,Special Service,Special Service,Assist other agencies,Outdoor,Lake/pond/reservoir,Open land/water - nearest gazetteer location,SE1 7SG,SE1,NaN,NaN,E09000022,LAMBETH,Lambeth,E05014118,Waterloo & South Bank,Waterloo & South Bank,530485.0,179007.0,530450,179050,51.494957,-0.121712,London,Lambeth,NaN,NaN,NaN,NaN,NaN,NaN,1,60,255,1.0,1,4
2,2091,2009-01-01,2009,1900-01-01 00:03:00,0,Fire,Secondary Fire,NaN,Outdoor,Road surface/pavement,In street outside gazetteer location,N9 9EL,N9,NaN,NaN,E09000010,ENFIELD,Enfield,E05013682,Haselbury,Haselbury,533773.0,194492.0,533750,194450,51.633342,-0.068488,London,Edmonton,308.0,Edmonton,NaN,NaN,1.0,1.0,1,60,255,2.0,1,4
3,3091,2009-01-01,2009,1900-01-01 00:04:27,0,Fire,Secondary Fire,NaN,Outdoor,Domestic garden (vegetation not equipment),On land associated with building,UB10 0DG,UB10,1.000215e+11,21401491.0,E09000017,HILLINGDON,Hillingdon,E05013571,Hillingdon East,Hillingdon East,507738.0,182805.0,507750,182850,51.533882,-0.448089,London,Hillingdon,210.0,Hillingdon,NaN,NaN,1.0,1.0,1,60,255,2.0,1,4
4,5091,2009-01-01,2009,1900-01-01 00:05:39,0,Fire,Secondary Fire,NaN,Outdoor,Cycle path/public footpath/bridleway,In street outside gazetteer location,N7 8HG,N7,NaN,NaN,E09000019,ISLINGTON,Islington,E05013708,Laycock,Laycock,531058.0,185307.0,531050,185350,51.551441,-0.111120,London,Holloway,233.0,Holloway,250.0,Holloway,1.0,2.0,2,60,255,1.0,1,4

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1771413 entries, 0 to 1771412
Data columns (total 41 columns):
 #   Column                                  Dtype
---  ------                                  -----
 0   IncidentNumber                          object
 1   DateOfCall                              datetime64[ns]
 2   CalYear                                 int64
 3   TimeOfCall                              datetime64[ns]
 4   HourOfCall                              int64
 5   IncidentGroup                           object
 6   StopCodeDescription                     object
 7   SpecialServiceType                      object
 8   PropertyCategory                        object
 9   PropertyType                            object
 10  AddressQualifier                        object
 11  Postcode_full                           object
 12  Postcode_district                       object
 13  UPRN                                    float64
 14  USRN                                    float64
 15  IncGeo_BoroughCode                      object
 16  IncGeo_BoroughName                      object
 17  ProperCase                              object
 18  IncGeo_WardCode                         object
 19  IncGeo_WardName                         object
 20  IncGeo_WardNameNew                      object
 21  Easting_m                               float64
 22  Northing_m                              float64
 23  Easting_rounded                         int64
 24  Northing_rounded                        int64
 25  Latitude                                float64
 26  Longitude                               float64
 27  FRS                                     object
 28  IncidentStationGround                   object
 29  FirstPumpArriving_AttendanceTime        float64
 30  FirstPumpArriving_DeployedFromStation   object
 31  SecondPumpArriving_AttendanceTime       float64
 32  SecondPumpArriving_DeployedFromStation  object
 33  NumStationsWithPumpsAttending           float64
 34  NumPumpsAttending                       float64
 35  PumpCount                               int64
 36  PumpMinutesRounded                      int64
 37  Notional Cost (£)                       int64
 38  NumCalls                                float64
 39  Month                                   int32
 40  DayOfWeek                               int32
dtypes: datetime64[ns](2), float64(11), int32(2), int64(7), object(19)
memory usage: 540.6+ MB

None

In [ ]:
def TestDoublonSousCatégorie(categorie, ssCategorie):
    # Vérifie si les StopCodeDescription existe en double dans les IncidentGroup
    result = df.groupby(ssCategorie)[categorie].nunique()
    print(result[result.values > 1])
    print("Na pour", categorie, df[categorie].isna().sum())
    print("Na pour", ssCategorie, df[ssCategorie].isna().sum())


TestDoublonSousCatégorie("IncidentGroup", "StopCodeDescription")
print(
    "\n",
    "6 na sur IncidentGroup et pas de doublon, peut supprimer la colonne IncidentGroup",
)

print()
TestDoublonSousCatégorie("PropertyCategory", "PropertyType")
print(
    "\n",
    "6 na sur PropertyCategory et 6 pour PropertyType, peut supprimer la colonne PropertyCategory",
)


def TreatText(s):
    if not pd.isna(s):
        s = s.upper().strip()
    return s


df.StopCodeDescription = df.StopCodeDescription.apply(lambda s: TreatText(s))
df.SpecialServiceType = df.SpecialServiceType.apply(lambda s: TreatText(s))
df.PropertyType = df.PropertyType.apply(lambda s: TreatText(s))
df.AddressQualifier = df.AddressQualifier.apply(lambda s: TreatText(s))
df.Postcode_district = df.Postcode_district.apply(lambda s: TreatText(s))
df.IncGeo_BoroughCode = df.IncGeo_BoroughCode.apply(lambda s: TreatText(s))
df.IncGeo_WardCode = df.IncGeo_WardCode.apply(lambda s: TreatText(s))
df.FirstPumpArriving_DeployedFromStation = (
    df.FirstPumpArriving_DeployedFromStation.apply(lambda s: TreatText(s))
)

display(df.head())

Series([], Name: IncidentGroup, dtype: int64)
Na pour IncidentGroup 6
Na pour StopCodeDescription 0

 6 na sur IncidentGroup et pas de doublon, peut supprimer la colonne IncidentGroup

Series([], Name: PropertyCategory, dtype: int64)
Na pour PropertyCategory 6
Na pour PropertyType 6

 6 na sur PropertyCategory et 6 pour PropertyType, peut supprimer la colonne PropertyCategory

,IncidentNumber,DateOfCall,CalYear,TimeOfCall,HourOfCall,IncidentGroup,StopCodeDescription,SpecialServiceType,PropertyCategory,PropertyType,AddressQualifier,Postcode_full,Postcode_district,UPRN,USRN,IncGeo_BoroughCode,IncGeo_BoroughName,ProperCase,IncGeo_WardCode,IncGeo_WardName,IncGeo_WardNameNew,Easting_m,Northing_m,Easting_rounded,Northing_rounded,Latitude,Longitude,FRS,IncidentStationGround,FirstPumpArriving_AttendanceTime,FirstPumpArriving_DeployedFromStation,SecondPumpArriving_AttendanceTime,SecondPumpArriving_DeployedFromStation,NumStationsWithPumpsAttending,NumPumpsAttending,PumpCount,PumpMinutesRounded,Notional Cost (£),NumCalls,Month,DayOfWeek
0,235138081,2009-01-01,2009,1900-01-01 00:00:37,0,Special Service,SPECIAL SERVICE,RTC,Road Vehicle,CAR,IN STREET CLOSE TO GAZETTEER LOCATION,SW11 4LB,SW11,NaN,NaN,E09000032,WANDSWORTH,Wandsworth,E05014010,Battersea Park,Battersea Park,528652.0,176830.0,528650,176850,51.475812,-0.148894,London,Battersea,319.0,BATTERSEA,342.0,Clapham,2.0,2.0,2,60,255,1.0,1,4
1,1091,2009-01-01,2009,1900-01-01 00:00:46,0,Special Service,SPECIAL SERVICE,ASSIST OTHER AGENCIES,Outdoor,LAKE/POND/RESERVOIR,OPEN LAND/WATER - NEAREST GAZETTEER LOCATION,SE1 7SG,SE1,NaN,NaN,E09000022,LAMBETH,Lambeth,E05014118,Waterloo & South Bank,Waterloo & South Bank,530485.0,179007.0,530450,179050,51.494957,-0.121712,London,Lambeth,NaN,NaN,NaN,NaN,NaN,NaN,1,60,255,1.0,1,4
2,2091,2009-01-01,2009,1900-01-01 00:03:00,0,Fire,SECONDARY FIRE,NaN,Outdoor,ROAD SURFACE/PAVEMENT,IN STREET OUTSIDE GAZETTEER LOCATION,N9 9EL,N9,NaN,NaN,E09000010,ENFIELD,Enfield,E05013682,Haselbury,Haselbury,533773.0,194492.0,533750,194450,51.633342,-0.068488,London,Edmonton,308.0,EDMONTON,NaN,NaN,1.0,1.0,1,60,255,2.0,1,4
3,3091,2009-01-01,2009,1900-01-01 00:04:27,0,Fire,SECONDARY FIRE,NaN,Outdoor,DOMESTIC GARDEN (VEGETATION NOT EQUIPMENT),ON LAND ASSOCIATED WITH BUILDING,UB10 0DG,UB10,1.000215e+11,21401491.0,E09000017,HILLINGDON,Hillingdon,E05013571,Hillingdon East,Hillingdon East,507738.0,182805.0,507750,182850,51.533882,-0.448089,London,Hillingdon,210.0,HILLINGDON,NaN,NaN,1.0,1.0,1,60,255,2.0,1,4
4,5091,2009-01-01,2009,1900-01-01 00:05:39,0,Fire,SECONDARY FIRE,NaN,Outdoor,CYCLE PATH/PUBLIC FOOTPATH/BRIDLEWAY,IN STREET OUTSIDE GAZETTEER LOCATION,N7 8HG,N7,NaN,NaN,E09000019,ISLINGTON,Islington,E05013708,Laycock,Laycock,531058.0,185307.0,531050,185350,51.551441,-0.111120,London,Holloway,233.0,HOLLOWAY,250.0,Holloway,1.0,2.0,2,60,255,1.0,1,4

In [ ]:
# Merge de SpecialService dans Stopcode
s = "Special Service".upper().strip()
df["StopCode"] = df.apply(
    lambda row: (
        "SST-" + row["SpecialServiceType"]
        if row["StopCodeDescription"] == s
        else row["StopCodeDescription"]
    ),
    axis=1,
)
display(df.head())
# df.StopCodeDescription
# SpecialServiceType

df = df.drop(["StopCodeDescription", "SpecialServiceType"], axis=1)

,IncidentNumber,DateOfCall,CalYear,TimeOfCall,HourOfCall,IncidentGroup,StopCodeDescription,SpecialServiceType,PropertyCategory,PropertyType,AddressQualifier,Postcode_full,Postcode_district,UPRN,USRN,IncGeo_BoroughCode,IncGeo_BoroughName,ProperCase,IncGeo_WardCode,IncGeo_WardName,IncGeo_WardNameNew,Easting_m,Northing_m,Easting_rounded,Northing_rounded,Latitude,Longitude,FRS,IncidentStationGround,FirstPumpArriving_AttendanceTime,FirstPumpArriving_DeployedFromStation,SecondPumpArriving_AttendanceTime,SecondPumpArriving_DeployedFromStation,NumStationsWithPumpsAttending,NumPumpsAttending,PumpCount,PumpMinutesRounded,Notional Cost (£),NumCalls,Month,DayOfWeek,StopCode
0,235138081,2009-01-01,2009,1900-01-01 00:00:37,0,Special Service,SPECIAL SERVICE,RTC,Road Vehicle,CAR,IN STREET CLOSE TO GAZETTEER LOCATION,SW11 4LB,SW11,NaN,NaN,E09000032,WANDSWORTH,Wandsworth,E05014010,Battersea Park,Battersea Park,528652.0,176830.0,528650,176850,51.475812,-0.148894,London,Battersea,319.0,BATTERSEA,342.0,Clapham,2.0,2.0,2,60,255,1.0,1,4,SST-RTC
1,1091,2009-01-01,2009,1900-01-01 00:00:46,0,Special Service,SPECIAL SERVICE,ASSIST OTHER AGENCIES,Outdoor,LAKE/POND/RESERVOIR,OPEN LAND/WATER - NEAREST GAZETTEER LOCATION,SE1 7SG,SE1,NaN,NaN,E09000022,LAMBETH,Lambeth,E05014118,Waterloo & South Bank,Waterloo & South Bank,530485.0,179007.0,530450,179050,51.494957,-0.121712,London,Lambeth,NaN,NaN,NaN,NaN,NaN,NaN,1,60,255,1.0,1,4,SST-ASSIST OTHER AGENCIES
2,2091,2009-01-01,2009,1900-01-01 00:03:00,0,Fire,SECONDARY FIRE,NaN,Outdoor,ROAD SURFACE/PAVEMENT,IN STREET OUTSIDE GAZETTEER LOCATION,N9 9EL,N9,NaN,NaN,E09000010,ENFIELD,Enfield,E05013682,Haselbury,Haselbury,533773.0,194492.0,533750,194450,51.633342,-0.068488,London,Edmonton,308.0,EDMONTON,NaN,NaN,1.0,1.0,1,60,255,2.0,1,4,SECONDARY FIRE
3,3091,2009-01-01,2009,1900-01-01 00:04:27,0,Fire,SECONDARY FIRE,NaN,Outdoor,DOMESTIC GARDEN (VEGETATION NOT EQUIPMENT),ON LAND ASSOCIATED WITH BUILDING,UB10 0DG,UB10,1.000215e+11,21401491.0,E09000017,HILLINGDON,Hillingdon,E05013571,Hillingdon East,Hillingdon East,507738.0,182805.0,507750,182850,51.533882,-0.448089,London,Hillingdon,210.0,HILLINGDON,NaN,NaN,1.0,1.0,1,60,255,2.0,1,4,SECONDARY FIRE
4,5091,2009-01-01,2009,1900-01-01 00:05:39,0,Fire,SECONDARY FIRE,NaN,Outdoor,CYCLE PATH/PUBLIC FOOTPATH/BRIDLEWAY,IN STREET OUTSIDE GAZETTEER LOCATION,N7 8HG,N7,NaN,NaN,E09000019,ISLINGTON,Islington,E05013708,Laycock,Laycock,531058.0,185307.0,531050,185350,51.551441,-0.111120,London,Holloway,233.0,HOLLOWAY,250.0,Holloway,1.0,2.0,2,60,255,1.0,1,4,SECONDARY FIRE

In [6]:
# suppression des données inutiles, en doublon métier, ou non présente au moment de la prédiction
df = df.drop(
    [
        "DateOfCall",
        "TimeOfCall",
        "IncidentGroup",
        "PropertyCategory",
        "AddressQualifier",
        # Geo
        "Postcode_full",
        "UPRN",
        "USRN",
        "IncGeo_BoroughCode",
        "IncGeo_BoroughName",
        "ProperCase",
        "IncGeo_WardCode",
        "IncGeo_WardName",
        "IncGeo_WardNameNew",
        "Easting_m",
        "Northing_m",
        "Easting_rounded",
        "Northing_rounded",
        "Latitude",
        "Longitude",
        #
        "FRS",
        "IncidentStationGround",
        "FirstPumpArriving_AttendanceTime",
        "SecondPumpArriving_AttendanceTime",
        "SecondPumpArriving_DeployedFromStation",
        "NumStationsWithPumpsAttending",
        "PumpCount",
        "PumpMinutesRounded",
        "Notional Cost (£)",
        "NumCalls",
    ],
    axis=1,
)

In [7]:
# sauvegarde d'un fichier temporaire
df.to_csv("../data/PreIncidents.csv", sep=";", index=False)

In [8]:
# ------------------------- Mobilisations -----------------------------
import pandas as pd

# Ajuster les paramètres pour afficher toutes les lignes et colonnes
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)

# Chargement des 3 dataset
df1 = pd.read_csv(
    "../data/LFB Mobilisation data from January 2009 - 2014.csv",
    sep=";",
    low_memory=False,
)
df2 = pd.read_csv(
    "../data/LFB Mobilisation data from 2015 - 2020.csv", sep=";", low_memory=False
)
df3 = pd.read_csv(
    "../data/LFB Mobilisation data from 2021 - 2024.csv",
    sep=",",
    low_memory=False,
    usecols=lambda column: column not in ["BoroughName", "WardName"],
)

In [ ]:
# concaténation
df = pd.concat([df1, df2, df3], axis=0)
# reset index
df = df.reset_index(drop=True)

# formatage des dates
df.DateAndTimeMobilised = pd.to_datetime(
    df.DateAndTimeMobilised, format="%d/%m/%Y %H:%M"
)
df.DateAndTimeMobile = pd.to_datetime(df.DateAndTimeMobile, format="%d/%m/%Y %H:%M")
df.DateAndTimeArrived = pd.to_datetime(df.DateAndTimeArrived, format="%d/%m/%Y %H:%M")
df.DateAndTimeLeft = pd.to_datetime(df.DateAndTimeLeft, format="%d/%m/%Y %H:%M")
df.DateAndTimeReturned = pd.to_datetime(df.DateAndTimeReturned, format="%d/%m/%Y %H:%M")

display(df.head())
display(df.info())

,IncidentNumber,CalYear,HourOfCall,ResourceMobilisationId,Resource_Code,PerformanceReporting,DateAndTimeMobilised,DateAndTimeMobile,DateAndTimeArrived,TurnoutTimeSeconds,TravelTimeSeconds,AttendanceTimeSeconds,DateAndTimeLeft,DateAndTimeReturned,DeployedFromStation_Code,DeployedFromStation_Name,DeployedFromLocation,PumpOrder,PlusCode_Code,PlusCode_Description,DelayCodeId,DelayCode_Description
0,235138081,2009,0,38426,H271,1,2009-01-01 00:02:00,NaT,2009-01-01 00:07:00,NaN,NaN,319,2009-01-01 00:16:00,2009-01-01 00:23:00,H27,Battersea,Home Station,1,Initial,Initial Mobilisation,NaN,NaN
1,235138081,2009,0,38427,H212,2,2009-01-01 00:02:00,2009-01-01 00:06:00,2009-01-01 00:08:00,253.0,89.0,342,2009-01-01 00:12:00,2009-01-01 00:12:00,H21,Clapham,Home Station,2,Initial,Initial Mobilisation,NaN,NaN
2,2091,2009,0,38429,A341,1,2009-01-01 00:04:00,2009-01-01 00:06:00,2009-01-01 00:09:00,151.0,157.0,308,2009-01-01 00:16:00,2009-01-01 00:17:00,A34,Edmonton,Home Station,1,Initial,Initial Mobilisation,NaN,NaN
3,3091,2009,0,38430,G232,1,2009-01-01 00:04:00,2009-01-01 00:06:00,2009-01-01 00:08:00,108.0,102.0,210,2009-01-01 00:20:00,2009-01-01 00:20:00,G23,Hillingdon,Home Station,1,Initial,Initial Mobilisation,NaN,NaN
4,5091,2009,0,38432,A311,1,2009-01-01 00:06:00,2009-01-01 00:07:00,2009-01-01 00:09:00,114.0,119.0,233,2009-01-01 00:11:00,2009-01-01 00:22:00,A31,Holloway,Home Station,1,Initial,Initial Mobilisation,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2480004 entries, 0 to 2480003
Data columns (total 22 columns):
 #   Column                    Dtype
---  ------                    -----
 0   IncidentNumber            object
 1   CalYear                   int64
 2   HourOfCall                int64
 3   ResourceMobilisationId    int64
 4   Resource_Code             object
 5   PerformanceReporting      object
 6   DateAndTimeMobilised      datetime64[ns]
 7   DateAndTimeMobile         datetime64[ns]
 8   DateAndTimeArrived        datetime64[ns]
 9   TurnoutTimeSeconds        float64
 10  TravelTimeSeconds         float64
 11  AttendanceTimeSeconds     int64
 12  DateAndTimeLeft           datetime64[ns]
 13  DateAndTimeReturned       datetime64[ns]
 14  DeployedFromStation_Code  object
 15  DeployedFromStation_Name  object
 16  DeployedFromLocation      object
 17  PumpOrder                 int64
 18  PlusCode_Code             object
 19  PlusCode_Description      object
 20  DelayCodeId               float64
 21  DelayCode_Description     object
dtypes: datetime64[ns](5), float64(3), int64(5), object(9)
memory usage: 416.3+ MB

None

In [ ]:
# création de la colonne Temps sur site en seconde de la pompe par delta de temps arrivée et départ
df["PumpOnSiteSeconds"] = (df.DateAndTimeLeft - df.DateAndTimeArrived).dt.seconds
display(df.head(3))

# Regroupe les lignes par incidents, car il y a une ligne par incidents / camion avec un n° d'ordre
# Comme on s'intéresse à prédire des temps, on calcule les temps par incidents, min, max et moyen
# et on cherchera à prédire des tgemps
# les infos de 1ere station sur place et nb de pompe seront prises à partir de incidents
aggregated = (
    df.groupby("IncidentNumber")
    .agg(
        PumpSecondsOnSite_min=("PumpOnSiteSeconds", "min"),
        PumpSecondsOnSite_mean=("PumpOnSiteSeconds", "mean"),
        PumpSecondsOnSite_max=("PumpOnSiteSeconds", "max"),
        TurnoutTimeSeconds_min=("TurnoutTimeSeconds", "min"),
        TurnoutTimeSeconds_mean=("TurnoutTimeSeconds", "mean"),
        TurnoutTimeSeconds_max=("TurnoutTimeSeconds", "max"),
        TravelTimeSeconds_min=("TravelTimeSeconds", "min"),
        TravelTimeSeconds_mean=("TravelTimeSeconds", "mean"),
        TravelTimeSeconds_max=("TravelTimeSeconds", "max"),
    )
    .reset_index()
)
display(aggregated.head())

# jointure de l'agrégat sur le dataframe pour ajouter les colonnes de temps
merge = pd.merge(
    df, aggregated, left_on="IncidentNumber", right_on="IncidentNumber", how="left"
).sort_values(by=["IncidentNumber", "PumpOrder"])

display(merge.head(10))
print(merge.shape)

,IncidentNumber,CalYear,HourOfCall,ResourceMobilisationId,Resource_Code,PerformanceReporting,DateAndTimeMobilised,DateAndTimeMobile,DateAndTimeArrived,TurnoutTimeSeconds,TravelTimeSeconds,AttendanceTimeSeconds,DateAndTimeLeft,DateAndTimeReturned,DeployedFromStation_Code,DeployedFromStation_Name,DeployedFromLocation,PumpOrder,PlusCode_Code,PlusCode_Description,DelayCodeId,DelayCode_Description,PumpOnSiteSeconds
0,235138081,2009,0,38426,H271,1,2009-01-01 00:02:00,NaT,2009-01-01 00:07:00,NaN,NaN,319,2009-01-01 00:16:00,2009-01-01 00:23:00,H27,Battersea,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,540.0
1,235138081,2009,0,38427,H212,2,2009-01-01 00:02:00,2009-01-01 00:06:00,2009-01-01 00:08:00,253.0,89.0,342,2009-01-01 00:12:00,2009-01-01 00:12:00,H21,Clapham,Home Station,2,Initial,Initial Mobilisation,NaN,NaN,240.0
2,2091,2009,0,38429,A341,1,2009-01-01 00:04:00,2009-01-01 00:06:00,2009-01-01 00:09:00,151.0,157.0,308,2009-01-01 00:16:00,2009-01-01 00:17:00,A34,Edmonton,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,420.0

,IncidentNumber,PumpSecondsOnSite_min,PumpSecondsOnSite_mean,PumpSecondsOnSite_max,TurnoutTimeSeconds_min,TurnoutTimeSeconds_mean,TurnoutTimeSeconds_max,TravelTimeSeconds_min,TravelTimeSeconds_mean,TravelTimeSeconds_max
0,1092,NaN,NaN,NaN,128.0,128.0,128.0,390.0,390.0,390.0
1,1111,120.0,120.0,120.0,71.0,71.0,71.0,480.0,480.0,480.0
2,1112,480.0,480.0,480.0,119.0,119.0,119.0,225.0,225.0,225.0
3,1121,240.0,300.0,360.0,65.0,66.0,67.0,192.0,213.5,235.0
4,1131,360.0,360.0,360.0,89.0,89.0,89.0,78.0,78.0,78.0

,IncidentNumber,CalYear,HourOfCall,ResourceMobilisationId,Resource_Code,PerformanceReporting,DateAndTimeMobilised,DateAndTimeMobile,DateAndTimeArrived,TurnoutTimeSeconds,TravelTimeSeconds,AttendanceTimeSeconds,DateAndTimeLeft,DateAndTimeReturned,DeployedFromStation_Code,DeployedFromStation_Name,DeployedFromLocation,PumpOrder,PlusCode_Code,PlusCode_Description,DelayCodeId,DelayCode_Description,PumpOnSiteSeconds,PumpSecondsOnSite_min,PumpSecondsOnSite_mean,PumpSecondsOnSite_max,TurnoutTimeSeconds_min,TurnoutTimeSeconds_mean,TurnoutTimeSeconds_max,TravelTimeSeconds_min,TravelTimeSeconds_mean,TravelTimeSeconds_max
25229,1092,2009,10,72977,G221,1,2009-02-23 10:02:00,2009-02-23 10:04:00,2009-02-23 10:11:00,128.0,390.0,518,NaT,2009-02-23 10:22:00,G22,Stanmore,Home Station,1,Initial,Initial Mobilisation,12.0,Not held up,NaN,NaN,NaN,NaN,128.0,128.0,128.0,390.0,390.0,390.0
338999,1111,2011,0,3610263,A411,1,2011-01-01 00:03:00,2011-01-01 00:04:00,2011-01-01 00:12:00,71.0,480.0,551,2011-01-01 00:14:00,2011-01-01 00:20:00,A41,West Hampstead,Home Station,1,Initial,Initial Mobilisation,12.0,Not held up,120.0,120.0,120.0,120.0,71.0,71.0,71.0,480.0,480.0,480.0
346998,1112,2011,1,3621855,E331,1,2011-01-22 01:32:00,2011-01-22 01:34:00,2011-01-22 01:38:00,119.0,225.0,344,2011-01-22 01:46:00,2011-01-22 01:47:00,E33,Southwark,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,480.0,480.0,480.0,480.0,119.0,119.0,119.0,225.0,225.0,225.0
492154,1121,2012,0,3831037,G401,1,2012-01-01 00:01:00,2012-01-01 00:02:00,2012-01-01 00:05:00,65.0,192.0,257,2012-01-01 00:11:00,2012-01-01 00:18:00,G40,Hayes,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,360.0,240.0,300.0,360.0,65.0,66.0,67.0,192.0,213.5,235.0
492155,1121,2012,0,3831038,G402,2,2012-01-01 00:01:00,2012-01-01 00:02:00,2012-01-01 00:06:00,67.0,235.0,302,2012-01-01 00:10:00,2012-01-01 00:17:00,G40,Hayes,Home Station,2,Initial,Initial Mobilisation,NaN,NaN,240.0,240.0,300.0,360.0,65.0,66.0,67.0,192.0,213.5,235.0
637588,1131,2013,0,4036113,A412,1,2013-01-01 00:02:00,2013-01-01 00:03:00,2013-01-01 00:05:00,89.0,78.0,167,2013-01-01 00:11:00,2013-01-01 00:12:00,A41,West Hampstead,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,360.0,360.0,360.0,360.0,89.0,89.0,89.0,78.0,78.0,78.0
733568,1133,2013,12,4179294,G281,1,2013-09-10 11:06:00,2013-09-10 11:06:00,2013-09-10 11:11:00,1.0,267.0,268,2013-09-10 11:14:00,2013-09-10 11:14:00,G28,Willesden,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,180.0,180.0,180.0,180.0,1.0,1.0,1.0,267.0,267.0,267.0
880681,1143,2014,11,4407663,H431,1,2014-10-28 11:57:00,2014-10-28 11:58:00,2014-10-28 12:04:00,42.0,377.0,419,2014-10-28 12:08:00,NaT,H43,Twickenham,Home Station,1,Initial,Initial Mobilisation,9.0,"Traffic, roadworks, etc",240.0,240.0,240.0,240.0,42.0,42.0,42.0,377.0,377.0,377.0
2,2091,2009,0,38429,A341,1,2009-01-01 00:04:00,2009-01-01 00:06:00,2009-01-01 00:09:00,151.0,157.0,308,2009-01-01 00:16:00,2009-01-01 00:17:00,A34,Edmonton,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,420.0,420.0,420.0,420.0,151.0,151.0,151.0,157.0,157.0,157.0
25230,2092,2009,10,72978,E241,1,2009-02-23 10:03:00,2009-02-23 10:04:00,2009-02-23 10:06:00,85.0,85.0,170,NaT,2009-02-23 10:17:00,E24,Woolwich,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,NaN,300.0,300.0,300.0,78.0,81.5,85.0,85.0,208.0,331.0

(2480004, 32)

In [11]:
# Pas de traitement particulier sur PlusCode_Code, car les lignes Add et RCA ne sont pas des lignes en doublons d'un Initial, et peuvent donc être traitées comme initial

# suppression des duplicatas pour ne garder qu'une ligne par incidents
merge = merge.drop_duplicates(subset=["IncidentNumber"], keep="first")
merge.IncidentNumber.duplicated().sum()

np.int64(0)

In [12]:
# suppression des données inutiles, en doublon métier, ou non présente au moment de la prédiction
merge = merge.drop(
    [
        "CalYear",
        "HourOfCall",
        "ResourceMobilisationId",
        "Resource_Code",
        "PerformanceReporting",
        "DateAndTimeMobilised",
        "DateAndTimeMobile",
        "DateAndTimeArrived",
        "TurnoutTimeSeconds",
        "TravelTimeSeconds",
        "PumpOnSiteSeconds",
        "AttendanceTimeSeconds",
        "DateAndTimeLeft",
        "DateAndTimeReturned",
        "DeployedFromStation_Code",
        "DeployedFromStation_Name",
        "DeployedFromLocation",
        "PumpOrder",
        "PlusCode_Code",
        "PlusCode_Description",
        "DelayCodeId",
        "DelayCode_Description",
    ],
    axis=1,
)

In [13]:
# sauvegarde d'un fichier temporaire
merge.to_csv("../data/PreMobilisations.csv", sep=";", index=False)

In [ ]:
# ------------------------- Merge Incidents et Mobilisations -----------------------------
import pandas as pd

# Ajuster les paramètres pour afficher toutes les lignes et colonnes
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)

# Charge les dataset temporaire
df_incidents = pd.read_csv("../data/PreIncidents.csv", sep=";", low_memory=False)
df_mobilisations = pd.read_csv(
    "../data/PreMobilisations.csv", sep=";", low_memory=False
)

display(df_incidents.head())
display(df_incidents.info())

display(df_mobilisations.head())
display(df_mobilisations.info())

,IncidentNumber,CalYear,HourOfCall,PropertyType,Postcode_district,FirstPumpArriving_DeployedFromStation,NumPumpsAttending,Month,DayOfWeek,StopCode
0,235138081,2009,0,CAR,SW11,BATTERSEA,2.0,1,4,SST-RTC
1,1091,2009,0,LAKE/POND/RESERVOIR,SE1,NaN,NaN,1,4,SST-ASSIST OTHER AGENCIES
2,2091,2009,0,ROAD SURFACE/PAVEMENT,N9,EDMONTON,1.0,1,4,SECONDARY FIRE
3,3091,2009,0,DOMESTIC GARDEN (VEGETATION NOT EQUIPMENT),UB10,HILLINGDON,1.0,1,4,SECONDARY FIRE
4,5091,2009,0,CYCLE PATH/PUBLIC FOOTPATH/BRIDLEWAY,N7,HOLLOWAY,2.0,1,4,SECONDARY FIRE

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1771413 entries, 0 to 1771412
Data columns (total 10 columns):
 #   Column                                 Dtype
---  ------                                 -----
 0   IncidentNumber                         object
 1   CalYear                                int64
 2   HourOfCall                             int64
 3   PropertyType                           object
 4   Postcode_district                      object
 5   FirstPumpArriving_DeployedFromStation  object
 6   NumPumpsAttending                      float64
 7   Month                                  int64
 8   DayOfWeek                              int64
 9   StopCode                               object
dtypes: float64(1), int64(4), object(5)
memory usage: 135.1+ MB

None

,IncidentNumber,PumpSecondsOnSite_min,PumpSecondsOnSite_mean,PumpSecondsOnSite_max,TurnoutTimeSeconds_min,TurnoutTimeSeconds_mean,TurnoutTimeSeconds_max,TravelTimeSeconds_min,TravelTimeSeconds_mean,TravelTimeSeconds_max
0,1092,NaN,NaN,NaN,128.0,128.0,128.0,390.0,390.0,390.0
1,1111,120.0,120.0,120.0,71.0,71.0,71.0,480.0,480.0,480.0
2,1112,480.0,480.0,480.0,119.0,119.0,119.0,225.0,225.0,225.0
3,1121,240.0,300.0,360.0,65.0,66.0,67.0,192.0,213.5,235.0
4,1131,360.0,360.0,360.0,89.0,89.0,89.0,78.0,78.0,78.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1642042 entries, 0 to 1642041
Data columns (total 10 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   IncidentNumber           1642042 non-null  object
 1   PumpSecondsOnSite_min    1612710 non-null  float64
 2   PumpSecondsOnSite_mean   1612710 non-null  float64
 3   PumpSecondsOnSite_max    1612710 non-null  float64
 4   TurnoutTimeSeconds_min   1624689 non-null  float64
 5   TurnoutTimeSeconds_mean  1624689 non-null  float64
 6   TurnoutTimeSeconds_max   1624689 non-null  float64
 7   TravelTimeSeconds_min    1624692 non-null  float64
 8   TravelTimeSeconds_mean   1624692 non-null  float64
 9   TravelTimeSeconds_max    1624692 non-null  float64
dtypes: float64(9), object(1)
memory usage: 125.3+ MB

None

In [ ]:
# Merge
df = pd.merge(
    df_incidents,
    df_mobilisations,
    left_on="IncidentNumber",
    right_on="IncidentNumber",
    how="left",
)
df = df.reset_index(drop=True)

# on vérifie qu'il n'y a pas de doublon sur IncidentNumber avant de la supprimer
print("IncidentNumber na :", df.IncidentNumber.isna().sum())

display(df.head())
display(df.info())

IncidentNumber na : 0

,IncidentNumber,CalYear,HourOfCall,PropertyType,Postcode_district,FirstPumpArriving_DeployedFromStation,NumPumpsAttending,Month,DayOfWeek,StopCode,PumpSecondsOnSite_min,PumpSecondsOnSite_mean,PumpSecondsOnSite_max,TurnoutTimeSeconds_min,TurnoutTimeSeconds_mean,TurnoutTimeSeconds_max,TravelTimeSeconds_min,TravelTimeSeconds_mean,TravelTimeSeconds_max
0,235138081,2009,0,CAR,SW11,BATTERSEA,2.0,1,4,SST-RTC,240.0,390.0,540.0,253.0,253.0,253.0,89.0,89.0,89.0
1,1091,2009,0,LAKE/POND/RESERVOIR,SE1,NaN,NaN,1,4,SST-ASSIST OTHER AGENCIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2091,2009,0,ROAD SURFACE/PAVEMENT,N9,EDMONTON,1.0,1,4,SECONDARY FIRE,420.0,420.0,420.0,151.0,151.0,151.0,157.0,157.0,157.0
3,3091,2009,0,DOMESTIC GARDEN (VEGETATION NOT EQUIPMENT),UB10,HILLINGDON,1.0,1,4,SECONDARY FIRE,720.0,720.0,720.0,108.0,108.0,108.0,102.0,102.0,102.0
4,5091,2009,0,CYCLE PATH/PUBLIC FOOTPATH/BRIDLEWAY,N7,HOLLOWAY,2.0,1,4,SECONDARY FIRE,120.0,120.0,120.0,114.0,128.0,142.0,108.0,113.5,119.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1771413 entries, 0 to 1771412
Data columns (total 19 columns):
 #   Column                                 Dtype
---  ------                                 -----
 0   IncidentNumber                         object
 1   CalYear                                int64
 2   HourOfCall                             int64
 3   PropertyType                           object
 4   Postcode_district                      object
 5   FirstPumpArriving_DeployedFromStation  object
 6   NumPumpsAttending                      float64
 7   Month                                  int64
 8   DayOfWeek                              int64
 9   StopCode                               object
 10  PumpSecondsOnSite_min                  float64
 11  PumpSecondsOnSite_mean                 float64
 12  PumpSecondsOnSite_max                  float64
 13  TurnoutTimeSeconds_min                 float64
 14  TurnoutTimeSeconds_mean                float64
 15  TurnoutTimeSeconds_max                 float64
 16  TravelTimeSeconds_min                  float64
 17  TravelTimeSeconds_mean                 float64
 18  TravelTimeSeconds_max                  float64
dtypes: float64(10), int64(4), object(5)
memory usage: 256.8+ MB

None

In [16]:
# sauvegarde d'un fichier temporaire
df.to_csv("../data/PreProcessTemp.csv", sep=";", index=False)

In [ ]:
# ------------------------- Gestion des NA -----------------------------

# Nettoyage du fichier PreProcessTemp. Pas de doublon sur IncidentNumber, vérifié juste avant
import pandas as pd

import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 

import seaborn as sns

pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)

df = pd.read_csv("../data/PreProcessTemp.csv", sep=";", low_memory=False)

display(df.head())
display(df.info())

,IncidentNumber,CalYear,HourOfCall,PropertyType,Postcode_district,FirstPumpArriving_DeployedFromStation,NumPumpsAttending,Month,DayOfWeek,StopCode,PumpSecondsOnSite_min,PumpSecondsOnSite_mean,PumpSecondsOnSite_max,TurnoutTimeSeconds_min,TurnoutTimeSeconds_mean,TurnoutTimeSeconds_max,TravelTimeSeconds_min,TravelTimeSeconds_mean,TravelTimeSeconds_max
0,235138081,2009,0,CAR,SW11,BATTERSEA,2.0,1,4,SST-RTC,240.0,390.0,540.0,253.0,253.0,253.0,89.0,89.0,89.0
1,1091,2009,0,LAKE/POND/RESERVOIR,SE1,NaN,NaN,1,4,SST-ASSIST OTHER AGENCIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2091,2009,0,ROAD SURFACE/PAVEMENT,N9,EDMONTON,1.0,1,4,SECONDARY FIRE,420.0,420.0,420.0,151.0,151.0,151.0,157.0,157.0,157.0
3,3091,2009,0,DOMESTIC GARDEN (VEGETATION NOT EQUIPMENT),UB10,HILLINGDON,1.0,1,4,SECONDARY FIRE,720.0,720.0,720.0,108.0,108.0,108.0,102.0,102.0,102.0
4,5091,2009,0,CYCLE PATH/PUBLIC FOOTPATH/BRIDLEWAY,N7,HOLLOWAY,2.0,1,4,SECONDARY FIRE,120.0,120.0,120.0,114.0,128.0,142.0,108.0,113.5,119.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1771413 entries, 0 to 1771412
Data columns (total 19 columns):
 #   Column                                 Dtype
---  ------                                 -----
 0   IncidentNumber                         object
 1   CalYear                                int64
 2   HourOfCall                             int64
 3   PropertyType                           object
 4   Postcode_district                      object
 5   FirstPumpArriving_DeployedFromStation  object
 6   NumPumpsAttending                      float64
 7   Month                                  int64
 8   DayOfWeek                              int64
 9   StopCode                               object
 10  PumpSecondsOnSite_min                  float64
 11  PumpSecondsOnSite_mean                 float64
 12  PumpSecondsOnSite_max                  float64
 13  TurnoutTimeSeconds_min                 float64
 14  TurnoutTimeSeconds_mean                float64
 15  TurnoutTimeSeconds_max                 float64
 16  TravelTimeSeconds_min                  float64
 17  TravelTimeSeconds_mean                 float64
 18  TravelTimeSeconds_max                  float64
dtypes: float64(10), int64(4), object(5)
memory usage: 256.8+ MB

None

In [ ]:
# Gestion des NA


def ShowNa():
    # Affichage des NA
    na_counts = df.isna().sum()
    print(na_counts[na_counts > 0], "\n")

    print("\ntotal ligne na", df.isna().any(axis=1).sum())
    print("Total de lignes", len(df))
    print("Poucentage", df.isna().any(axis=1).sum() / len(df) * 100, "%")

    print("\nligne par année")
    # display(df.CalYear.value_counts())

    # print("ligne na par année")
    # display(df_temp.loc[df_temp.isna().any(axis=1), "CalYear"].value_counts())
    # print("Les lignes avec des na sont principalments des lignes d'avant 2014")

    # years = []
    # for year in range(df_temp.CalYear.min(), df_temp.CalYear.max() + 1):
    #     total = len(df_temp.loc[df_temp.CalYear == year])
    #     na = df_temp[df_temp.CalYear == year].isna().any(axis=1).sum()
    #     years.append([year, total, na, na / total * 100])

    years = []
    for year in range(df.CalYear.min(), df.CalYear.max() + 1):
        for col in df.columns:
            total = len(df.loc[df.CalYear == year])
            na = df.loc[df.CalYear == year, col].isna().sum()
            if na > 0:
                years.append([year, col, total, na, na / total * 100])

    df_years = pd.DataFrame(
        years, columns=["Année", "Colonne", "Nb lignes", "Na", "%Na"]
    )
    # display(df_years)
    display(df_years.groupby(["Année", "Colonne"]).min())


ShowNa()

# supprime les lignes avec très peu de NA
# les lignes avec des USRS vides datent d'avant 2015, on les supprime
df = df.dropna(axis=0, how="any", subset=["PropertyType", "NumPumpsAttending"])
ShowNa()

# Il n'existe pas toujours de ligne d'intervention pour les lignes d'Incidents, on supprime les lignes sans informations de mobilisation, et parfois l'information est partiellement saisie
df = df.dropna(
    axis=0,
    how="any",
    subset=[
        "PumpSecondsOnSite_min",
        "TurnoutTimeSeconds_min",
        "TravelTimeSeconds_min",
        "FirstPumpArriving_DeployedFromStation",
    ],
)
ShowNa()

PropertyType                                  6
FirstPumpArriving_DeployedFromStation    135700
NumPumpsAttending                         14103
PumpSecondsOnSite_min                    165344
PumpSecondsOnSite_mean                   165344
PumpSecondsOnSite_max                    165344
TurnoutTimeSeconds_min                   153350
TurnoutTimeSeconds_mean                  153350
TurnoutTimeSeconds_max                   153350
TravelTimeSeconds_min                    153347
TravelTimeSeconds_mean                   153347
TravelTimeSeconds_max                    153347
dtype: int64


total ligne na 179894
Total de lignes 1771413
Poucentage 10.155395720817223 %

ligne par année

                                             Nb lignes     Na        %Na
Année Colonne
2009  FirstPumpArriving_DeployedFromStation     134379  13173   9.802871
      NumPumpsAttending                         134379   1341   0.997924
      PumpSecondsOnSite_max                     134379  33117  24.644476
      PumpSecondsOnSite_mean                    134379  33117  24.644476
      PumpSecondsOnSite_min                     134379  33117  24.644476
      TravelTimeSeconds_max                     134379  17350  12.911244
      TravelTimeSeconds_mean                    134379  17350  12.911244
      TravelTimeSeconds_min                     134379  17350  12.911244
      TurnoutTimeSeconds_max                    134379  17349  12.910499
      TurnoutTimeSeconds_mean                   134379  17349  12.910499
      TurnoutTimeSeconds_min                    134379  17349  12.910499
2010  FirstPumpArriving_DeployedFromStation     125060  14704  11.757556
      NumPumpsAttending                         125060    672   0.537342
      PumpSecondsOnSite_max                     125060  18337  14.662562
      PumpSecondsOnSite_mean                    125060  18337  14.662562
      PumpSecondsOnSite_min                     125060  18337  14.662562
      TravelTimeSeconds_max                     125060  16541  13.226451
      TravelTimeSeconds_mean                    125060  16541  13.226451
      TravelTimeSeconds_min                     125060  16541  13.226451
      TurnoutTimeSeconds_max                    125060  16556  13.238446
      TurnoutTimeSeconds_mean                   125060  16556  13.238446
      TurnoutTimeSeconds_min                    125060  16556  13.238446
2011  FirstPumpArriving_DeployedFromStation     115132  12448  10.811938
      NumPumpsAttending                         115132    447   0.388250
      PumpSecondsOnSite_max                     115132  15613  13.560956
      PumpSecondsOnSite_mean                    115132  15613  13.560956
      PumpSecondsOnSite_min                     115132  15613  13.560956
      TravelTimeSeconds_max                     115132  14014  12.172115
      TravelTimeSeconds_mean                    115132  14014  12.172115
      TravelTimeSeconds_min                     115132  14014  12.172115
      TurnoutTimeSeconds_max                    115132  14012  12.170378
      TurnoutTimeSeconds_mean                   115132  14012  12.170378
      TurnoutTimeSeconds_min                    115132  14012  12.170378
2012  FirstPumpArriving_DeployedFromStation     108391  11612  10.713067
      NumPumpsAttending                         108391    746   0.688249
      PumpSecondsOnSite_max                     108391  12348  11.392090
      PumpSecondsOnSite_mean                    108391  12348  11.392090
      PumpSecondsOnSite_min                     108391  12348  11.392090
      TravelTimeSeconds_max                     108391  12977  11.972396
      TravelTimeSeconds_mean                    108391  12977  11.972396
      TravelTimeSeconds_min                     108391  12977  11.972396
      TurnoutTimeSeconds_max                    108391  12971  11.966861
      TurnoutTimeSeconds_mean                   108391  12971  11.966861
      TurnoutTimeSeconds_min                    108391  12971  11.966861
2013  FirstPumpArriving_DeployedFromStation     103055   9933   9.638543
      NumPumpsAttending                         103055    381   0.369705
      PumpSecondsOnSite_max                     103055  10538  10.225608
      PumpSecondsOnSite_mean                    103055  10538  10.225608
      PumpSecondsOnSite_min                     103055  10538  10.225608
      TravelTimeSeconds_max                     103055  11113  10.783562
      TravelTimeSeconds_mean                    103055  11113  10.783562
      TravelTimeSeconds_min                     103055  11113  10.783562
      TurnoutTimeSeconds_max                    103055  11125  10.795206
      TurnoutTimeSeconds_mean                   103055  11125  10.795206
      TurnoutTimeSeconds_min                    103055  11125  10.795206
2014  FirstPumpArriving_DeployedFromStation      96079   8462   8.807336
      NumPumpsAttending                          96079    607   0.631772
      PumpSecondsOnSite_max                      96079   8916   9.279863
      PumpSecondsOnSite_mean                     96079   8916   9.279863
      PumpSecondsOnSite_min                      96079   8916   9.279863
      TravelTimeSeconds_max                      96079   9318   9.698269
      TravelTimeSeconds_mean                     96079   9318   9.698269
      TravelTimeSeconds_min                      96079   9318   9.698269
      TurnoutTimeSeconds_max                     96079   9333   9.713881
      TurnoutTimeSeconds_mean                    96079   9333   9.713881
      TurnoutTimeSeconds_min                     96079   9333   9.713881
2015  FirstPumpArriving_DeployedFromStation      97831   7584   7.752144
      NumPumpsAttending                          97831    249   0.254521
      PumpSecondsOnSite_max                      97831   8004   8.181456
      PumpSecondsOnSite_mean                     97831   8004   8.181456
      PumpSecondsOnSite_min                      97831   8004   8.181456
      TravelTimeSeconds_max                      97831   8576   8.766138
      TravelTimeSeconds_mean                     97831   8576   8.766138
      TravelTimeSeconds_min                      97831   8576   8.766138
      TurnoutTimeSeconds_max                     97831   8585   8.775337
      TurnoutTimeSeconds_mean                    97831   8585   8.775337
      TurnoutTimeSeconds_min                     97831   8585   8.775337
2016  FirstPumpArriving_DeployedFromStation     104838   7163   6.832446
      NumPumpsAttending                         104838    637   0.607604
      PumpSecondsOnSite_max                     104838   7215   6.882047
      PumpSecondsOnSite_mean                    104838   7215   6.882047
      PumpSecondsOnSite_min                     104838   7215   6.882047
      TravelTimeSeconds_max                     104838   7899   7.534482
      TravelTimeSeconds_mean                    104838   7899   7.534482
      TravelTimeSeconds_min                     104838   7899   7.534482
      TurnoutTimeSeconds_max                    104838   7899   7.534482
      TurnoutTimeSeconds_mean                   104838   7899   7.534482
      TurnoutTimeSeconds_min                    104838   7899   7.534482
2017  FirstPumpArriving_DeployedFromStation     103514   6297   6.083235
      NumPumpsAttending                         103514    436   0.421199
      PumpSecondsOnSite_max                     103514   6317   6.102556
      PumpSecondsOnSite_mean                    103514   6317   6.102556
      PumpSecondsOnSite_min                     103514   6317   6.102556
      TravelTimeSeconds_max                     103514   6971   6.734355
      TravelTimeSeconds_mean                    103514   6971   6.734355
      TravelTimeSeconds_min                     103514   6971   6.734355
      TurnoutTimeSeconds_max                    103514   6968   6.731457
      TurnoutTimeSeconds_mean                   103514   6968   6.731457
      TurnoutTimeSeconds_min                    103514   6968   6.731457
2018  FirstPumpArriving_DeployedFromStation     105974   6448   6.084511
      NumPumpsAttending                         105974    631   0.595429
      PumpSecondsOnSite_max                     105974   6482   6.116595
      PumpSecondsOnSite_mean                    105974   6482   6.116595
      PumpSecondsOnSite_min                     105974   6482   6.116595
      TravelTimeSeconds_max                     105974   7219   6.812048
      TravelTimeSeconds_mean                    105974   7219   6.812048
      TravelTimeSeconds_min                     105974   7219   6.812048
      TurnoutTimeSeconds_max                    105974   7203   6.796950
      TurnoutTimeSeconds_mean                   105974   7203   6.796950
      TurnoutTimeSeconds_min                    105974   7203   6.796950
2019  FirstPumpArriving_DeployedFromStation     105010   6036   5.748024
      NumPumpsAttending                         105010    483   0.459956
      PumpSecondsOnSite_max                     105010   6066   5.776593
      PumpSecondsOnSite_mean                    105010   6066   5.776593
      PumpSecondsOnSite_min                     105010   6066   5.776593
      TravelTimeSeconds_max                     105010   6737   6.415579
      TravelTimeSeconds_mean                    105010   6737   6.415579
      TravelTimeSeconds_min                     105010   6737   6.415579
      TurnoutTimeSeconds_max                    105010   6732   6.410818
      TurnoutTimeSeconds_mean                   105010   6732   6.410818
      TurnoutTimeSeconds_min                    105010   6732   6.410818
2020  FirstPumpArriving_DeployedFromStation      98568   5046   5.119308
      NumPumpsAttending                          98568    668   0.677705
      PumpSecondsOnSite_max                      98568   5072   5.145686
      PumpSecondsOnSite_mean                     98568   5072   5.145686
      PumpSecondsOnSite_min                      98568   5072   5.145686
      TravelTimeSeconds_max                      98568   5420   5.498742
      TravelTimeSeconds_mean                     98568   5420   5.498742
      TravelTimeSeconds_min                      98568   5420   5.498742
      TurnoutTimeSeconds_max                     98568   5417   5.495698
      TurnoutTimeSeconds_mean                    98568   5417   5.495698
      TurnoutTimeSeconds_min                     98568   5417   5.495698
2021  FirstPumpArriving_DeployedFromStation     109577   7499   6.843589
      NumPumpsAttending                         109577   2607   2.379149
      PumpSecondsOnSite_max                     109577   7537   6.878268
      PumpSecondsOnSite_mean                    109577   7537   6.878268
      PumpSecondsOnSite_min                     109577   7537   6.878268
      TravelTimeSeconds_max                     109577   7938   7.244221
      TravelTimeSeconds_mean                    109577   7938   7.244221
      TravelTimeSeconds_min                     109577   7938   7.244221
      TurnoutTimeSeconds_max                    109577   7935   7.241483
      TurnoutTimeSeconds_mean                   109577   7935   7.241483
      TurnoutTimeSeconds_min                    109577   7935   7.241483
2022  FirstPumpArriving_DeployedFromStation     125392   7241   5.774691
      NumPumpsAttending                         125392   1742   1.389243
      PumpSecondsOnSite_max                     125392   7264   5.793033
      PumpSecondsOnSite_mean                    125392   7264   5.793033
      PumpSecondsOnSite_min                     125392   7264   5.793033
      TravelTimeSeconds_max                     125392   7757   6.186200
      TravelTimeSeconds_mean                    125392   7757   6.186200
      TravelTimeSeconds_min                     125392   7757   6.186200
      TurnoutTimeSeconds_max                    125392   7754   6.183808
      TurnoutTimeSeconds_mean                   125392   7754   6.183808
      TurnoutTimeSeconds_min                    125392   7754   6.183808
2023  FirstPumpArriving_DeployedFromStation     126472   6552   5.180593
      NumPumpsAttending                         126472   1179   0.932222
      PumpSecondsOnSite_max                     126472   6584   5.205895
      PumpSecondsOnSite_mean                    126472   6584   5.205895
      PumpSecondsOnSite_min                     126472   6584   5.205895
      TravelTimeSeconds_max                     126472   7101   5.614682
      TravelTimeSeconds_mean                    126472   7101   5.614682
      TravelTimeSeconds_min                     126472   7101   5.614682
      TurnoutTimeSeconds_max                    126472   7101   5.614682
      TurnoutTimeSeconds_mean                   126472   7101   5.614682
      TurnoutTimeSeconds_min                    126472   7101   5.614682
2024  FirstPumpArriving_DeployedFromStation     112141   5502   4.906323
      NumPumpsAttending                         112141   1277   1.138745
      PropertyType                              112141      6   0.005350
      PumpSecondsOnSite_max                     112141   5934   5.291553
      PumpSecondsOnSite_mean                    112141   5934   5.291553
      PumpSecondsOnSite_min                     112141   5934   5.291553
      TravelTimeSeconds_max                     112141   6416   5.721369
      TravelTimeSeconds_mean                    112141   6416   5.721369
      TravelTimeSeconds_min                     112141   6416   5.721369
      TurnoutTimeSeconds_max                    112141   6410   5.716018
      TurnoutTimeSeconds_mean                   112141   6410   5.716018
      TurnoutTimeSeconds_min                    112141   6410   5.716018

FirstPumpArriving_DeployedFromStation    121597
PumpSecondsOnSite_min                    151241
PumpSecondsOnSite_mean                   151241
PumpSecondsOnSite_max                    151241
TurnoutTimeSeconds_min                   139247
TurnoutTimeSeconds_mean                  139247
TurnoutTimeSeconds_max                   139247
TravelTimeSeconds_min                    139244
TravelTimeSeconds_mean                   139244
TravelTimeSeconds_max                    139244
dtype: int64


total ligne na 165791
Total de lignes 1757310
Poucentage 9.434362747608562 %

ligne par année

                                             Nb lignes     Na        %Na
Année Colonne
2009  FirstPumpArriving_DeployedFromStation     133038  11832   8.893700
      PumpSecondsOnSite_max                     133038  31776  23.884905
      PumpSecondsOnSite_mean                    133038  31776  23.884905
      PumpSecondsOnSite_min                     133038  31776  23.884905
      TravelTimeSeconds_max                     133038  16009  12.033404
      TravelTimeSeconds_mean                    133038  16009  12.033404
      TravelTimeSeconds_min                     133038  16009  12.033404
      TurnoutTimeSeconds_max                    133038  16008  12.032652
      TurnoutTimeSeconds_mean                   133038  16008  12.032652
      TurnoutTimeSeconds_min                    133038  16008  12.032652
2010  FirstPumpArriving_DeployedFromStation     124388  14032  11.280831
      PumpSecondsOnSite_max                     124388  17665  14.201531
      PumpSecondsOnSite_mean                    124388  17665  14.201531
      PumpSecondsOnSite_min                     124388  17665  14.201531
      TravelTimeSeconds_max                     124388  15869  12.757662
      TravelTimeSeconds_mean                    124388  15869  12.757662
      TravelTimeSeconds_min                     124388  15869  12.757662
      TurnoutTimeSeconds_max                    124388  15884  12.769721
      TurnoutTimeSeconds_mean                   124388  15884  12.769721
      TurnoutTimeSeconds_min                    124388  15884  12.769721
2011  FirstPumpArriving_DeployedFromStation     114685  12001  10.464315
      PumpSecondsOnSite_max                     114685  15166  13.224048
      PumpSecondsOnSite_mean                    114685  15166  13.224048
      PumpSecondsOnSite_min                     114685  15166  13.224048
      TravelTimeSeconds_max                     114685  13567  11.829795
      TravelTimeSeconds_mean                    114685  13567  11.829795
      TravelTimeSeconds_min                     114685  13567  11.829795
      TurnoutTimeSeconds_max                    114685  13565  11.828051
      TurnoutTimeSeconds_mean                   114685  13565  11.828051
      TurnoutTimeSeconds_min                    114685  13565  11.828051
2012  FirstPumpArriving_DeployedFromStation     107645  10866  10.094291
      PumpSecondsOnSite_max                     107645  11602  10.778020
      PumpSecondsOnSite_mean                    107645  11602  10.778020
      PumpSecondsOnSite_min                     107645  11602  10.778020
      TravelTimeSeconds_max                     107645  12231  11.362348
      TravelTimeSeconds_mean                    107645  12231  11.362348
      TravelTimeSeconds_min                     107645  12231  11.362348
      TurnoutTimeSeconds_max                    107645  12225  11.356775
      TurnoutTimeSeconds_mean                   107645  12225  11.356775
      TurnoutTimeSeconds_min                    107645  12225  11.356775
2013  FirstPumpArriving_DeployedFromStation     102674   9552   9.303232
      PumpSecondsOnSite_max                     102674  10157   9.892475
      PumpSecondsOnSite_mean                    102674  10157   9.892475
      PumpSecondsOnSite_min                     102674  10157   9.892475
      TravelTimeSeconds_max                     102674  10732  10.452500
      TravelTimeSeconds_mean                    102674  10732  10.452500
      TravelTimeSeconds_min                     102674  10732  10.452500
      TurnoutTimeSeconds_max                    102674  10744  10.464188
      TurnoutTimeSeconds_mean                   102674  10744  10.464188
      TurnoutTimeSeconds_min                    102674  10744  10.464188
2014  FirstPumpArriving_DeployedFromStation      95472   7855   8.227543
      PumpSecondsOnSite_max                      95472   8309   8.703075
      PumpSecondsOnSite_mean                     95472   8309   8.703075
      PumpSecondsOnSite_min                      95472   8309   8.703075
      TravelTimeSeconds_max                      95472   8711   9.124141
      TravelTimeSeconds_mean                     95472   8711   9.124141
      TravelTimeSeconds_min                      95472   8711   9.124141
      TurnoutTimeSeconds_max                     95472   8726   9.139853
      TurnoutTimeSeconds_mean                    95472   8726   9.139853
      TurnoutTimeSeconds_min                     95472   8726   9.139853
2015  FirstPumpArriving_DeployedFromStation      97582   7335   7.516755
      PumpSecondsOnSite_max                      97582   7755   7.947162
      PumpSecondsOnSite_mean                     97582   7755   7.947162
      PumpSecondsOnSite_min                      97582   7755   7.947162
      TravelTimeSeconds_max                      97582   8327   8.533336
      TravelTimeSeconds_mean                     97582   8327   8.533336
      TravelTimeSeconds_min                      97582   8327   8.533336
      TurnoutTimeSeconds_max                     97582   8336   8.542559
      TurnoutTimeSeconds_mean                    97582   8336   8.542559
      TurnoutTimeSeconds_min                     97582   8336   8.542559
2016  FirstPumpArriving_DeployedFromStation     104201   6526   6.262896
      PumpSecondsOnSite_max                     104201   6578   6.312799
      PumpSecondsOnSite_mean                    104201   6578   6.312799
      PumpSecondsOnSite_min                     104201   6578   6.312799
      TravelTimeSeconds_max                     104201   7262   6.969223
      TravelTimeSeconds_mean                    104201   7262   6.969223
      TravelTimeSeconds_min                     104201   7262   6.969223
      TurnoutTimeSeconds_max                    104201   7262   6.969223
      TurnoutTimeSeconds_mean                   104201   7262   6.969223
      TurnoutTimeSeconds_min                    104201   7262   6.969223
2017  FirstPumpArriving_DeployedFromStation     103078   5861   5.685985
      PumpSecondsOnSite_max                     103078   5881   5.705388
      PumpSecondsOnSite_mean                    103078   5881   5.705388
      PumpSecondsOnSite_min                     103078   5881   5.705388
      TravelTimeSeconds_max                     103078   6535   6.339859
      TravelTimeSeconds_mean                    103078   6535   6.339859
      TravelTimeSeconds_min                     103078   6535   6.339859
      TurnoutTimeSeconds_max                    103078   6532   6.336949
      TurnoutTimeSeconds_mean                   103078   6532   6.336949
      TurnoutTimeSeconds_min                    103078   6532   6.336949
2018  FirstPumpArriving_DeployedFromStation     105343   5817   5.521962
      PumpSecondsOnSite_max                     105343   5851   5.554237
      PumpSecondsOnSite_mean                    105343   5851   5.554237
      PumpSecondsOnSite_min                     105343   5851   5.554237
      TravelTimeSeconds_max                     105343   6588   6.253856
      TravelTimeSeconds_mean                    105343   6588   6.253856
      TravelTimeSeconds_min                     105343   6588   6.253856
      TurnoutTimeSeconds_max                    105343   6572   6.238668
      TurnoutTimeSeconds_mean                   105343   6572   6.238668
      TurnoutTimeSeconds_min                    105343   6572   6.238668
2019  FirstPumpArriving_DeployedFromStation     104527   5553   5.312503
      PumpSecondsOnSite_max                     104527   5583   5.341204
      PumpSecondsOnSite_mean                    104527   5583   5.341204
      PumpSecondsOnSite_min                     104527   5583   5.341204
      TravelTimeSeconds_max                     104527   6254   5.983143
      TravelTimeSeconds_mean                    104527   6254   5.983143
      TravelTimeSeconds_min                     104527   6254   5.983143
      TurnoutTimeSeconds_max                    104527   6249   5.978360
      TurnoutTimeSeconds_mean                   104527   6249   5.978360
      TurnoutTimeSeconds_min                    104527   6249   5.978360
2020  FirstPumpArriving_DeployedFromStation      97900   4378   4.471910
      PumpSecondsOnSite_max                      97900   4404   4.498468
      PumpSecondsOnSite_mean                     97900   4404   4.498468
      PumpSecondsOnSite_min                      97900   4404   4.498468
      TravelTimeSeconds_max                      97900   4752   4.853933
      TravelTimeSeconds_mean                     97900   4752   4.853933
      TravelTimeSeconds_min                      97900   4752   4.853933
      TurnoutTimeSeconds_max                     97900   4749   4.850868
      TurnoutTimeSeconds_mean                    97900   4749   4.850868
      TurnoutTimeSeconds_min                     97900   4749   4.850868
2021  FirstPumpArriving_DeployedFromStation     106970   4892   4.573245
      PumpSecondsOnSite_max                     106970   4930   4.608769
      PumpSecondsOnSite_mean                    106970   4930   4.608769
      PumpSecondsOnSite_min                     106970   4930   4.608769
      TravelTimeSeconds_max                     106970   5331   4.983640
      TravelTimeSeconds_mean                    106970   5331   4.983640
      TravelTimeSeconds_min                     106970   5331   4.983640
      TurnoutTimeSeconds_max                    106970   5328   4.980836
      TurnoutTimeSeconds_mean                   106970   5328   4.980836
      TurnoutTimeSeconds_min                    106970   5328   4.980836
2022  FirstPumpArriving_DeployedFromStation     123650   5499   4.447230
      PumpSecondsOnSite_max                     123650   5522   4.465831
      PumpSecondsOnSite_mean                    123650   5522   4.465831
      PumpSecondsOnSite_min                     123650   5522   4.465831
      TravelTimeSeconds_max                     123650   6015   4.864537
      TravelTimeSeconds_mean                    123650   6015   4.864537
      TravelTimeSeconds_min                     123650   6015   4.864537
      TurnoutTimeSeconds_max                    123650   6012   4.862111
      TurnoutTimeSeconds_mean                   123650   6012   4.862111
      TurnoutTimeSeconds_min                    123650   6012   4.862111
2023  FirstPumpArriving_DeployedFromStation     125293   5373   4.288348
      PumpSecondsOnSite_max                     125293   5405   4.313888
      PumpSecondsOnSite_mean                    125293   5405   4.313888
      PumpSecondsOnSite_min                     125293   5405   4.313888
      TravelTimeSeconds_max                     125293   5922   4.726521
      TravelTimeSeconds_mean                    125293   5922   4.726521
      TravelTimeSeconds_min                     125293   5922   4.726521
      TurnoutTimeSeconds_max                    125293   5922   4.726521
      TurnoutTimeSeconds_mean                   125293   5922   4.726521
      TurnoutTimeSeconds_min                    125293   5922   4.726521
2024  FirstPumpArriving_DeployedFromStation     110864   4225   3.810976
      PumpSecondsOnSite_max                     110864   4657   4.200642
      PumpSecondsOnSite_mean                    110864   4657   4.200642
      PumpSecondsOnSite_min                     110864   4657   4.200642
      TravelTimeSeconds_max                     110864   5139   4.635409
      TravelTimeSeconds_mean                    110864   5139   4.635409
      TravelTimeSeconds_min                     110864   5139   4.635409
      TurnoutTimeSeconds_max                    110864   5133   4.629997
      TurnoutTimeSeconds_mean                   110864   5133   4.629997
      TurnoutTimeSeconds_min                    110864   5133   4.629997

Series([], dtype: int64)


total ligne na 0
Total de lignes 1591519
Poucentage 0.0 %

ligne par année

Empty DataFrame
Columns: [Nb lignes, Na, %Na]
Index: []

In [ ]:
df.head()
# df[df.CalYear > 2015].info()

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1591519 entries, 0 to 1771002
Data columns (total 19 columns):
 #   Column                                 Non-Null Count    Dtype
---  ------                                 --------------    -----
 0   IncidentNumber                         1591519 non-null  object
 1   CalYear                                1591519 non-null  int64
 2   HourOfCall                             1591519 non-null  int64
 3   PropertyType                           1591519 non-null  object
 4   Postcode_district                      1591519 non-null  object
 5   FirstPumpArriving_DeployedFromStation  1591519 non-null  object
 6   NumPumpsAttending                      1591519 non-null  float64
 7   Month                                  1591519 non-null  int64
 8   DayOfWeek                              1591519 non-null  int64
 9   StopCode                               1591519 non-null  object
 10  PumpSecondsOnSite_min                  1591519 non-null  float64
 11  PumpSecondsOnSite_mean                 1591519 non-null  float64
 12  PumpSecondsOnSite_max                  1591519 non-null  float64
 13  TurnoutTimeSeconds_min                 1591519 non-null  float64
 14  TurnoutTimeSeconds_mean                1591519 non-null  float64
 15  TurnoutTimeSeconds_max                 1591519 non-null  float64
 16  TravelTimeSeconds_min                  1591519 non-null  float64
 17  TravelTimeSeconds_mean                 1591519 non-null  float64
 18  TravelTimeSeconds_max                  1591519 non-null  float64
dtypes: float64(10), int64(4), object(5)
memory usage: 242.8+ MB

In [20]:
df.to_csv("../data/PreProcess.csv", sep=";", index=False)

In [2]:
def ToTextCatgories(df):
    df.CalYear = df.CalYear.astype("str")
    df.HourOfCall = df.HourOfCall.astype("str")
    df.NumPumpsAttending = df.NumPumpsAttending.astype("str")
    df.Month = df.Month.astype("str")
    df.DayOfWeek = df.DayOfWeek.astype("str")
    return df

In [21]:
# ------------------------- Préparation des informations de réduction des valeurs catégorielles -----------------------------

# Traitmeent des catégories. Uniquement des catégories nominales
# possibilité Test Anova,

import pandas as pd

import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 

import seaborn as sns

pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)

df = pd.read_csv("../data/PreProcess.csv", sep=";", low_memory=False)

df = ToTextCatgories(df)

display(df.head())
display(df.info())

,IncidentNumber,CalYear,HourOfCall,PropertyType,Postcode_district,FirstPumpArriving_DeployedFromStation,NumPumpsAttending,Month,DayOfWeek,StopCode,PumpSecondsOnSite_min,PumpSecondsOnSite_mean,PumpSecondsOnSite_max,TurnoutTimeSeconds_min,TurnoutTimeSeconds_mean,TurnoutTimeSeconds_max,TravelTimeSeconds_min,TravelTimeSeconds_mean,TravelTimeSeconds_max
0,235138081,2009,0,CAR,SW11,BATTERSEA,2.0,1,4,SST-RTC,240.0,390.0,540.0,253.0,253.0,253.0,89.0,89.0,89.0
1,2091,2009,0,ROAD SURFACE/PAVEMENT,N9,EDMONTON,1.0,1,4,SECONDARY FIRE,420.0,420.0,420.0,151.0,151.0,151.0,157.0,157.0,157.0
2,3091,2009,0,DOMESTIC GARDEN (VEGETATION NOT EQUIPMENT),UB10,HILLINGDON,1.0,1,4,SECONDARY FIRE,720.0,720.0,720.0,108.0,108.0,108.0,102.0,102.0,102.0
3,5091,2009,0,CYCLE PATH/PUBLIC FOOTPATH/BRIDLEWAY,N7,HOLLOWAY,2.0,1,4,SECONDARY FIRE,120.0,120.0,120.0,114.0,128.0,142.0,108.0,113.5,119.0
4,6091,2009,0,PURPOSE BUILT FLATS/MAISONETTES - UP TO 3 STOREYS,NW5,KENTISH TOWN,2.0,1,4,AFA,360.0,360.0,360.0,83.0,89.0,95.0,89.0,108.0,127.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1591519 entries, 0 to 1591518
Data columns (total 19 columns):
 #   Column                                 Non-Null Count    Dtype
---  ------                                 --------------    -----
 0   IncidentNumber                         1591519 non-null  object
 1   CalYear                                1591519 non-null  object
 2   HourOfCall                             1591519 non-null  object
 3   PropertyType                           1591519 non-null  object
 4   Postcode_district                      1591519 non-null  object
 5   FirstPumpArriving_DeployedFromStation  1591519 non-null  object
 6   NumPumpsAttending                      1591519 non-null  object
 7   Month                                  1591519 non-null  object
 8   DayOfWeek                              1591519 non-null  object
 9   StopCode                               1591519 non-null  object
 10  PumpSecondsOnSite_min                  1591519 non-null  float64
 11  PumpSecondsOnSite_mean                 1591519 non-null  float64
 12  PumpSecondsOnSite_max                  1591519 non-null  float64
 13  TurnoutTimeSeconds_min                 1591519 non-null  float64
 14  TurnoutTimeSeconds_mean                1591519 non-null  float64
 15  TurnoutTimeSeconds_max                 1591519 non-null  float64
 16  TravelTimeSeconds_min                  1591519 non-null  float64
 17  TravelTimeSeconds_mean                 1591519 non-null  float64
 18  TravelTimeSeconds_max                  1591519 non-null  float64
dtypes: float64(9), object(10)
memory usage: 230.7+ MB

None

In [23]:
# Traitmeent des catégories. Uniquement des catégories nominales
# possibilité Test Anova,


def ShowValues(col):
    print(col, len(df[col].unique()))
    # print(df[col].value_counts())


cols_categ = [
    "StopCode",
    "PropertyType",
    "Postcode_district",
]

cols_cible = [
    ["PumpSecondsOnSite_min", "PumpSecondsOnSite_mean", "PumpSecondsOnSite_max"],
    ["TurnoutTimeSeconds_min", "TurnoutTimeSeconds_mean", "TurnoutTimeSeconds_max"],
    ["TravelTimeSeconds_min", "TravelTimeSeconds_mean", "TravelTimeSeconds_max"],
]

cols_cible_type = ["PumpSecondsOnSite", "TurnoutTimeSeconds", "TravelTimeSeconds"]

cols_cible_cat = ["FirstPumpArriving_DeployedFromStation", "NumPumpsAttending"]

# nb de valeurs par catégories
for col in cols_categ:
    ShowValues(col)
print()

df_temp = df[df.CalYear.astype("int") > 2016]

# Sélection de caractéristiques récursive
import statsmodels.api
from statsmodels.api import stats
import statsmodels.formula.api as smf

# Anova sur chaque colonne cible avec toutes les colonnes catégorielles
all_result = []
cols_to_check = "+".join(cols_categ)
for cols in cols_cible:
    cible_result = []
    for col in cols:
        print("Test de", col)
        results = smf.ols(f"{col} ~ {cols_to_check}", data=df_temp).fit()
        # table = stats.anova_lm(result)
        # display(table)
        results_df = pd.DataFrame(
            {
                f"{col} coefficients": round(results.params, 3),
                f"{col} pvalues": round(results.pvalues, 3),
            }
        )
        cible_result.append(results_df)
        # display(results_df.head(30))
        # print("Test de", col, "ok")
    all_result.append(cible_result)

for cible_results in all_result:
    for result in cible_results:
        display(result.head(5))

# merge les result dans un dataFrame
compiled_results = []
for cible_results in all_result:
    cible_result = cible_results[0]
    i = 0
    for result in cible_results:
        if i == 0:
            print("continue")
            i += 1
            continue
        print("merge")
        cible_result = pd.merge(
            cible_result, result, left_index=True, right_index=True, how="outer"
        )
    compiled_results.append(cible_result)

# affiche les df mergés par type de cible
# print("Preview")
# for cible_results in compiled_results:
#     display(cible_results.head(3))


# regarde si la pvalue est la même pour toutes les caétgories : ajout de la colonne Discord : True si il y a des delta
# filtre les lignes avec que des valeurs > 0.05 ou que que des valeurs < 0.05
# pour voir si certaines interviennent que dans certains cas
def TreatDiscordRow(columns, row):
    keeps = []
    nb = 0
    for i in range(1, len(columns), 2):
        # print("col", columns[i])
        # print(row)
        keeps.append(row[columns[i]] <= 0.05)
        nb += 1
    val = not (sum(keeps) == 0) | (sum(keeps) == nb)  # sum(keeps)
    # print(val)
    return val


def TreatKeepRow(columns, row):
    keeps = []
    nb = 0
    for i in range(1, len(columns), 2):
        # print("col", columns[i])
        # print(row[columns[i]])
        keeps.append(row[columns[i]] <= 0.05)
        nb += 1
    val = sum(keeps)
    # si toutes les pvalues sont non significatives
    if val == 0:
        return False
    # si toutes les pvalues sont significatives
    elif val == nb:
        return True
    # sinon, conserve si c'est significatif sur la moyenne
    else:
        mean_col = [s for s in columns if "mean pvalues" in s][0]
        val = row[mean_col]
        # print("mean_col", mean_col)
        # print("mean_col", val)
        return True if val <= 0.05 else False
    # print(val)
    return val


print("Calcule Discords")
for cible_results in compiled_results:
    # display(cible_results.head())
    cible_results["Discord"] = cible_results.apply(
        lambda row: TreatDiscordRow(cible_results.columns, row), axis=1
    )
    cible_results["Keep"] = cible_results.apply(
        lambda row: TreatKeepRow(cible_results.columns, row), axis=1
    )
    display(cible_results[cible_results.Discord == True].head())

for i in range(0, len(compiled_results)):
    print(
        f"{cols_cible_type[i]} {compiled_results[i]["Discord"].sum()} discords, {compiled_results[i]["Keep"].sum()} keeps, sur {len(compiled_results[i])}, "
        f"conserve {round(compiled_results[i]["Keep"].sum() / len(compiled_results[i]) * 100, 0)}%"
    )

StopCode 28
PropertyType 292
Postcode_district 324

Test de PumpSecondsOnSite_min
Test de PumpSecondsOnSite_mean
Test de PumpSecondsOnSite_max
Test de TurnoutTimeSeconds_min
Test de TurnoutTimeSeconds_mean
Test de TurnoutTimeSeconds_max
Test de TravelTimeSeconds_min
Test de TravelTimeSeconds_mean
Test de TravelTimeSeconds_max

,PumpSecondsOnSite_min coefficients,PumpSecondsOnSite_min pvalues
Intercept,720.310,0.245
StopCode[T.CHIMNEY FIRE],2909.027,0.000
StopCode[T.FALSE ALARM - GOOD INTENT],168.508,0.000
StopCode[T.FALSE ALARM - MALICIOUS],107.859,0.000
StopCode[T.LATE CALL],1278.401,0.000

,PumpSecondsOnSite_mean coefficients,PumpSecondsOnSite_mean pvalues
Intercept,539.713,0.405
StopCode[T.CHIMNEY FIRE],3075.949,0.000
StopCode[T.FALSE ALARM - GOOD INTENT],209.920,0.000
StopCode[T.FALSE ALARM - MALICIOUS],122.294,0.000
StopCode[T.LATE CALL],1189.866,0.000

,PumpSecondsOnSite_max coefficients,PumpSecondsOnSite_max pvalues
Intercept,212.292,0.771
StopCode[T.CHIMNEY FIRE],3220.292,0.000
StopCode[T.FALSE ALARM - GOOD INTENT],254.143,0.000
StopCode[T.FALSE ALARM - MALICIOUS],136.048,0.000
StopCode[T.LATE CALL],1086.063,0.000

,TurnoutTimeSeconds_min coefficients,TurnoutTimeSeconds_min pvalues
Intercept,86.776,0.000
StopCode[T.CHIMNEY FIRE],2.490,0.402
StopCode[T.FALSE ALARM - GOOD INTENT],1.652,0.000
StopCode[T.FALSE ALARM - MALICIOUS],3.136,0.000
StopCode[T.LATE CALL],16.542,0.003

,TurnoutTimeSeconds_mean coefficients,TurnoutTimeSeconds_mean pvalues
Intercept,103.410,0.000
StopCode[T.CHIMNEY FIRE],1.262,0.676
StopCode[T.FALSE ALARM - GOOD INTENT],1.369,0.000
StopCode[T.FALSE ALARM - MALICIOUS],2.909,0.000
StopCode[T.LATE CALL],5.942,0.299

,TurnoutTimeSeconds_max coefficients,TurnoutTimeSeconds_max pvalues
Intercept,121.902,0.000
StopCode[T.CHIMNEY FIRE],-0.460,0.898
StopCode[T.FALSE ALARM - GOOD INTENT],1.235,0.000
StopCode[T.FALSE ALARM - MALICIOUS],2.864,0.000
StopCode[T.LATE CALL],-5.344,0.433

,TravelTimeSeconds_min coefficients,TravelTimeSeconds_min pvalues
Intercept,445.025,0.000
StopCode[T.CHIMNEY FIRE],2.059,0.838
StopCode[T.FALSE ALARM - GOOD INTENT],12.353,0.000
StopCode[T.FALSE ALARM - MALICIOUS],4.146,0.002
StopCode[T.LATE CALL],38.344,0.045

,TravelTimeSeconds_mean coefficients,TravelTimeSeconds_mean pvalues
Intercept,499.387,0.000
StopCode[T.CHIMNEY FIRE],-2.072,0.842
StopCode[T.FALSE ALARM - GOOD INTENT],14.355,0.000
StopCode[T.FALSE ALARM - MALICIOUS],5.931,0.000
StopCode[T.LATE CALL],-2.839,0.885

,TravelTimeSeconds_max coefficients,TravelTimeSeconds_max pvalues
Intercept,547.525,0.000
StopCode[T.CHIMNEY FIRE],-6.108,0.615
StopCode[T.FALSE ALARM - GOOD INTENT],17.200,0.000
StopCode[T.FALSE ALARM - MALICIOUS],8.682,0.000
StopCode[T.LATE CALL],-44.424,0.054

continue
merge
merge
continue
merge
merge
continue
merge
merge
Calcule Discords

,PumpSecondsOnSite_min coefficients,PumpSecondsOnSite_min pvalues,PumpSecondsOnSite_mean coefficients,PumpSecondsOnSite_mean pvalues,PumpSecondsOnSite_max coefficients,PumpSecondsOnSite_max pvalues,Discord,Keep
Postcode_district[T.KT22],1421.200,0.036,1246.963,0.079,1178.194,0.140,True,False
PropertyType[T.AIRFIELD/RUNWAY],-1064.185,0.007,-606.963,0.142,146.913,0.753,True,False
PropertyType[T.BARBECUE],-948.195,0.007,-706.137,0.055,-430.398,0.298,True,False
PropertyType[T.BARGE],-170.091,0.635,418.967,0.263,1012.678,0.016,True,False
PropertyType[T.BEACH],-816.967,0.049,-445.139,0.305,-46.733,0.924,True,False

,TurnoutTimeSeconds_min coefficients,TurnoutTimeSeconds_min pvalues,TurnoutTimeSeconds_mean coefficients,TurnoutTimeSeconds_mean pvalues,TurnoutTimeSeconds_max coefficients,TurnoutTimeSeconds_max pvalues,Discord,Keep
PropertyType[T.AIRPORT - HANGAR],-9.466,0.372,-26.232,0.015,-42.420,0.001,True,True
PropertyType[T.AIRPORT BUILDING (NOT TERMINAL OR HANGAR)],-18.430,0.067,-30.268,0.003,-40.649,0.001,True,True
PropertyType[T.ANIMAL BOARDING/BREEDING ESTABLISHMENT - CATS],-17.759,0.250,-29.904,0.057,-41.776,0.026,True,False
PropertyType[T.ANIMAL PRODUCTS PROCESSING PLANT],-13.426,0.211,-31.173,0.004,-48.819,0.000,True,True
PropertyType[T.ART GALLERY],-16.059,0.108,-31.125,0.002,-45.886,0.000,True,True

,TravelTimeSeconds_min coefficients,TravelTimeSeconds_min pvalues,TravelTimeSeconds_mean coefficients,TravelTimeSeconds_mean pvalues,TravelTimeSeconds_max coefficients,TravelTimeSeconds_max pvalues,Discord,Keep
Postcode_district[T.BR2],-85.331,0.084,-107.061,0.035,-122.666,0.039,True,True
Postcode_district[T.BR5],-86.223,0.081,-112.040,0.028,-132.425,0.026,True,True
Postcode_district[T.BR6],-95.624,0.053,-115.992,0.023,-130.986,0.028,True,True
Postcode_district[T.CM13],151.751,0.015,140.744,0.029,134.428,0.074,True,True
Postcode_district[T.CM14],115.225,0.027,85.604,0.110,60.684,0.332,True,False

PumpSecondsOnSite 90 discords, 71 keeps, sur 618, conserve 11.0%
TurnoutTimeSeconds 142 discords, 277 keeps, sur 618, conserve 45.0%
TravelTimeSeconds 149 discords, 413 keeps, sur 618, conserve 67.0%

In [40]:
def SplitCatValue(s, return_name):
    result = s.split("[")
    return result[0] if return_name else result[1][2:-1]


# sauve les infos des valeurs catégorielles et leur conservation
for i in range(0, len(compiled_results)):
    df_to_save = compiled_results[i][["Keep"]]
    # supprime la ligne Intercept
    df_to_save = df_to_save.drop(
        df_to_save[df_to_save.index.str.upper() == "INTERCEPT"].index
    )
    # les valeurs de df_keep ont le format
    #           AddressQualifier[T.IN STREET CLOSE TO GAZETTEER LOCATION]	True (colonne Keep)
    # crée 2 colonnes, nom de colonne et valeur
    df_to_save["Column"] = df_to_save.index
    df_to_save["Column"] = df_to_save["Column"].apply(lambda s: SplitCatValue(s, True))
    df_to_save["Value"] = df_to_save.index
    df_to_save["Value"] = df_to_save["Value"].apply(lambda s: SplitCatValue(s, False))
    name = f"keep {cols_cible_type[i]}"
    display(df_to_save.head())

    print(name)
    df_to_save.to_csv(f"../data/{name}.csv", sep=";", index=False)

                           Keep             Column Value
Postcode_district[T.BR1]  False  Postcode_district   BR1
Postcode_district[T.BR2]  False  Postcode_district   BR2
Postcode_district[T.BR3]  False  Postcode_district   BR3
Postcode_district[T.BR4]  False  Postcode_district   BR4
Postcode_district[T.BR5]  False  Postcode_district   BR5

keep PumpSecondsOnSite

                           Keep             Column Value
Postcode_district[T.BR1]  False  Postcode_district   BR1
Postcode_district[T.BR2]  False  Postcode_district   BR2
Postcode_district[T.BR3]  False  Postcode_district   BR3
Postcode_district[T.BR4]  False  Postcode_district   BR4
Postcode_district[T.BR5]  False  Postcode_district   BR5

keep TurnoutTimeSeconds

                           Keep             Column Value
Postcode_district[T.BR1]   True  Postcode_district   BR1
Postcode_district[T.BR2]   True  Postcode_district   BR2
Postcode_district[T.BR3]   True  Postcode_district   BR3
Postcode_district[T.BR4]  False  Postcode_district   BR4
Postcode_district[T.BR5]   True  Postcode_district   BR5

keep TravelTimeSeconds

In [26]:
# Vérification de la pertinence des colonnes CalYear HourOfCall Month DayOfWeek sur la valeur moyenne des 3 cibles

df_temp = df[df.CalYear.astype("int") > 2016]

# Anova sur chaque colonne cible avec toutes les colonnes catégorielles
# all_result = []
# cols_to_check = "+".join(cols_categ)
for cols in cols_cible:
    # cible_result = []
    for col in cols:
        if not ("_mean" in col):
            continue
        print("Test de", col)
        results = smf.ols(
            f"{col} ~ CalYear + HourOfCall + Month + DayOfWeek", data=df_temp
        ).fit()
        # display(pd.DataFrame(
        #     {
        #         f"{col} coefficients": round(results.params, 3),
        #         f"{col} pvalues": round(results.pvalues, 3),
        #     }
        # ))
        print(results.summary())
        print()

print("On conserve CalYear + HourOfCall + Month + DayOfWeek")

Test de PumpSecondsOnSite_mean
                              OLS Regression Results
==================================================================================
Dep. Variable:     PumpSecondsOnSite_mean   R-squared:                       0.003
Model:                                OLS   Adj. R-squared:                  0.003
Method:                     Least Squares   F-statistic:                     49.73
Date:                    Sat, 28 Dec 2024   Prob (F-statistic):               0.00
Time:                            11:01:18   Log-Likelihood:            -7.2550e+06
No. Observations:                  830848   AIC:                         1.451e+07
Df Residuals:                      830800   BIC:                         1.451e+07
Df Model:                              47
Covariance Type:                nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept         1115.7643     12.248     91.096      0.000    1091.758    1139.770
CalYear[T.2018]     21.6889      6.791      3.194      0.001       8.379      34.999
CalYear[T.2019]     23.4375      6.798      3.448      0.001      10.114      36.761
CalYear[T.2020]     47.3471      6.891      6.871      0.000      33.840      60.854
CalYear[T.2021]     42.5724      6.743      6.314      0.000      29.357      55.788
CalYear[T.2022]     35.6994      6.516      5.479      0.000      22.929      48.470
CalYear[T.2023]    -15.2572      6.494     -2.349      0.019     -27.986      -2.529
CalYear[T.2024]     -8.7980      6.726     -1.308      0.191     -21.980       4.384
HourOfCall[T.1]     43.5621     13.415      3.247      0.001      17.270      69.855
HourOfCall[T.10]  -169.4506     11.762    -14.407      0.000    -192.503    -146.398
HourOfCall[T.11]  -130.3458     11.600    -11.237      0.000    -153.082    -107.610
HourOfCall[T.12]   -99.8166     11.550     -8.642      0.000    -122.455     -77.179
HourOfCall[T.13]   -78.0863     11.488     -6.797      0.000    -100.603     -55.569
HourOfCall[T.14]   -86.5046     11.472     -7.541      0.000    -108.989     -64.020
HourOfCall[T.15]   -59.7799     11.471     -5.211      0.000     -82.263     -37.297
HourOfCall[T.16]   -51.8881     11.430     -4.540      0.000     -74.290     -29.486
HourOfCall[T.17]   -65.9301     11.301     -5.834      0.000     -88.080     -43.780
HourOfCall[T.18]   -63.2425     11.249     -5.622      0.000     -85.289     -41.195
HourOfCall[T.19]    78.6624     11.266      6.982      0.000      56.581     100.744
HourOfCall[T.2]     91.8847     14.134      6.501      0.000      64.183     119.586
HourOfCall[T.20]   -58.6396     11.396     -5.146      0.000     -80.975     -36.305
HourOfCall[T.21]   -36.1342     11.614     -3.111      0.002     -58.897     -13.372
HourOfCall[T.22]   -14.6510     11.894     -1.232      0.218     -37.963       8.661
HourOfCall[T.23]   -19.1608     12.270     -1.562      0.118     -43.209       4.887
HourOfCall[T.3]    102.5029     14.676      6.985      0.000      73.739     131.267
HourOfCall[T.4]     85.2805     15.167      5.623      0.000      55.554     115.007
HourOfCall[T.5]    128.2317     15.434      8.308      0.000      97.982     158.482
HourOfCall[T.6]     36.2729     14.873      2.439      0.015       7.123      65.423
HourOfCall[T.7]   -112.8381     13.489     -8.365      0.000    -139.276     -86.400
HourOfCall[T.8]   -119.6469     12.557     -9.528      0.000    -144.259     -95.035
HourOfCall[T.9]    -77.8912     12.016     -6.482      0.000    -101.441     -54.341
Month[T.10]        -54.2117      8.018     -6.762      0.000     -69.926     -38.497
Month[T.11]        -42.0239      8.445     -4.976      0.000     -58.577     -25.471
Month[T.12]        -10.9883      8.439     -1.302      0.193     -27.529       5.553
Month[T.2]         -15.7603      8.415     -1.873      0.061     -32.253       0.733
Month[T.3]         -13.0337      8.250     -1.580      0.114     -29.203       3.136
Month[T.4]         -27.8126      8.281     -3.358      0.001     -44.044     -11.581
Month[T.5]         -18.9433      8.134     -2.329      0.020     -34.885      -3.002
Month[T.6]          -2.5116      8.049     -0.312      0.755     -18.288      13.265
Month[T.7]          17.4637      7.914      2.207      0.027       1.952      32.975
Month[T.8]           7.0424      8.003      0.880      0.379      -8.643      22.727
Month[T.9]         -39.8272      8.059     -4.942      0.000     -55.622     -24.032
DayOfWeek[T.2]      -5.5447      6.193     -0.895      0.371     -17.683       6.593
DayOfWeek[T.3]     -15.1248      6.187     -2.445      0.015     -27.251      -2.998
DayOfWeek[T.4]     -19.6852      6.177     -3.187      0.001     -31.793      -7.578
DayOfWeek[T.5]      -8.2282      6.151     -1.338      0.181     -20.283       3.827
DayOfWeek[T.6]      26.1416      6.124      4.269      0.000      14.140      38.144
DayOfWeek[T.7]      32.3509      6.184      5.231      0.000      20.230      44.472
==============================================================================
Omnibus:                   810959.643   Durbin-Watson:                   1.994
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         51756444.513
Skew:                           4.743   Prob(JB):                         0.00
Kurtosis:                      40.484   Cond. No.                         32.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Test de TurnoutTimeSeconds_mean
                               OLS Regression Results
===================================================================================
Dep. Variable:     TurnoutTimeSeconds_mean   R-squared:                       0.124
Model:                                 OLS   Adj. R-squared:                  0.124
Method:                      Least Squares   F-statistic:                     2506.
Date:                     Sat, 28 Dec 2024   Prob (F-statistic):               0.00
Time:                             11:01:29   Log-Likelihood:            -4.1119e+06
No. Observations:                   830848   AIC:                         8.224e+06
Df Residuals:                       830800   BIC:                         8.224e+06
Df Model:                               47
Covariance Type:                 nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept           89.3039      0.279    320.426      0.000      88.758      89.850
CalYear[T.2018]      0.8932      0.155      5.781      0.000       0.590       1.196
CalYear[T.2019]      2.3076      0.155     14.918      0.000       2.004       2.611
CalYear[T.2020]      0.9098      0.157      5.802      0.000       0.602       1.217
CalYear[T.2021]      0.2284      0.153      1.488      0.137      -0.072       0.529
CalYear[T.2022]     -1.8719      0.148    -12.625      0.000      -2.162      -1.581
CalYear[T.2023]      0.8523      0.148      5.767      0.000       0.563       1.142
CalYear[T.2024]      2.2019      0.153     14.387      0.000       1.902       2.502
HourOfCall[T.1]      8.5928      0.305     28.150      0.000       7.995       9.191
HourOfCall[T.10]   -22.0924      0.268    -82.547      0.000     -22.617     -21.568
HourOfCall[T.11]   -22.8627      0.264    -86.615      0.000     -23.380     -22.345
HourOfCall[T.12]   -23.8839      0.263    -90.875      0.000     -24.399     -23.369
HourOfCall[T.13]   -23.1607      0.261    -88.597      0.000     -23.673     -22.648
HourOfCall[T.14]   -24.0546      0.261    -92.151      0.000     -24.566     -23.543
HourOfCall[T.15]   -22.6327      0.261    -86.709      0.000     -23.144     -22.121
HourOfCall[T.16]   -21.2983      0.260    -81.891      0.000     -21.808     -20.789
HourOfCall[T.17]   -20.5605      0.257    -79.953      0.000     -21.064     -20.056
HourOfCall[T.18]   -20.8015      0.256    -81.269      0.000     -21.303     -20.300
HourOfCall[T.19]   -22.9405      0.256    -89.487      0.000     -23.443     -22.438
HourOfCall[T.2]     14.3588      0.322     44.647      0.000      13.728      14.989
HourOfCall[T.20]   -24.0373      0.259    -92.700      0.000     -24.546     -23.529
HourOfCall[T.21]   -21.8468      0.264    -82.669      0.000     -22.365     -21.329
HourOfCall[T.22]   -19.6959      0.271    -72.773      0.000     -20.226     -19.165
HourOfCall[T.23]   -11.6308      0.279    -41.659      0.000     -12.178     -11.084
HourOfCall[T.3]     16.8023      0.334     50.316      0.000      16.148      17.457
HourOfCall[T.4]     17.4186      0.345     50.471      0.000      16.742      18.095
HourOfCall[T.5]     18.2176      0.351     51.873      0.000      17.529      18.906
HourOfCall[T.6]     15.5315      0.338     45.893      0.000      14.868      16.195
HourOfCall[T.7]     -5.3909      0.307    -17.564      0.000      -5.992      -4.789
HourOfCall[T.8]    -19.2093      0.286    -67.227      0.000     -19.769     -18.649
HourOfCall[T.9]    -23.5145      0.273    -86.004      0.000     -24.050     -22.979
Month[T.10]         -1.4174      0.182     -7.769      0.000      -1.775      -1.060
Month[T.11]         -0.4457      0.192     -2.319      0.020      -0.822      -0.069
Month[T.12]          0.2722      0.192      1.418      0.156      -0.104       0.649
Month[T.2]           0.4258      0.191      2.224      0.026       0.050       0.801
Month[T.3]           0.4486      0.188      2.390      0.017       0.081       0.817
Month[T.4]          -0.1968      0.188     -1.045      0.296      -0.566       0.172
Month[T.5]          -0.4346      0.185     -2.348      0.019      -0.797      -0.072
Month[T.6]           0.7911      0.183      4.319      0.000       0.432       1.150
Month[T.7]          -0.3930      0.180     -2.182      0.029      -0.746      -0.040
Month[T.8]          -0.9139      0.182     -5.019      0.000      -1.271      -0.557
Month[T.9]          -0.9707      0.183     -5.293      0.000      -1.330      -0.611
DayOfWeek[T.2]       0.0861      0.141      0.611      0.541      -0.190       0.362
DayOfWeek[T.3]      -0.0745      0.141     -0.529      0.597      -0.350       0.201
DayOfWeek[T.4]      -0.1373      0.141     -0.977      0.329      -0.413       0.138
DayOfWeek[T.5]      -0.3382      0.140     -2.416      0.016      -0.612      -0.064
DayOfWeek[T.6]      -0.6135      0.139     -4.403      0.000      -0.887      -0.340
DayOfWeek[T.7]      -0.2413      0.141     -1.715      0.086      -0.517       0.034
==============================================================================
Omnibus:                   798590.892   Durbin-Watson:                   1.919
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        107513966.770
Skew:                           4.313   Prob(JB):                         0.00
Kurtosis:                      58.057   Cond. No.                         32.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Test de TravelTimeSeconds_mean
                              OLS Regression Results
==================================================================================
Dep. Variable:     TravelTimeSeconds_mean   R-squared:                       0.024
Model:                                OLS   Adj. R-squared:                  0.024
Method:                     Least Squares   F-statistic:                     428.5
Date:                    Sat, 28 Dec 2024   Prob (F-statistic):               0.00
Time:                            11:01:39   Log-Likelihood:            -5.2322e+06
No. Observations:                  830848   AIC:                         1.046e+07
Df Residuals:                      830800   BIC:                         1.046e+07
Df Model:                              47
Covariance Type:                nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept          235.1172      1.073    219.056      0.000     233.014     237.221
CalYear[T.2018]      0.3145      0.595      0.528      0.597      -0.852       1.481
CalYear[T.2019]     -1.9284      0.596     -3.237      0.001      -3.096      -0.761
CalYear[T.2020]    -13.5151      0.604    -22.380      0.000     -14.699     -12.332
CalYear[T.2021]     -4.3271      0.591     -7.323      0.000      -5.485      -3.169
CalYear[T.2022]      4.8718      0.571      8.532      0.000       3.753       5.991
CalYear[T.2023]      4.4741      0.569      7.862      0.000       3.359       5.590
CalYear[T.2024]      6.9956      0.589     11.869      0.000       5.840       8.151
HourOfCall[T.1]     -1.3137      1.176     -1.118      0.264      -3.618       0.990
HourOfCall[T.10]    19.3760      1.031     18.799      0.000      17.356      21.396
HourOfCall[T.11]    42.4632      1.017     41.773      0.000      40.471      44.456
HourOfCall[T.12]    48.4714      1.012     47.889      0.000      46.488      50.455
HourOfCall[T.13]    44.2013      1.007     43.905      0.000      42.228      46.174
HourOfCall[T.14]    47.2650      1.005     47.017      0.000      45.295      49.235
HourOfCall[T.15]    48.1701      1.005     47.920      0.000      46.200      50.140
HourOfCall[T.16]    44.0438      1.002     43.973      0.000      42.081      46.007
HourOfCall[T.17]    42.1379      0.990     42.549      0.000      40.197      44.079
HourOfCall[T.18]    33.8513      0.986     34.341      0.000      31.919      35.783
HourOfCall[T.19]    23.5554      0.987     23.859      0.000      21.620      25.490
HourOfCall[T.2]      1.9586      1.239      1.581      0.114      -0.469       4.386
HourOfCall[T.20]    15.3387      0.999     15.360      0.000      13.382      17.296
HourOfCall[T.21]    12.5288      1.018     12.311      0.000      10.534      14.524
HourOfCall[T.22]     4.8810      1.042      4.683      0.000       2.838       6.924
HourOfCall[T.23]    -0.5491      1.075     -0.511      0.610      -2.656       1.558
HourOfCall[T.3]     -0.0386      1.286     -0.030      0.976      -2.559       2.482
HourOfCall[T.4]     -0.6595      1.329     -0.496      0.620      -3.264       1.946
HourOfCall[T.5]     -4.0563      1.352     -2.999      0.003      -6.707      -1.405
HourOfCall[T.6]      4.3411      1.303      3.331      0.001       1.787       6.896
HourOfCall[T.7]      5.5617      1.182      4.705      0.000       3.245       7.878
HourOfCall[T.8]      8.6304      1.100      7.843      0.000       6.474      10.787
HourOfCall[T.9]      7.6572      1.053      7.272      0.000       5.593       9.721
Month[T.10]          8.5491      0.703     12.168      0.000       7.172       9.926
Month[T.11]          9.8060      0.740     13.250      0.000       8.355      11.257
Month[T.12]          7.8980      0.740     10.679      0.000       6.448       9.347
Month[T.2]           0.8521      0.737      1.156      0.248      -0.593       2.297
Month[T.3]           1.4137      0.723      1.956      0.051      -0.003       2.831
Month[T.4]          -2.4118      0.726     -3.323      0.001      -3.834      -0.989
Month[T.5]           0.9356      0.713      1.313      0.189      -0.461       2.333
Month[T.6]           8.9200      0.705     12.646      0.000       7.538      10.303
Month[T.7]          14.3743      0.694     20.727      0.000      13.015      15.734
Month[T.8]           6.3165      0.701      9.007      0.000       4.942       7.691
Month[T.9]           8.8805      0.706     12.575      0.000       7.496      10.265
DayOfWeek[T.2]       2.4581      0.543      4.529      0.000       1.394       3.522
DayOfWeek[T.3]       3.1054      0.542      5.728      0.000       2.043       4.168
DayOfWeek[T.4]       4.4949      0.541      8.304      0.000       3.434       5.556
DayOfWeek[T.5]       7.8874      0.539     14.634      0.000       6.831       8.944
DayOfWeek[T.6]       2.6277      0.537      4.897      0.000       1.576       3.679
DayOfWeek[T.7]      -4.3048      0.542     -7.943      0.000      -5.367      -3.243
==============================================================================
Omnibus:                   217211.699   Durbin-Watson:                   1.944
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           765812.204
Skew:                           1.297   Prob(JB):                         0.00
Kurtosis:                       6.923   Cond. No.                         32.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

On conserve CalYear + HourOfCall + Month + DayOfWeek

In [18]:
# ------------------------- Creation des 3 datasets par cible -----------------------------

import pandas as pd

import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 

import seaborn as sns

pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)

df = pd.read_csv("../data/PreProcess.csv", sep=";", low_memory=False)

# supprime IncidentNumber qui n'est plus nécessaire et ne doit pas être une donnée d'entrainement
df = df.drop(["IncidentNumber"], axis=1)

df = ToTextCatgories(df)

display(df.head(3))
display(df.info())

,CalYear,HourOfCall,PropertyType,Postcode_district,FirstPumpArriving_DeployedFromStation,NumPumpsAttending,Month,DayOfWeek,StopCode,PumpSecondsOnSite_min,PumpSecondsOnSite_mean,PumpSecondsOnSite_max,TurnoutTimeSeconds_min,TurnoutTimeSeconds_mean,TurnoutTimeSeconds_max,TravelTimeSeconds_min,TravelTimeSeconds_mean,TravelTimeSeconds_max
0,2009,0,CAR,SW11,BATTERSEA,2.0,1,4,SST-RTC,240.0,390.0,540.0,253.0,253.0,253.0,89.0,89.0,89.0
1,2009,0,ROAD SURFACE/PAVEMENT,N9,EDMONTON,1.0,1,4,SECONDARY FIRE,420.0,420.0,420.0,151.0,151.0,151.0,157.0,157.0,157.0
2,2009,0,DOMESTIC GARDEN (VEGETATION NOT EQUIPMENT),UB10,HILLINGDON,1.0,1,4,SECONDARY FIRE,720.0,720.0,720.0,108.0,108.0,108.0,102.0,102.0,102.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1591519 entries, 0 to 1591518
Data columns (total 18 columns):
 #   Column                                 Non-Null Count    Dtype
---  ------                                 --------------    -----
 0   CalYear                                1591519 non-null  object
 1   HourOfCall                             1591519 non-null  object
 2   PropertyType                           1591519 non-null  object
 3   Postcode_district                      1591519 non-null  object
 4   FirstPumpArriving_DeployedFromStation  1591519 non-null  object
 5   NumPumpsAttending                      1591519 non-null  object
 6   Month                                  1591519 non-null  object
 7   DayOfWeek                              1591519 non-null  object
 8   StopCode                               1591519 non-null  object
 9   PumpSecondsOnSite_min                  1591519 non-null  float64
 10  PumpSecondsOnSite_mean                 1591519 non-null  float64
 11  PumpSecondsOnSite_max                  1591519 non-null  float64
 12  TurnoutTimeSeconds_min                 1591519 non-null  float64
 13  TurnoutTimeSeconds_mean                1591519 non-null  float64
 14  TurnoutTimeSeconds_max                 1591519 non-null  float64
 15  TravelTimeSeconds_min                  1591519 non-null  float64
 16  TravelTimeSeconds_mean                 1591519 non-null  float64
 17  TravelTimeSeconds_max                  1591519 non-null  float64
dtypes: float64(9), object(9)
memory usage: 218.6+ MB

None

In [ ]:
cols_categ = [
    "StopCode",
    "PropertyType",
    "Postcode_district",
]


cols_cible_type = ["PumpSecondsOnSite", "TurnoutTimeSeconds", "TravelTimeSeconds"]



def ReduceCategValues(df_new, df_keep, col_cible_type):

    display(df_keep.head())
    replaces = {}

    for keep_info in df_keep.itertuples():

        # Ajoute dans le dictionnaire de Map

        if not (keep_info.Keep):
            # replaces.append(keep_info.Value)
            if not (keep_info.Column in replaces):
                print(keep_info.Column)
                replaces[keep_info.Column] = []
            val = replaces[keep_info.Column]
            val.append(keep_info.Value)
            # print("val", val)
            replaces[keep_info.Column] = val
    print("replaces", replaces)
    for item in replaces:
        if (col_cible_type == "TravelTimeSeconds") & (item == "Postcode_district"):
            print("Ignore", col_cible_type, item)
            continue
        print(item)
        print("Avant remplacement", len(df_new[item].unique()), df_new[item].unique())
        print("A remplacer", len(replaces[item]), replaces[item])
        df_new[item] = df_new[item].replace(to_replace=replaces[item], value="OTHER")
        print("Après remplacement", len(df_new[item].unique()), df_new[item].unique())
        print()



# Creation des 3 datasets par cible

for name in cols_cible_type:
    # charge le fichier de keep
    filename = f"keep {name}"
    df_keep = pd.read_csv(f"../data/{filename}.csv", sep=";")
    print(name)
    # crée une copie du dataset
    df_prepare = df.copy()
    # Réduit le nb de valeurs de catégorie pour les 3 colonnes de cols_categ, à partir des infos des fichiers Keep par cible
    ReduceCategValues(df_prepare, df_keep, name)
    display(df_prepare.head(10))
    df_prepare.to_csv(f"../data/df {name}.csv", sep=";", index=False)

PumpSecondsOnSite

    Keep             Column Value
0  False  Postcode_district   BR1
1  False  Postcode_district   BR2
2  False  Postcode_district   BR3
3  False  Postcode_district   BR4
4  False  Postcode_district   BR5

Postcode_district
PropertyType
replaces {'Postcode_district': ['BR1', 'BR2', 'BR3', 'BR4', 'BR5', 'BR6', 'BR7', 'CM13', 'CM14', 'CR0', 'CR2', 'CR3', 'CR4', 'CR5', 'CR7', 'CR8', 'CR9', 'DA14', 'DA15', 'DA16', 'DA17', 'DA18', 'DA1', 'DA5', 'DA6', 'DA7', 'DA8', 'E10', 'E11', 'E12', 'E13', 'E14', 'E15', 'E16', 'E17', 'E18', 'E1W', 'E1', 'E20', 'E22', 'E2', 'E3', 'E4', 'E5', 'E6', 'E7', 'E8', 'E9', 'EC1A', 'EC1M', 'EC1N', 'EC1R', 'EC1V', 'EC1Y', 'EC2A', 'EC2M', 'EC2N', 'EC2P', 'EC2R', 'EC2V', 'EC2Y', 'EC3A', 'EC3M', 'EC3N', 'EC3R', 'EC3V', 'EC4A', 'EC4M', 'EC4N', 'EC4R', 'EC4V', 'EC4Y', 'EN1', 'EN2', 'EN3', 'EN4', 'EN5', 'EN6', 'EN7', 'EN8', 'HA0', 'HA1', 'HA2', 'HA3', 'HA4', 'HA5', 'HA6', 'HA7', 'HA8', 'HA9', 'IG11', 'IG1', 'IG2', 'IG3', 'IG4', 'IG5', 'IG6', 'IG7', 'IG8', 'IG9', 'KT17', 'KT18', 'KT19', 'KT1', 'KT22', 'KT2', 'KT3', 'KT4', 'KT5', 'KT6', 'KT8', 'KT9', 'N10', 'N11', 'N12', 'N13', 'N14', 'N15', 'N16', 'N17', 'N18', 'N19', 'N1C', 'N1', 'N20', 'N21', 'N22', 'N2', 'N3', 'N4', 'N5', 'N6', 'N7', 'N8', 'N9', 'NW10', 'NW11', 'NW1', 'NW2', 'NW3', 'NW4', 'NW5', 'NW6', 'NW7', 'NW8', 'NW9', 'OX9', 'RM10', 'RM11', 'RM12', 'RM13', 'RM14', 'RM15', 'RM19', 'RM1', 'RM2', 'RM3', 'RM4', 'RM5', 'RM6', 'RM7', 'RM8', 'RM9', 'SE10', 'SE11', 'SE12', 'SE13', 'SE14', 'SE15', 'SE16', 'SE17', 'SE18', 'SE19', 'SE1P', 'SE1', 'SE20', 'SE21', 'SE22', 'SE23', 'SE24', 'SE25', 'SE26', 'SE27', 'SE28', 'SE2', 'SE3', 'SE4', 'SE5', 'SE6', 'SE7', 'SE8', 'SE9', 'SL0', 'SL3', 'SM1', 'SM2', 'SM3', 'SM4', 'SM5', 'SM6', 'SM7', 'SW10', 'SW11', 'SW12', 'SW13', 'SW14', 'SW15', 'SW16', 'SW17', 'SW18', 'SW19', 'SW1A', 'SW1E', 'SW1H', 'SW1P', 'SW1V', 'SW1W', 'SW1X', 'SW1Y', 'SW20', 'SW2', 'SW3', 'SW4', 'SW5', 'SW6', 'SW7', 'SW8', 'SW9', 'TN16', 'TW10', 'TW11', 'TW12', 'TW13', 'TW14', 'TW15', 'TW16', 'TW19', 'TW1', 'TW2', 'TW3', 'TW4', 'TW5', 'TW6', 'TW7', 'TW8', 'TW9', 'UB10', 'UB11', 'UB1', 'UB2', 'UB3', 'UB4', 'UB5', 'UB6', 'UB7', 'UB8', 'UB9', 'W10', 'W11', 'W12', 'W13', 'W14', 'W1A', 'W1B', 'W1C', 'W1D', 'W1F', 'W1G', 'W1H', 'W1J', 'W1K', 'W1S', 'W1T', 'W1U', 'W1W', 'W2', 'W3', 'W4', 'W5', 'W6', 'W7', 'W8', 'W9', 'WC1A', 'WC1B', 'WC1E', 'WC1H', 'WC1N', 'WC1R', 'WC1V', 'WC1X', 'WC2A', 'WC2B', 'WC2E', 'WC2H', 'WC2N', 'WC2R', 'WD23', 'WD3', 'WD6'], 'PropertyType': ['AGRICULTURAL VEHICLE', 'AIRFIELD/RUNWAY', 'AIRPORT - FUEL STORAGE', 'AIRPORT - HANGAR', 'AIRPORT - TERMINAL', 'AIRPORT BUILDING (NOT TERMINAL OR HANGAR)', 'AMBULANCE STATION', 'ANIMAL BOARDING/BREEDING ESTABLISHMENT - CATS', 'ANIMAL BOARDING/BREEDING ESTABLISHMENT - DOGS', 'ANIMAL HARM OUTDOORS', 'ANIMAL PRODUCTS PROCESSING PLANT', 'ART GALLERY', 'ATHLETICS STADIUM', 'BAKERY', 'BANK/BUILDING SOCIETY', 'BARBECUE', 'BARGE', 'BARN', 'BEACH', 'BINGO HALL', 'BOARDING HOUSE/B&B FOR HOMELESS/ASYLUM SEEKERS', 'BOARDING HOUSE/B&B OTHER', 'BOARDING SCHOOL ACCOMMODATION', 'BRIDGE', 'BULK GAS STORAGE', 'BULK HAZARDOUS MATERIALS STORAGE', 'BULK OIL STORAGE', 'BUNGALOW - SINGLE OCCUPANCY', 'BUS/COACH STATION/GARAGE', 'BUS/COACH', 'CALL CENTRE', 'CANAL/RIVERBANK VEGETATION', 'CARAVAN/MOBILE HOME (PERMANENT DWELLING)', 'CASINO', 'CASTLE (PART NOT OPEN TO PUBLIC)', 'CATHEDRAL', 'CEMETERY', 'CENTRAL GOVERNMENT OFFICE', 'CHEMICAL PLANT', "CHILDREN'S HOME", 'CHURCH/CHAPEL', 'CINEMA', 'CLUB/NIGHT CLUB', 'COLLEGE/UNIVERSITY', 'COMMUNITY CENTRE/HALL', 'CONCERT HALL', 'CONFERENCE CENTRE', 'CONVERTED FLAT/MAISONETTE - UP TO 2 STOREYS', 'CONVERTED FLAT/MAISONETTES - 3 OR MORE STOREYS', 'CONVERTED OFFICE', 'CRICKET GROUND', 'CYCLE PATH/PUBLIC FOOTPATH/BRIDLEWAY', 'DAY CARE/DROP IN CENTRE', 'DENTAL SURGERY', 'DEPARTMENT STORE', 'DISTILLERY PLANT', 'DIY WAREHOUSE', 'DOCTORS SURGERY', 'DOMESTIC GARDEN (VEGETATION NOT EQUIPMENT)', 'ELECTRICAL WAREHOUSE', 'ENGINEERING MANUFACTURING PLANT', 'ESTATE AGENT', 'EXHIBITION CENTRE', 'FACTORY', 'FALSE ALARM - PROPERTY NOT FOUND', 'FENCE', 'FERRY TERMINAL', 'FIRE STATION', 'FOOD AND DRINK PROCESSING', 'FOOTBALL STADIUM', 'FREIGHT PLANE', 'FREIGHT TRAIN', 'FURNITURE WAREHOUSE', 'GAS WORKS', 'GOLF CLUBHOUSE', 'GOLF COURSE (NOT BUILDING ON COURSE)', 'GRASSLAND/ PASTURE/ GRAZING ETC', 'GREENHOUSE (COMMERCIAL) GLASS', 'GREENHOUSE (COMMERCIAL) POLYTUNNEL', 'GREYHOUND STADIUM', 'GYM', 'HAIRDRESSER', 'HEALTH CENTRE', 'HEALTH SPA/FARM', 'HEATHLAND', 'HEDGE', 'HELICOPTER', 'HOSPITAL', 'HOSTEL (E.G. FOR HOMELESS PEOPLE)', 'HOTEL/MOTEL', 'HOUSE - SINGLE OCCUPANCY', 'HOUSE IN MULTIPLE OCCUPATION - 3 OR MORE STOREYS (NOT KNOWN IF LICENSED)', 'HOUSE IN MULTIPLE OCCUPATION - UP TO 2 STOREYS (NOT KNOWN IF LICENSED)', 'HOUSEBOAT (PERMANENT DWELLING)', 'HUMAN HARM OUTDOORS', 'ICE RINK', 'INDOOR MARKET', 'INDOOR STADIUM', 'INFANT/PRIMARY SCHOOL', 'INTENSIVE FARMING SHEDS (CHICKENS/ PIGS ETC)', 'LABORATORY/RESEARCH ESTABLISHMENT', 'LAKE/POND/RESERVOIR', 'LARGE PASSENGER VESSEL', 'LARGE REFUSE/RUBBISH CONTAINER (EG SKIP/ PALADIN)', 'LARGE SUPERMARKET', 'LAUNDRETTE', 'LAW COURTS', 'LEISURE CENTRE', 'LIBRARY', 'LICENSED HOUSE IN MULTIPLE OCCUPATION - 3 OR MORE STOREYS', 'LICENSED HOUSE IN MULTIPLE OCCUPATION - UP TO 2 STOREYS', 'LIGHT AIRCRAFT', 'LOCAL GOVERNMENT OFFICE', 'LOOSE REFUSE', 'LORRY/HGV', 'MANUFACTURING ASSEMBLY PLANT', 'MEDICAL/HEALTH CENTRE', 'MILITARY PLANE', 'MILITARY/BARRACKS', 'MILL', 'MINIBUS', 'MINISTRY OF DEFENCE OFFICE', 'MONASTERY/CONVENT', 'MOSQUE', 'MOTOR HOME', 'MOTOR YACHT', 'MULTI-STOREY CAR PARK', 'MULTIPLE VEHICLES', 'MUSEUM', 'NAVAL VESSEL', 'NURSERIES/ MARKET GARDEN', "NURSES'/DOCTORS' ACCOMMODATION", 'NURSING/CARE HOME/HOSPICE', 'OIL REFINERY', 'OTHER AGRICULTURAL BUILDING', 'OTHER ANIMAL BOARDING/BREEDING ESTABLISHMENT', 'OTHER BUILDING/USE NOT KNOWN', 'OTHER BULK STORAGE', 'OTHER CAR PARK STRUCTURE', 'OTHER CULTURAL VENUE', 'OTHER DWELLING', 'OTHER EDUCATION ESTABLISHMENT', 'OTHER ENTERTAINMENT VENUE', 'OTHER HOLIDAY RESIDENCE (COTTAGE/ FLAT/ CHALET)', 'OTHER INDOOR SPORTING VENUE', 'OTHER INDUSTRIAL MANUFACTURING FACILITY', 'OTHER INDUSTRIAL PROCESSING PLANT', 'OTHER MEDICAL ESTABLISHMENT (INCLUDING SURGERY)', 'OTHER MERCHANT VESSEL', 'OTHER OFFICE/CALL CENTRE TYPE BUILDING', 'OTHER OUTDOOR EQUIPMENT/MACHINERY', 'OTHER OUTDOOR LOCATION', 'OTHER OUTDOOR SPORTING VENUE', 'OTHER OUTDOOR STRUCTURES', 'OTHER PRIVATE NON-RESIDENTIAL BUILDING', 'OTHER PUBLIC BUILDING', 'OTHER PUBLIC UTILITY WORKS', 'OTHER RELIGIOUS USE BUILDING', 'OTHER RESIDENTIAL HOME', 'OTHER RETAIL WAREHOUSE', 'OTHER RETAIL', 'OTHER TRANSPORT BUILDING', 'OTHER VESSEL', 'OUTDOOR STORAGE', 'PARK', 'PASSENGER PLANE', 'PETROL STATION', 'PIPE OR DRAIN', 'POLICE STATION', 'POST OFFICE (PURPOSE BUILT)', 'POST OFFICE (WITHIN OTHER SHOP/PREMISES)', 'PRE SCHOOL/NURSERY', 'PRINTING WORKS', 'PRIVATE GARAGE', 'PRIVATE GARDEN SHED', 'PRIVATE GREENHOUSE', 'PUB/WINE BAR/BAR', 'PURPOSE BUILT FLATS/MAISONETTES - 10 OR MORE STOREYS', 'PURPOSE BUILT FLATS/MAISONETTES - 4 TO 9 STOREYS', 'PURPOSE BUILT FLATS/MAISONETTES - UP TO 3 STOREYS', 'PURPOSE BUILT OFFICE', 'RACECOURSE', 'RAILWAY BUILDING - OTHER', 'RAILWAY GOODS YARD', 'RAILWAY TRACKSIDE VEGETATION', 'RAILWAY', 'REFUSE/RUBBISH TIP', 'RESTAURANT/CAFE', 'RETIREMENT/OLD PERSONS HOME', 'RIVER/CANAL', 'ROAD SURFACE/PAVEMENT', 'ROAD TANKER', 'ROADSIDE FURNITURE (EG LAMP POSTS/ ROAD SIGNS/ TELEGRAPH POLES/ SPEED CAMERAS)', 'ROYAL PALACE (PART NOT OPEN TO PUBLIC)', 'RUGBY STADIUM', 'SCRUB LAND', 'SEA', 'SECONDARY SCHOOL', 'SELF CONTAINED SHELTERED HOUSING', 'SEWAGE WORKS', 'SHOPPING CENTRE', 'SINGLE SHOP', 'SPORTS HALL', 'SPORTS PAVILION/SHOWER BLOCK/CHANGING FACILITY', 'SPORTS/SOCIAL CLUB', 'STANDING CROP', 'STATELY HOME (PART NOT OPEN TO PUBLIC)', 'STRAW/STUBBLE BURNING', 'STUDENT HALL OF RESIDENCE', 'SWIMMING POOL', 'SYNAGOGUE', 'TAKEAWAY/ FAST FOOD', 'TELEPHONE EXCHANGE', 'TEMPLE', 'TEMPORARY OFFICE (EG PORTACABIN)', 'TENNIS COURTS', 'THEATRE', 'THEME PARK', 'TOWING CARAVAN (NOT ON TOW OR ON SITE)', 'TOWING CARAVAN/CAMPER VAN ON SITE', 'TOWN HALL', 'TRAILER (NOT ATTACHED TO TRACTOR UNIT)', 'TRAIN ON TUBE NETWORK', 'TRAIN STATION - CONCOURSE', 'TRAIN STATION - ELSEWHERE', 'TRAIN STATION - PLATFORM (AT GROUND LEVEL OR ELEVATED)', 'TRAIN STATION - PLATFORM (BELOW GROUND)', 'TRAINS - ENGINE SHED', 'TRAVEL AGENT', 'TREE SCRUB', 'TUNNEL/ SUBWAY', 'TV/FILM/MUSIC/ART STUDIO', 'UNDERGROUND CAR PARK', 'UNDERGROUND TRAIN : OTHER SYSTEM', 'UNLICENSED HOUSE IN MULTIPLE OCCUPATION - 3 OR MORE STOREYS', 'UNLICENSED HOUSE IN MULTIPLE OCCUPATION - UP TO 2 STOREYS', 'VEHICLE REPAIR WORKSHOP', 'VEHICLE SALES BUILDING', 'VETERINARY SURGERY', 'WAREHOUSE', 'WASTELAND', 'WATER WORKS', 'WOODLAND/FOREST - BROADLEAF/HARDWOOD', 'WOODLAND/FOREST - CONIFERS/SOFTWOOD', 'YOUTH HOSTEL', 'ZOO']}
Postcode_district
Avant remplacement 324 ['SW11' 'N9' 'UB10' 'N7' 'NW5' 'SE3' 'TW3' 'EC1V' 'WC1B' 'EC1A' 'CR4'
 'W10' 'WC2R' 'SE18' 'N1' 'E6' 'EC4A' 'SW8' 'IG6' 'SW2' 'E17' 'SE8' 'WC2N'
 'TW11' 'N12' 'N6' 'DA5' 'EC1M' 'NW2' 'SE1' 'SE9' 'KT1' 'SW9' 'E15' 'E1'
 'SE20' 'EN5' 'N3' 'IG1' 'WC2B' 'W9' 'UB3' 'HA9' 'W11' 'N16' 'E9' 'SW14'
 'SE25' 'N15' 'W14' 'IG11' 'W1H' 'EN3' 'SE7' 'DA17' 'E13' 'SE23' 'RM3'
 'HA6' 'E2' 'W5' 'HA8' 'E8' 'E18' 'E4' 'KT6' 'E10' 'N17' 'SE17' 'IG2'
 'RM10' 'BR3' 'SE16' 'CR8' 'W6' 'TW6' 'W12' 'SE5' 'NW3' 'UB5' 'UB4' 'SE28'
 'SW13' 'E14' 'TW13' 'BR1' 'W1J' 'RM1' 'BR5' 'SW15' 'WC1V' 'SW1V' 'W1C'
 'N13' 'E11' 'SE26' 'CR0' 'EC2A' 'NW6' 'W7' 'NW8' 'SE15' 'HA5' 'RM14'
 'E16' 'HA7' 'TW4' 'NW9' 'WC1N' 'NW1' 'SW6' 'IG7' 'N11' 'HA2' 'NW7' 'SE21'
 'SE13' 'SE6' 'SM2' 'W3' 'TW12' 'N8' 'TW14' 'E7' 'NW10' 'SE4' 'N4' 'W1U'
 'SE27' 'SM1' 'SE14' 'RM6' 'N22' 'SW4' 'N19' 'SM4' 'TW9' 'SW1P' 'SE2'
 'HA1' 'W15' 'SW5' 'EN2' 'SE11' 'UB2' 'IG8' 'NW4' 'SW1A' 'KT2' 'EN1'
 'WC1H' 'HA3' 'SM5' 'RM13' 'SE22' 'RM8' 'IG3' 'E5' 'DA14' 'SW1W' 'UB9'
 'UB8' 'UB7' 'DA6' 'E3' 'W4' 'SW17' 'W1T' 'RM11' 'EC1N' 'SW3' 'SM6' 'RM12'
 'IG5' 'SW1X' 'HA0' 'DA18' 'SW16' 'DA8' 'TW8' 'UB1' 'SE24' 'NW11' 'CR5'
 'BR2' 'N2' 'W1F' 'EC2V' 'SW19' 'SW18' 'W2' 'UB6' 'SW12' 'TW10' 'TW2'
 'SW20' 'N18' 'TW1' 'TN16' 'W1D' 'SE12' 'CR7' 'EC3R' 'EC2Y' 'EN4' 'E12'
 'BR4' 'W8' 'SE10' 'HA4' 'N10' 'W1G' 'CR2' 'SW7' 'N20' 'N5' 'DA15' 'TW5'
 'TW7' 'EC3N' 'KT3' 'DA1' 'EC3A' 'DA16' 'DA7' 'WC1E' 'EC1R' 'RM7' 'W1S'
 'EC3V' 'W1K' 'WC2A' 'W1W' 'SW1H' 'SE19' 'RM9' 'SM3' 'W13' 'WC2H' 'E1W'
 'BR6' 'EC1Y' 'SW1E' 'EC4Y' 'EC2N' 'SW10' 'N14' 'WC1X' 'KT5' 'W1B' 'N21'
 'KT9' 'EC4R' 'EC4M' 'EC2M' 'BR7' 'SW1Y' 'WC2E' 'UB11' 'EC4N' 'WC1R'
 'EC2R' 'EC4V' 'IG4' 'KT8' 'WC1A' 'IG9' 'WC14' 'EN7' 'KT4' 'W1A' 'RM5'
 'W1V' 'CR9' 'EC3M' 'EN8' 'RM4' 'TW15' 'EC2P' 'WD3' 'TN14' 'CR3' 'TW19'
 'EC47' 'RM2' 'W1N' 'W16' 'BR8' 'EN6' 'EC3P' 'N1C' 'CR6' 'W17' 'E4A' 'W1X'
 'KT17' 'SM7' 'EC17' 'CM14' 'SW99' 'RM15' 'EN9' 'E98' 'WC2' 'W1M' 'CM13'
 'EC1' 'KT18' 'W1' 'EC2' 'E20' 'WD23' 'WD6' 'CR44' 'KT19' 'SE1P' 'KT22'
 'SL3' 'SL0' 'TW16' 'RM19' 'BF1' 'OX9' 'E22']
A remplacer 300 ['BR1', 'BR2', 'BR3', 'BR4', 'BR5', 'BR6', 'BR7', 'CM13', 'CM14', 'CR0', 'CR2', 'CR3', 'CR4', 'CR5', 'CR7', 'CR8', 'CR9', 'DA14', 'DA15', 'DA16', 'DA17', 'DA18', 'DA1', 'DA5', 'DA6', 'DA7', 'DA8', 'E10', 'E11', 'E12', 'E13', 'E14', 'E15', 'E16', 'E17', 'E18', 'E1W', 'E1', 'E20', 'E22', 'E2', 'E3', 'E4', 'E5', 'E6', 'E7', 'E8', 'E9', 'EC1A', 'EC1M', 'EC1N', 'EC1R', 'EC1V', 'EC1Y', 'EC2A', 'EC2M', 'EC2N', 'EC2P', 'EC2R', 'EC2V', 'EC2Y', 'EC3A', 'EC3M', 'EC3N', 'EC3R', 'EC3V', 'EC4A', 'EC4M', 'EC4N', 'EC4R', 'EC4V', 'EC4Y', 'EN1', 'EN2', 'EN3', 'EN4', 'EN5', 'EN6', 'EN7', 'EN8', 'HA0', 'HA1', 'HA2', 'HA3', 'HA4', 'HA5', 'HA6', 'HA7', 'HA8', 'HA9', 'IG11', 'IG1', 'IG2', 'IG3', 'IG4', 'IG5', 'IG6', 'IG7', 'IG8', 'IG9', 'KT17', 'KT18', 'KT19', 'KT1', 'KT22', 'KT2', 'KT3', 'KT4', 'KT5', 'KT6', 'KT8', 'KT9', 'N10', 'N11', 'N12', 'N13', 'N14', 'N15', 'N16', 'N17', 'N18', 'N19', 'N1C', 'N1', 'N20', 'N21', 'N22', 'N2', 'N3', 'N4', 'N5', 'N6', 'N7', 'N8', 'N9', 'NW10', 'NW11', 'NW1', 'NW2', 'NW3', 'NW4', 'NW5', 'NW6', 'NW7', 'NW8', 'NW9', 'OX9', 'RM10', 'RM11', 'RM12', 'RM13', 'RM14', 'RM15', 'RM19', 'RM1', 'RM2', 'RM3', 'RM4', 'RM5', 'RM6', 'RM7', 'RM8', 'RM9', 'SE10', 'SE11', 'SE12', 'SE13', 'SE14', 'SE15', 'SE16', 'SE17', 'SE18', 'SE19', 'SE1P', 'SE1', 'SE20', 'SE21', 'SE22', 'SE23', 'SE24', 'SE25', 'SE26', 'SE27', 'SE28', 'SE2', 'SE3', 'SE4', 'SE5', 'SE6', 'SE7', 'SE8', 'SE9', 'SL0', 'SL3', 'SM1', 'SM2', 'SM3', 'SM4', 'SM5', 'SM6', 'SM7', 'SW10', 'SW11', 'SW12', 'SW13', 'SW14', 'SW15', 'SW16', 'SW17', 'SW18', 'SW19', 'SW1A', 'SW1E', 'SW1H', 'SW1P', 'SW1V', 'SW1W', 'SW1X', 'SW1Y', 'SW20', 'SW2', 'SW3', 'SW4', 'SW5', 'SW6', 'SW7', 'SW8', 'SW9', 'TN16', 'TW10', 'TW11', 'TW12', 'TW13', 'TW14', 'TW15', 'TW16', 'TW19', 'TW1', 'TW2', 'TW3', 'TW4', 'TW5', 'TW6', 'TW7', 'TW8', 'TW9', 'UB10', 'UB11', 'UB1', 'UB2', 'UB3', 'UB4', 'UB5', 'UB6', 'UB7', 'UB8', 'UB9', 'W10', 'W11', 'W12', 'W13', 'W14', 'W1A', 'W1B', 'W1C', 'W1D', 'W1F', 'W1G', 'W1H', 'W1J', 'W1K', 'W1S', 'W1T', 'W1U', 'W1W', 'W2', 'W3', 'W4', 'W5', 'W6', 'W7', 'W8', 'W9', 'WC1A', 'WC1B', 'WC1E', 'WC1H', 'WC1N', 'WC1R', 'WC1V', 'WC1X', 'WC2A', 'WC2B', 'WC2E', 'WC2H', 'WC2N', 'WC2R', 'WD23', 'WD3', 'WD6']
Après remplacement 25 ['OTHER' 'W15' 'WC14' 'W1V' 'TN14' 'EC47' 'W1N' 'W16' 'BR8' 'EC3P' 'CR6'
 'W17' 'E4A' 'W1X' 'EC17' 'SW99' 'EN9' 'E98' 'WC2' 'W1M' 'EC1' 'W1' 'EC2'
 'CR44' 'BF1']

PropertyType
Avant remplacement 292 ['CAR' 'ROAD SURFACE/PAVEMENT'
 'DOMESTIC GARDEN (VEGETATION NOT EQUIPMENT)'
 'CYCLE PATH/PUBLIC FOOTPATH/BRIDLEWAY'
 'PURPOSE BUILT FLATS/MAISONETTES - UP TO 3 STOREYS' 'REFUSE/RUBBISH TIP'
 'SMALL REFUSE/RUBBISH CONTAINER' 'STUDENT HALL OF RESIDENCE'
 'PURPOSE BUILT FLATS/MAISONETTES - 4 TO 9 STOREYS' 'LAUNDRETTE'
 'PURPOSE BUILT FLATS/MAISONETTES - 10 OR MORE STOREYS' 'HOTEL/MOTEL'
 'HOUSE - SINGLE OCCUPANCY' 'RESTAURANT/CAFE' 'OTHER OUTDOOR LOCATION'
 'CONVERTED FLAT/MAISONETTE - UP TO 2 STOREYS' 'MUSEUM' 'LOOSE REFUSE'
 'CLUB/NIGHT CLUB' 'NURSING/CARE HOME/HOSPICE'
 'HOSTEL (E.G. FOR HOMELESS PEOPLE)' "NURSES'/DOCTORS' ACCOMMODATION"
 'CONVERTED FLAT/MAISONETTES - 3 OR MORE STOREYS'
 'SELF CONTAINED SHELTERED HOUSING' 'SHELTER' 'POST BOX'
 'LICENSED HOUSE IN MULTIPLE OCCUPATION - UP TO 2 STOREYS'
 'MULTI-STOREY CAR PARK' 'OTHER BULK STORAGE' 'MULTIPLE VEHICLES'
 'ROADSIDE FURNITURE (EG LAMP POSTS/ ROAD SIGNS/ TELEGRAPH POLES/ SPEED CAMERAS)'
 'MONASTERY/CONVENT' 'PURPOSE BUILT OFFICE' 'DEPARTMENT STORE' 'HOSPITAL'
 'OTHER BUILDING/USE NOT KNOWN' 'AIRPORT - TERMINAL' 'RAILWAY'
 'TENEMENT BUILDING' 'LOCAL GOVERNMENT OFFICE' 'OTHER RETAIL WAREHOUSE'
 'SINGLE SHOP' 'RETIREMENT/OLD PERSONS HOME'
 'LICENSED HOUSE IN MULTIPLE OCCUPATION - 3 OR MORE STOREYS'
 'LAKE/POND/RESERVOIR' 'BRIDGE' 'TREE SCRUB'
 'TRAIN STATION - PLATFORM (BELOW GROUND)'
 'OTHER MEDICAL ESTABLISHMENT (INCLUDING SURGERY)' 'OTHER ROAD VEHICLE'
 'PARK' 'GRASSLAND/ PASTURE/ GRAZING ETC' 'PRISON'
 'LARGE REFUSE/RUBBISH CONTAINER (EG SKIP/ PALADIN)'
 'BANK/BUILDING SOCIETY' 'SHELTERED HOUSING : NOT SELF CONTAINED'
 'BUNGALOW - SINGLE OCCUPANCY'
 'BOARDING HOUSE/B&B FOR HOMELESS/ASYLUM SEEKERS' 'CONVERTED OFFICE'
 'MOTORCYCLE' 'EXHIBITION CENTRE' 'LORRY/HGV' 'COLLEGE/UNIVERSITY'
 'LIBRARY' 'INFANT/PRIMARY SCHOOL' 'CALL CENTRE'
 'TRAIN STATION - ELSEWHERE' 'HEALTH CENTRE' 'POLICE STATION'
 'OTHER RESIDENTIAL HOME' 'PRE SCHOOL/NURSERY' 'FACTORY'
 'PUB/WINE BAR/BAR' 'TAKEAWAY/ FAST FOOD' 'MANUFACTURING ASSEMBLY PLANT'
 'CHURCH/CHAPEL' 'COMMUNITY CENTRE/HALL'
 'UNLICENSED HOUSE IN MULTIPLE OCCUPATION - 3 OR MORE STOREYS'
 'FOOTBALL STADIUM' 'PRINTING WORKS' 'SPORTS/SOCIAL CLUB' 'DIY WAREHOUSE'
 'CARAVAN/MOBILE HOME (PERMANENT DWELLING)' 'LARGE SUPERMARKET'
 'ELECTRICITY POWER STATION'
 'UNLICENSED HOUSE IN MULTIPLE OCCUPATION - UP TO 2 STOREYS' 'TEMPLE'
 'PIPE OR DRAIN' 'LIGHT AIRCRAFT' 'OTHER OUTDOOR STRUCTURES'
 'LEISURE CENTRE' 'ART GALLERY' 'UNDERGROUND CAR PARK' 'OUTDOOR STORAGE'
 'PRIVATE GARDEN SHED' 'WASTELAND' 'BUS/COACH' 'VAN' 'SHOPPING CENTRE'
 'SECONDARY SCHOOL' 'WAREHOUSE' 'BINGO HALL' 'MILL' 'RIVER/CANAL' 'CASINO'
 'SYNAGOGUE' 'HOUSEBOAT (PERMANENT DWELLING)' 'FURNITURE WAREHOUSE'
 'THEATRE' 'FALSE ALARM - PROPERTY NOT FOUND' 'AIRPORT - HANGAR'
 'LAW COURTS' 'OTHER OFFICE/CALL CENTRE TYPE BUILDING'
 'OTHER INDUSTRIAL PROCESSING PLANT' 'OTHER OUTDOOR EQUIPMENT/MACHINERY'
 'ENGINEERING MANUFACTURING PLANT' 'BUS/COACH STATION/GARAGE'
 'OTHER CAR PARK STRUCTURE' 'OTHER EDUCATION ESTABLISHMENT'
 'WOODLAND/FOREST - BROADLEAF/HARDWOOD'
 'AIRPORT BUILDING (NOT TERMINAL OR HANGAR)' 'TOWN HALL' 'PETROL STATION'
 'LABORATORY/RESEARCH ESTABLISHMENT' 'TUNNEL/ SUBWAY'
 'POST OFFICE (PURPOSE BUILT)' 'HAIRDRESSER' 'MOTOR HOME'
 'DAY CARE/DROP IN CENTRE' 'GAS WORKS'
 'HOUSE IN MULTIPLE OCCUPATION - UP TO 2 STOREYS (NOT KNOWN IF LICENSED)'
 'YOUTH HOSTEL' 'PUBLIC TOILETS' 'RECYCLING PLANT' 'CATHEDRAL' 'GYM'
 'HOUSE IN MULTIPLE OCCUPATION - 3 OR MORE STOREYS (NOT KNOWN IF LICENSED)'
 "CHILDREN'S HOME" 'CENTRAL GOVERNMENT OFFICE' 'OTHER DWELLING'
 'TRAIN STATION - PLATFORM (AT GROUND LEVEL OR ELEVATED)' 'CINEMA'
 'FIRE STATION' 'OTHER PUBLIC BUILDING' 'MILITARY/BARRACKS' 'CABLES'
 'HEATHLAND' 'OTHER INDUSTRIAL MANUFACTURING FACILITY' 'CRICKET GROUND'
 'INDOOR MARKET' 'SCRUB LAND' 'RECYCLING COLLECTION POINT/ BOTTLE BANK'
 'SWIMMING POOL' 'PRIVATE GARAGE' 'VEHICLE REPAIR WORKSHOP'
 'PASSENGER PLANE' 'GARDEN EQUIPMENT' 'TEMPORARY OFFICE (EG PORTACABIN)'
 'TV/FILM/MUSIC/ART STUDIO' 'KIOSK' 'CHEMICAL PLANT' 'CARAVAN ON TOW'
 'OTHER OUTDOOR SPORTING VENUE' 'TOWING CARAVAN/CAMPER VAN ON SITE'
 'TRAIN ON TUBE NETWORK' 'VEHICLE SALES BUILDING'
 'SPORTS PAVILION/SHOWER BLOCK/CHANGING FACILITY'
 'OTHER INDOOR SPORTING VENUE' 'YOUNG OFFENDERS UNIT' 'AMBULANCE STATION'
 'TRAM' 'OTHER PRIVATE NON-RESIDENTIAL BUILDING' 'WATER WORKS'
 'ROADSIDE VEGETATION' 'OTHER RETAIL' 'BOARDING SCHOOL ACCOMMODATION'
 'OTHER TRANSPORT BUILDING' 'TRAIN STATION - CONCOURSE'
 'OTHER CULTURAL VENUE' 'OTHER ENTERTAINMENT VENUE'
 'OTHER PUBLIC UTILITY WORKS' 'BEACH' 'BARBECUE' 'TRAINS - ENGINE SHED'
 'BULK HAZARDOUS MATERIALS STORAGE'
 'PASSENGER TRAIN (NATIONAL RAIL NETWORK)'
 'UNDERGROUND TRAIN : OTHER SYSTEM' 'ELECTRICAL WAREHOUSE' 'ESTATE AGENT'
 'SPORTS HALL' 'OTHER RELIGIOUS USE BUILDING' 'RAILWAY BUILDING - OTHER'
 'TELEPHONE BOX' 'NURSERIES/ MARKET GARDEN' 'CANAL/RIVERBANK VEGETATION'
 'BOARDING HOUSE/B&B OTHER' 'MINIBUS' 'OIL REFINERY' 'BARGE'
 'AIRPORT - FUEL STORAGE' 'MOSQUE' 'OTHER VESSEL' 'BULK GAS STORAGE'
 'TENNIS COURTS' 'BULK OIL STORAGE' 'RAILINGS'
 'ANIMAL PRODUCTS PROCESSING PLANT' 'STRAW/STUBBLE BURNING'
 'AIRFIELD/RUNWAY' 'LANDFILL SITE' 'RAILWAY TRACKSIDE VEGETATION'
 'CEMETERY' 'CONFERENCE CENTRE' 'MINE OR QUARRY BUILDING ABOVE GROUND'
 'GREYHOUND STADIUM' 'TRACTOR SHED'
 'POST OFFICE (WITHIN OTHER SHOP/PREMISES)'
 'MINE OR QUARRY (NOT ABOVE GROUND BUILDING)'
 'WOODLAND/FOREST - CONIFERS/SOFTWOOD' 'INDOOR STADIUM'
 'BULK WASTE STORAGE' 'ROAD TANKER' 'TELEPHONE EXCHANGE' 'DOCKS'
 'INTENSIVE FARMING SHEDS (CHICKENS/ PIGS ETC)' 'MOTOR YACHT'
 'PRIVATE GREENHOUSE' 'CONCERT HALL' 'RUGBY STADIUM'
 'OTHER ANIMAL BOARDING/BREEDING ESTABLISHMENT' 'TRAVEL AGENT'
 'THEME PARK' 'AGRICULTURAL VEHICLE' 'PRIVATE SUMMER HOUSE' 'ICE RINK'
 'CAMPING TENT' 'AGRICULTURAL EQUIPMENT'
 'ANIMAL BOARDING/BREEDING ESTABLISHMENT - DOGS' 'ZOO' 'STANDING CROP'
 'RAILWAY GOODS YARD' 'OTHER AGRICULTURAL BUILDING' 'NAVAL VESSEL'
 'STACKED/BALED CROP' 'FREIGHT TRAIN' 'HELICOPTER' 'OTHER AIRCRAFT'
 'OTHER HOLIDAY RESIDENCE (COTTAGE/ FLAT/ CHALET)' 'OTHER TENT/MARQUEE'
 'BOAT - TANKER' 'SEWAGE WORKS'
 'ANIMAL BOARDING/BREEDING ESTABLISHMENT - CATS' 'ATHLETICS STADIUM'
 'BARN' 'LARGE PASSENGER VESSEL' 'MOTOR RACING CIRCUIT' 'FREIGHT PLANE'
 'GREENHOUSE (COMMERCIAL) POLYTUNNEL' 'FISHING BOAT' 'MILITARY HELICOPTER'
 'MILKING PARLOUR' 'FERRY TERMINAL' 'COMMON EXTERNAL BIN STORAGE AREA'
 'HEDGE' 'FENCE' 'MEDICAL/HEALTH CENTRE' 'HUMAN HARM OUTDOORS' 'BICYCLE'
 'DENTAL SURGERY' 'DOCTORS SURGERY' 'MINISTRY OF DEFENCE OFFICE'
 'GOLF CLUBHOUSE' 'PLAYGROUND/RECREATION AREA (NOT EQUIPMENT)'
 'TOWING CARAVAN (NOT ON TOW OR ON SITE)' 'HEALTH SPA/FARM'
 'FOOD AND DRINK PROCESSING' 'TRAILER (NOT ATTACHED TO TRACTOR UNIT)'
 'ANIMAL HARM OUTDOORS' 'DISTILLERY PLANT' 'VETERINARY SURGERY'
 'GOLF COURSE (NOT BUILDING ON COURSE)' 'BAKERY'

,CalYear,HourOfCall,PropertyType,Postcode_district,FirstPumpArriving_DeployedFromStation,NumPumpsAttending,Month,DayOfWeek,StopCode,PumpSecondsOnSite_min,PumpSecondsOnSite_mean,PumpSecondsOnSite_max,TurnoutTimeSeconds_min,TurnoutTimeSeconds_mean,TurnoutTimeSeconds_max,TravelTimeSeconds_min,TravelTimeSeconds_mean,TravelTimeSeconds_max
0,2009,0,CAR,OTHER,BATTERSEA,2.0,1,4,SST-RTC,240.0,390.0,540.0,253.0,253.0,253.0,89.0,89.0,89.0
1,2009,0,OTHER,OTHER,EDMONTON,1.0,1,4,SECONDARY FIRE,420.0,420.0,420.0,151.0,151.0,151.0,157.0,157.0,157.0
2,2009,0,OTHER,OTHER,HILLINGDON,1.0,1,4,SECONDARY FIRE,720.0,720.0,720.0,108.0,108.0,108.0,102.0,102.0,102.0
3,2009,0,OTHER,OTHER,HOLLOWAY,2.0,1,4,SECONDARY FIRE,120.0,120.0,120.0,114.0,128.0,142.0,108.0,113.5,119.0
4,2009,0,OTHER,OTHER,KENTISH TOWN,2.0,1,4,AFA,360.0,360.0,360.0,83.0,89.0,95.0,89.0,108.0,127.0
5,2009,0,CAR,OTHER,EAST GREENWICH,1.0,1,4,SST-RTC,420.0,420.0,420.0,119.0,119.0,119.0,403.0,403.0,403.0
6,2009,0,OTHER,OTHER,HESTON,2.0,1,4,SECONDARY FIRE,1440.0,1440.0,1440.0,178.0,180.5,183.0,164.0,165.0,166.0
7,2009,0,SMALL REFUSE/RUBBISH CONTAINER,OTHER,CLERKENWELL,1.0,1,4,SECONDARY FIRE,420.0,420.0,420.0,121.0,121.0,121.0,134.0,134.0,134.0
8,2009,0,OTHER,OTHER,EUSTON,1.0,1,4,AFA,780.0,780.0,780.0,110.0,110.0,110.0,187.0,187.0,187.0
9,2009,0,OTHER,OTHER,DOWGATE,1.0,1,4,SST-LIFT RELEASE,600.0,600.0,600.0,129.0,129.0,129.0,567.0,567.0,567.0

TurnoutTimeSeconds

    Keep             Column Value
0  False  Postcode_district   BR1
1  False  Postcode_district   BR2
2  False  Postcode_district   BR3
3  False  Postcode_district   BR4
4  False  Postcode_district   BR5

Postcode_district
PropertyType
StopCode
replaces {'Postcode_district': ['BR1', 'BR2', 'BR3', 'BR4', 'BR5', 'BR6', 'BR7', 'BR8', 'CM13', 'CM14', 'CR0', 'CR2', 'CR3', 'CR4', 'CR5', 'CR6', 'CR7', 'CR8', 'CR9', 'DA14', 'DA15', 'DA16', 'DA17', 'DA18', 'DA1', 'DA5', 'DA6', 'DA7', 'DA8', 'E10', 'E11', 'E12', 'E13', 'E14', 'E15', 'E16', 'E17', 'E18', 'E1W', 'E1', 'E20', 'E22', 'E2', 'E3', 'E4', 'E5', 'E6', 'E7', 'E8', 'E9', 'EC1A', 'EC1M', 'EC1N', 'EC1R', 'EC1V', 'EC1Y', 'EC2A', 'EC2M', 'EC2N', 'EC2P', 'EC2R', 'EC2V', 'EC2Y', 'EC3A', 'EC3M', 'EC3N', 'EC3P', 'EC3R', 'EC3V', 'EC4A', 'EC4M', 'EC4N', 'EC4R', 'EC4V', 'EC4Y', 'EN1', 'EN2', 'EN3', 'EN4', 'EN5', 'EN6', 'EN7', 'EN8', 'EN9', 'HA0', 'HA1', 'HA2', 'HA3', 'HA4', 'HA5', 'HA6', 'HA7', 'HA8', 'HA9', 'IG11', 'IG1', 'IG2', 'IG3', 'IG4', 'IG5', 'IG6', 'IG7', 'IG8', 'IG9', 'KT17', 'KT18', 'KT19', 'KT1', 'KT22', 'KT2', 'KT3', 'KT4', 'KT5', 'KT6', 'KT8', 'KT9', 'N10', 'N11', 'N12', 'N13', 'N14', 'N15', 'N16', 'N17', 'N18', 'N19', 'N1C', 'N1', 'N20', 'N21', 'N22', 'N2', 'N3', 'N4', 'N5', 'N6', 'N7', 'N8', 'N9', 'NW10', 'NW11', 'NW1', 'NW2', 'NW3', 'NW4', 'NW5', 'NW6', 'NW7', 'NW8', 'NW9', 'OX9', 'RM10', 'RM11', 'RM12', 'RM13', 'RM14', 'RM15', 'RM19', 'RM1', 'RM2', 'RM3', 'RM4', 'RM5', 'RM6', 'RM7', 'RM8', 'RM9', 'SE10', 'SE11', 'SE12', 'SE13', 'SE14', 'SE15', 'SE16', 'SE17', 'SE18', 'SE19', 'SE1P', 'SE1', 'SE20', 'SE21', 'SE22', 'SE23', 'SE24', 'SE25', 'SE26', 'SE27', 'SE28', 'SE2', 'SE3', 'SE4', 'SE5', 'SE6', 'SE7', 'SE8', 'SE9', 'SL0', 'SL3', 'SM1', 'SM2', 'SM3', 'SM4', 'SM5', 'SM6', 'SM7', 'SW10', 'SW11', 'SW12', 'SW13', 'SW14', 'SW15', 'SW16', 'SW17', 'SW18', 'SW19', 'SW1A', 'SW1E', 'SW1H', 'SW1P', 'SW1V', 'SW1W', 'SW1X', 'SW1Y', 'SW20', 'SW2', 'SW3', 'SW4', 'SW5', 'SW6', 'SW7', 'SW8', 'SW9', 'TN14', 'TN16', 'TW10', 'TW11', 'TW12', 'TW13', 'TW14', 'TW15', 'TW16', 'TW19', 'TW1', 'TW2', 'TW3', 'TW4', 'TW5', 'TW6', 'TW7', 'TW8', 'TW9', 'UB10', 'UB11', 'UB1', 'UB2', 'UB3', 'UB4', 'UB5', 'UB6', 'UB7', 'UB8', 'UB9', 'W10', 'W11', 'W12', 'W13', 'W14', 'W1A', 'W1B', 'W1C', 'W1D', 'W1F', 'W1G', 'W1H', 'W1J', 'W1K', 'W1S', 'W1T', 'W1U', 'W1W', 'W2', 'W3', 'W4', 'W5', 'W6', 'W7', 'W8', 'W9', 'WC1A', 'WC1B', 'WC1E', 'WC1H', 'WC1N', 'WC1R', 'WC1V', 'WC1X', 'WC2A', 'WC2B', 'WC2E', 'WC2H', 'WC2N', 'WC2R', 'WD23', 'WD3', 'WD6'], 'PropertyType': ['AIRPORT - FUEL STORAGE', 'ANIMAL BOARDING/BREEDING ESTABLISHMENT - CATS', 'BEACH', 'BOAT - TANKER', 'BULK OIL STORAGE', 'DOCKS', 'FERRY TERMINAL', 'FISHING BOAT', 'FREIGHT PLANE', 'FREIGHT TRAIN', 'GREENHOUSE (COMMERCIAL) GLASS', 'GREENHOUSE (COMMERCIAL) POLYTUNNEL', 'INDOOR STADIUM', 'INTENSIVE FARMING SHEDS (CHICKENS/ PIGS ETC)', 'KIOSK', 'MINE OR QUARRY (NOT ABOVE GROUND BUILDING)', 'MINE OR QUARRY BUILDING ABOVE GROUND', 'MOTOR YACHT', 'NAVAL VESSEL', 'OIL REFINERY', 'OTHER MERCHANT VESSEL', 'RACECOURSE', 'RAILWAY GOODS YARD', 'ROAD TANKER', 'SEA', 'STACKED/BALED CROP', 'TRACTOR SHED'], 'StopCode': ['CHIMNEY FIRE', 'LATE CALL', 'SST-ANIMAL ASSISTANCE INCIDENTS', 'SST-MAKING SAFE (NOT RTC)', 'SST-OTHER RESCUE/RELEASE OF PERSONS', 'SST-OTHER TRANSPORT INCIDENT', 'SST-REMOVAL OF OBJECTS FROM PEOPLE', 'SST-STAND BY', 'SST-WATER PROVISION']}
Postcode_district
Avant remplacement 324 ['SW11' 'N9' 'UB10' 'N7' 'NW5' 'SE3' 'TW3' 'EC1V' 'WC1B' 'EC1A' 'CR4'
 'W10' 'WC2R' 'SE18' 'N1' 'E6' 'EC4A' 'SW8' 'IG6' 'SW2' 'E17' 'SE8' 'WC2N'
 'TW11' 'N12' 'N6' 'DA5' 'EC1M' 'NW2' 'SE1' 'SE9' 'KT1' 'SW9' 'E15' 'E1'
 'SE20' 'EN5' 'N3' 'IG1' 'WC2B' 'W9' 'UB3' 'HA9' 'W11' 'N16' 'E9' 'SW14'
 'SE25' 'N15' 'W14' 'IG11' 'W1H' 'EN3' 'SE7' 'DA17' 'E13' 'SE23' 'RM3'
 'HA6' 'E2' 'W5' 'HA8' 'E8' 'E18' 'E4' 'KT6' 'E10' 'N17' 'SE17' 'IG2'
 'RM10' 'BR3' 'SE16' 'CR8' 'W6' 'TW6' 'W12' 'SE5' 'NW3' 'UB5' 'UB4' 'SE28'
 'SW13' 'E14' 'TW13' 'BR1' 'W1J' 'RM1' 'BR5' 'SW15' 'WC1V' 'SW1V' 'W1C'
 'N13' 'E11' 'SE26' 'CR0' 'EC2A' 'NW6' 'W7' 'NW8' 'SE15' 'HA5' 'RM14'
 'E16' 'HA7' 'TW4' 'NW9' 'WC1N' 'NW1' 'SW6' 'IG7' 'N11' 'HA2' 'NW7' 'SE21'
 'SE13' 'SE6' 'SM2' 'W3' 'TW12' 'N8' 'TW14' 'E7' 'NW10' 'SE4' 'N4' 'W1U'
 'SE27' 'SM1' 'SE14' 'RM6' 'N22' 'SW4' 'N19' 'SM4' 'TW9' 'SW1P' 'SE2'
 'HA1' 'W15' 'SW5' 'EN2' 'SE11' 'UB2' 'IG8' 'NW4' 'SW1A' 'KT2' 'EN1'
 'WC1H' 'HA3' 'SM5' 'RM13' 'SE22' 'RM8' 'IG3' 'E5' 'DA14' 'SW1W' 'UB9'
 'UB8' 'UB7' 'DA6' 'E3' 'W4' 'SW17' 'W1T' 'RM11' 'EC1N' 'SW3' 'SM6' 'RM12'
 'IG5' 'SW1X' 'HA0' 'DA18' 'SW16' 'DA8' 'TW8' 'UB1' 'SE24' 'NW11' 'CR5'
 'BR2' 'N2' 'W1F' 'EC2V' 'SW19' 'SW18' 'W2' 'UB6' 'SW12' 'TW10' 'TW2'
 'SW20' 'N18' 'TW1' 'TN16' 'W1D' 'SE12' 'CR7' 'EC3R' 'EC2Y' 'EN4' 'E12'
 'BR4' 'W8' 'SE10' 'HA4' 'N10' 'W1G' 'CR2' 'SW7' 'N20' 'N5' 'DA15' 'TW5'
 'TW7' 'EC3N' 'KT3' 'DA1' 'EC3A' 'DA16' 'DA7' 'WC1E' 'EC1R' 'RM7' 'W1S'
 'EC3V' 'W1K' 'WC2A' 'W1W' 'SW1H' 'SE19' 'RM9' 'SM3' 'W13' 'WC2H' 'E1W'
 'BR6' 'EC1Y' 'SW1E' 'EC4Y' 'EC2N' 'SW10' 'N14' 'WC1X' 'KT5' 'W1B' 'N21'
 'KT9' 'EC4R' 'EC4M' 'EC2M' 'BR7' 'SW1Y' 'WC2E' 'UB11' 'EC4N' 'WC1R'
 'EC2R' 'EC4V' 'IG4' 'KT8' 'WC1A' 'IG9' 'WC14' 'EN7' 'KT4' 'W1A' 'RM5'
 'W1V' 'CR9' 'EC3M' 'EN8' 'RM4' 'TW15' 'EC2P' 'WD3' 'TN14' 'CR3' 'TW19'
 'EC47' 'RM2' 'W1N' 'W16' 'BR8' 'EN6' 'EC3P' 'N1C' 'CR6' 'W17' 'E4A' 'W1X'
 'KT17' 'SM7' 'EC17' 'CM14' 'SW99' 'RM15' 'EN9' 'E98' 'WC2' 'W1M' 'CM13'
 'EC1' 'KT18' 'W1' 'EC2' 'E20' 'WD23' 'WD6' 'CR44' 'KT19' 'SE1P' 'KT22'
 'SL3' 'SL0' 'TW16' 'RM19' 'BF1' 'OX9' 'E22']
A remplacer 305 ['BR1', 'BR2', 'BR3', 'BR4', 'BR5', 'BR6', 'BR7', 'BR8', 'CM13', 'CM14', 'CR0', 'CR2', 'CR3', 'CR4', 'CR5', 'CR6', 'CR7', 'CR8', 'CR9', 'DA14', 'DA15', 'DA16', 'DA17', 'DA18', 'DA1', 'DA5', 'DA6', 'DA7', 'DA8', 'E10', 'E11', 'E12', 'E13', 'E14', 'E15', 'E16', 'E17', 'E18', 'E1W', 'E1', 'E20', 'E22', 'E2', 'E3', 'E4', 'E5', 'E6', 'E7', 'E8', 'E9', 'EC1A', 'EC1M', 'EC1N', 'EC1R', 'EC1V', 'EC1Y', 'EC2A', 'EC2M', 'EC2N', 'EC2P', 'EC2R', 'EC2V', 'EC2Y', 'EC3A', 'EC3M', 'EC3N', 'EC3P', 'EC3R', 'EC3V', 'EC4A', 'EC4M', 'EC4N', 'EC4R', 'EC4V', 'EC4Y', 'EN1', 'EN2', 'EN3', 'EN4', 'EN5', 'EN6', 'EN7', 'EN8', 'EN9', 'HA0', 'HA1', 'HA2', 'HA3', 'HA4', 'HA5', 'HA6', 'HA7', 'HA8', 'HA9', 'IG11', 'IG1', 'IG2', 'IG3', 'IG4', 'IG5', 'IG6', 'IG7', 'IG8', 'IG9', 'KT17', 'KT18', 'KT19', 'KT1', 'KT22', 'KT2', 'KT3', 'KT4', 'KT5', 'KT6', 'KT8', 'KT9', 'N10', 'N11', 'N12', 'N13', 'N14', 'N15', 'N16', 'N17', 'N18', 'N19', 'N1C', 'N1', 'N20', 'N21', 'N22', 'N2', 'N3', 'N4', 'N5', 'N6', 'N7', 'N8', 'N9', 'NW10', 'NW11', 'NW1', 'NW2', 'NW3', 'NW4', 'NW5', 'NW6', 'NW7', 'NW8', 'NW9', 'OX9', 'RM10', 'RM11', 'RM12', 'RM13', 'RM14', 'RM15', 'RM19', 'RM1', 'RM2', 'RM3', 'RM4', 'RM5', 'RM6', 'RM7', 'RM8', 'RM9', 'SE10', 'SE11', 'SE12', 'SE13', 'SE14', 'SE15', 'SE16', 'SE17', 'SE18', 'SE19', 'SE1P', 'SE1', 'SE20', 'SE21', 'SE22', 'SE23', 'SE24', 'SE25', 'SE26', 'SE27', 'SE28', 'SE2', 'SE3', 'SE4', 'SE5', 'SE6', 'SE7', 'SE8', 'SE9', 'SL0', 'SL3', 'SM1', 'SM2', 'SM3', 'SM4', 'SM5', 'SM6', 'SM7', 'SW10', 'SW11', 'SW12', 'SW13', 'SW14', 'SW15', 'SW16', 'SW17', 'SW18', 'SW19', 'SW1A', 'SW1E', 'SW1H', 'SW1P', 'SW1V', 'SW1W', 'SW1X', 'SW1Y', 'SW20', 'SW2', 'SW3', 'SW4', 'SW5', 'SW6', 'SW7', 'SW8', 'SW9', 'TN14', 'TN16', 'TW10', 'TW11', 'TW12', 'TW13', 'TW14', 'TW15', 'TW16', 'TW19', 'TW1', 'TW2', 'TW3', 'TW4', 'TW5', 'TW6', 'TW7', 'TW8', 'TW9', 'UB10', 'UB11', 'UB1', 'UB2', 'UB3', 'UB4', 'UB5', 'UB6', 'UB7', 'UB8', 'UB9', 'W10', 'W11', 'W12', 'W13', 'W14', 'W1A', 'W1B', 'W1C', 'W1D', 'W1F', 'W1G', 'W1H', 'W1J', 'W1K', 'W1S', 'W1T', 'W1U', 'W1W', 'W2', 'W3', 'W4', 'W5', 'W6', 'W7', 'W8', 'W9', 'WC1A', 'WC1B', 'WC1E', 'WC1H', 'WC1N', 'WC1R', 'WC1V', 'WC1X', 'WC2A', 'WC2B', 'WC2E', 'WC2H', 'WC2N', 'WC2R', 'WD23', 'WD3', 'WD6']
Après remplacement 20 ['OTHER' 'W15' 'WC14' 'W1V' 'EC47' 'W1N' 'W16' 'W17' 'E4A' 'W1X' 'EC17'
 'SW99' 'E98' 'WC2' 'W1M' 'EC1' 'W1' 'EC2' 'CR44' 'BF1']

PropertyType
Avant remplacement 292 ['CAR' 'ROAD SURFACE/PAVEMENT'
 'DOMESTIC GARDEN (VEGETATION NOT EQUIPMENT)'
 'CYCLE PATH/PUBLIC FOOTPATH/BRIDLEWAY'
 'PURPOSE BUILT FLATS/MAISONETTES - UP TO 3 STOREYS' 'REFUSE/RUBBISH TIP'
 'SMALL REFUSE/RUBBISH CONTAINER' 'STUDENT HALL OF RESIDENCE'
 'PURPOSE BUILT FLATS/MAISONETTES - 4 TO 9 STOREYS' 'LAUNDRETTE'
 'PURPOSE BUILT FLATS/MAISONETTES - 10 OR MORE STOREYS' 'HOTEL/MOTEL'
 'HOUSE - SINGLE OCCUPANCY' 'RESTAURANT/CAFE' 'OTHER OUTDOOR LOCATION'
 'CONVERTED FLAT/MAISONETTE - UP TO 2 STOREYS' 'MUSEUM' 'LOOSE REFUSE'
 'CLUB/NIGHT CLUB' 'NURSING/CARE HOME/HOSPICE'
 'HOSTEL (E.G. FOR HOMELESS PEOPLE)' "NURSES'/DOCTORS' ACCOMMODATION"
 'CONVERTED FLAT/MAISONETTES - 3 OR MORE STOREYS'
 'SELF CONTAINED SHELTERED HOUSING' 'SHELTER' 'POST BOX'
 'LICENSED HOUSE IN MULTIPLE OCCUPATION - UP TO 2 STOREYS'
 'MULTI-STOREY CAR PARK' 'OTHER BULK STORAGE' 'MULTIPLE VEHICLES'
 'ROADSIDE FURNITURE (EG LAMP POSTS/ ROAD SIGNS/ TELEGRAPH POLES/ SPEED CAMERAS)'
 'MONASTERY/CONVENT' 'PURPOSE BUILT OFFICE' 'DEPARTMENT STORE' 'HOSPITAL'
 'OTHER BUILDING/USE NOT KNOWN' 'AIRPORT - TERMINAL' 'RAILWAY'
 'TENEMENT BUILDING' 'LOCAL GOVERNMENT OFFICE' 'OTHER RETAIL WAREHOUSE'
 'SINGLE SHOP' 'RETIREMENT/OLD PERSONS HOME'
 'LICENSED HOUSE IN MULTIPLE OCCUPATION - 3 OR MORE STOREYS'
 'LAKE/POND/RESERVOIR' 'BRIDGE' 'TREE SCRUB'
 'TRAIN STATION - PLATFORM (BELOW GROUND)'
 'OTHER MEDICAL ESTABLISHMENT (INCLUDING SURGERY)' 'OTHER ROAD VEHICLE'
 'PARK' 'GRASSLAND/ PASTURE/ GRAZING ETC' 'PRISON'
 'LARGE REFUSE/RUBBISH CONTAINER (EG SKIP/ PALADIN)'
 'BANK/BUILDING SOCIETY' 'SHELTERED HOUSING : NOT SELF CONTAINED'
 'BUNGALOW - SINGLE OCCUPANCY'
 'BOARDING HOUSE/B&B FOR HOMELESS/ASYLUM SEEKERS' 'CONVERTED OFFICE'
 'MOTORCYCLE' 'EXHIBITION CENTRE' 'LORRY/HGV' 'COLLEGE/UNIVERSITY'
 'LIBRARY' 'INFANT/PRIMARY SCHOOL' 'CALL CENTRE'
 'TRAIN STATION - ELSEWHERE' 'HEALTH CENTRE' 'POLICE STATION'
 'OTHER RESIDENTIAL HOME' 'PRE SCHOOL/NURSERY' 'FACTORY'
 'PUB/WINE BAR/BAR' 'TAKEAWAY/ FAST FOOD' 'MANUFACTURING ASSEMBLY PLANT'
 'CHURCH/CHAPEL' 'COMMUNITY CENTRE/HALL'
 'UNLICENSED HOUSE IN MULTIPLE OCCUPATION - 3 OR MORE STOREYS'
 'FOOTBALL STADIUM' 'PRINTING WORKS' 'SPORTS/SOCIAL CLUB' 'DIY WAREHOUSE'
 'CARAVAN/MOBILE HOME (PERMANENT DWELLING)' 'LARGE SUPERMARKET'
 'ELECTRICITY POWER STATION'
 'UNLICENSED HOUSE IN MULTIPLE OCCUPATION - UP TO 2 STOREYS' 'TEMPLE'
 'PIPE OR DRAIN' 'LIGHT AIRCRAFT' 'OTHER OUTDOOR STRUCTURES'
 'LEISURE CENTRE' 'ART GALLERY' 'UNDERGROUND CAR PARK' 'OUTDOOR STORAGE'
 'PRIVATE GARDEN SHED' 'WASTELAND' 'BUS/COACH' 'VAN' 'SHOPPING CENTRE'
 'SECONDARY SCHOOL' 'WAREHOUSE' 'BINGO HALL' 'MILL' 'RIVER/CANAL' 'CASINO'
 'SYNAGOGUE' 'HOUSEBOAT (PERMANENT DWELLING)' 'FURNITURE WAREHOUSE'
 'THEATRE' 'FALSE ALARM - PROPERTY NOT FOUND' 'AIRPORT - HANGAR'
 'LAW COURTS' 'OTHER OFFICE/CALL CENTRE TYPE BUILDING'
 'OTHER INDUSTRIAL PROCESSING PLANT' 'OTHER OUTDOOR EQUIPMENT/MACHINERY'
 'ENGINEERING MANUFACTURING PLANT' 'BUS/COACH STATION/GARAGE'
 'OTHER CAR PARK STRUCTURE' 'OTHER EDUCATION ESTABLISHMENT'
 'WOODLAND/FOREST - BROADLEAF/HARDWOOD'
 'AIRPORT BUILDING (NOT TERMINAL OR HANGAR)' 'TOWN HALL' 'PETROL STATION'
 'LABORATORY/RESEARCH ESTABLISHMENT' 'TUNNEL/ SUBWAY'
 'POST OFFICE (PURPOSE BUILT)' 'HAIRDRESSER' 'MOTOR HOME'
 'DAY CARE/DROP IN CENTRE' 'GAS WORKS'
 'HOUSE IN MULTIPLE OCCUPATION - UP TO 2 STOREYS (NOT KNOWN IF LICENSED)'
 'YOUTH HOSTEL' 'PUBLIC TOILETS' 'RECYCLING PLANT' 'CATHEDRAL' 'GYM'
 'HOUSE IN MULTIPLE OCCUPATION - 3 OR MORE STOREYS (NOT KNOWN IF LICENSED)'
 "CHILDREN'S HOME" 'CENTRAL GOVERNMENT OFFICE' 'OTHER DWELLING'
 'TRAIN STATION - PLATFORM (AT GROUND LEVEL OR ELEVATED)' 'CINEMA'
 'FIRE STATION' 'OTHER PUBLIC BUILDING' 'MILITARY/BARRACKS' 'CABLES'
 'HEATHLAND' 'OTHER INDUSTRIAL MANUFACTURING FACILITY' 'CRICKET GROUND'
 'INDOOR MARKET' 'SCRUB LAND' 'RECYCLING COLLECTION POINT/ BOTTLE BANK'
 'SWIMMING POOL' 'PRIVATE GARAGE' 'VEHICLE REPAIR WORKSHOP'
 'PASSENGER PLANE' 'GARDEN EQUIPMENT' 'TEMPORARY OFFICE (EG PORTACABIN)'
 'TV/FILM/MUSIC/ART STUDIO' 'KIOSK' 'CHEMICAL PLANT' 'CARAVAN ON TOW'
 'OTHER OUTDOOR SPORTING VENUE' 'TOWING CARAVAN/CAMPER VAN ON SITE'
 'TRAIN ON TUBE NETWORK' 'VEHICLE SALES BUILDING'
 'SPORTS PAVILION/SHOWER BLOCK/CHANGING FACILITY'
 'OTHER INDOOR SPORTING VENUE' 'YOUNG OFFENDERS UNIT' 'AMBULANCE STATION'
 'TRAM' 'OTHER PRIVATE NON-RESIDENTIAL BUILDING' 'WATER WORKS'
 'ROADSIDE VEGETATION' 'OTHER RETAIL' 'BOARDING SCHOOL ACCOMMODATION'
 'OTHER TRANSPORT BUILDING' 'TRAIN STATION - CONCOURSE'
 'OTHER CULTURAL VENUE' 'OTHER ENTERTAINMENT VENUE'
 'OTHER PUBLIC UTILITY WORKS' 'BEACH' 'BARBECUE' 'TRAINS - ENGINE SHED'
 'BULK HAZARDOUS MATERIALS STORAGE'
 'PASSENGER TRAIN (NATIONAL RAIL NETWORK)'
 'UNDERGROUND TRAIN : OTHER SYSTEM' 'ELECTRICAL WAREHOUSE' 'ESTATE AGENT'
 'SPORTS HALL' 'OTHER RELIGIOUS USE BUILDING' 'RAILWAY BUILDING - OTHER'
 'TELEPHONE BOX' 'NURSERIES/ MARKET GARDEN' 'CANAL/RIVERBANK VEGETATION'
 'BOARDING HOUSE/B&B OTHER' 'MINIBUS' 'OIL REFINERY' 'BARGE'
 'AIRPORT - FUEL STORAGE' 'MOSQUE' 'OTHER VESSEL' 'BULK GAS STORAGE'
 'TENNIS COURTS' 'BULK OIL STORAGE' 'RAILINGS'
 'ANIMAL PRODUCTS PROCESSING PLANT' 'STRAW/STUBBLE BURNING'
 'AIRFIELD/RUNWAY' 'LANDFILL SITE' 'RAILWAY TRACKSIDE VEGETATION'
 'CEMETERY' 'CONFERENCE CENTRE' 'MINE OR QUARRY BUILDING ABOVE GROUND'
 'GREYHOUND STADIUM' 'TRACTOR SHED'
 'POST OFFICE (WITHIN OTHER SHOP/PREMISES)'
 'MINE OR QUARRY (NOT ABOVE GROUND BUILDING)'
 'WOODLAND/FOREST - CONIFERS/SOFTWOOD' 'INDOOR STADIUM'
 'BULK WASTE STORAGE' 'ROAD TANKER' 'TELEPHONE EXCHANGE' 'DOCKS'
 'INTENSIVE FARMING SHEDS (CHICKENS/ PIGS ETC)' 'MOTOR YACHT'
 'PRIVATE GREENHOUSE' 'CONCERT HALL' 'RUGBY STADIUM'
 'OTHER ANIMAL BOARDING/BREEDING ESTABLISHMENT' 'TRAVEL AGENT'
 'THEME PARK' 'AGRICULTURAL VEHICLE' 'PRIVATE SUMMER HOUSE' 'ICE RINK'
 'CAMPING TENT' 'AGRICULTURAL EQUIPMENT'
 'ANIMAL BOARDING/BREEDING ESTABLISHMENT - DOGS' 'ZOO' 'STANDING CROP'
 'RAILWAY GOODS YARD' 'OTHER AGRICULTURAL BUILDING' 'NAVAL VESSEL'
 'STACKED/BALED CROP' 'FREIGHT TRAIN' 'HELICOPTER' 'OTHER AIRCRAFT'
 'OTHER HOLIDAY RESIDENCE (COTTAGE/ FLAT/ CHALET)' 'OTHER TENT/MARQUEE'
 'BOAT - TANKER' 'SEWAGE WORKS'
 'ANIMAL BOARDING/BREEDING ESTABLISHMENT - CATS' 'ATHLETICS STADIUM'
 'BARN' 'LARGE PASSENGER VESSEL' 'MOTOR RACING CIRCUIT' 'FREIGHT PLANE'
 'GREENHOUSE (COMMERCIAL) POLYTUNNEL' 'FISHING BOAT' 'MILITARY HELICOPTER'
 'MILKING PARLOUR' 'FERRY TERMINAL' 'COMMON EXTERNAL BIN STORAGE AREA'
 'HEDGE' 'FENCE' 'MEDICAL/HEALTH CENTRE' 'HUMAN HARM OUTDOORS' 'BICYCLE'
 'DENTAL SURGERY' 'DOCTORS SURGERY' 'MINISTRY OF DEFENCE OFFICE'
 'GOLF CLUBHOUSE' 'PLAYGROUND/RECREATION AREA (NOT EQUIPMENT)'
 'TOWING CARAVAN (NOT ON TOW OR ON SITE)' 'HEALTH SPA/FARM'
 'FOOD AND DRINK PROCESSING' 'TRAILER (NOT ATTACHED TO TRACTOR UNIT)'
 'ANIMAL HARM OUTDOORS' 'DISTILLERY PLANT' 'VETERINARY SURGERY'
 'GOLF COURSE (NOT BUILDING ON COURSE)' 'BAKERY'
 'GREENHOUSE (COMMERCIAL) GLASS' 'STATELY HOME (PART NOT OPEN TO PUBLIC)'
 'ROYAL PALACE (PART NOT OPEN TO PUBLIC)' 'RACECOURSE' 'SILO'
 'WHEELIE BIN (DOMESTIC SIZE)' 'OTHER MERCHANT VESSEL'
 'CASTLE (PART NOT OPEN TO PUBLIC)' 'SEA' 'MILITARY PLANE']
A remplacer 27 ['AIRPORT - FUEL STORAGE', 'ANIMAL BOARDING/BREEDING ESTABLISHMENT - CATS', 'BEACH', 'BOAT - TANKER', 'BULK OIL STORAGE', 'DOCKS', 'FERRY TERMINAL', 'FISHING BOAT', 'FREIGHT PLANE', 'FREIGHT TRAIN', 'GREENHOUSE (COMMERCIAL) GLASS', 'GREENHOUSE (COMMERCIAL) POLYTUNNEL', 'INDOOR STADIUM', 'INTENSIVE FARMING SHEDS (CHICKENS/ PIGS ETC)', 'KIOSK', 'MINE OR QUARRY (NOT ABOVE GROUND BUILDING)', 'MINE OR QUARRY BUILDING ABOVE GROUND', 'MOTOR YACHT', 'NAVAL VESSEL', 'OIL REFINERY', 'OTHER MERCHANT VESSEL', 'RACECOURSE', 'RAILWAY GOODS YARD', 'ROAD TANKER', 'SEA', 'STACKED/BALED CROP', 'TRACTOR SHED']
Après remplacement 266 ['CAR' 'ROAD SURFACE/PAVEMENT'
 'DOMESTIC GARDEN (VEGETATION NOT EQUIPMENT)'
 'CYCLE PATH/PUBLIC FOOTPATH/BRIDLEWAY'
 'PURPOSE BUILT FLATS/MAISONETTES - UP TO 3 STOREYS' 'REFUSE/RUBBISH TIP'
 'SMALL REFUSE/RUBBISH CONTAINER' 'STUDENT HALL OF RESIDENCE'
 'PURPOSE BUILT FLATS/MAISONETTES - 4 TO 9 STOREYS' 'LAUNDRETTE'
 'PURPOSE BUILT FLATS/MAISONETTES - 10 OR MORE STOREYS' 'HOTEL/MOTEL'
 'HOUSE - SINGLE OCCUPANCY' 'RESTAURANT/CAFE' 'OTHER OUTDOOR LOCATION'
 'CONVERTED FLAT/MAISONETTE - UP TO 2 STOREYS' 'MUSEUM' 'LOOSE REFUSE'
 'CLUB/NIGHT CLUB' 'NURSING/CARE HOME/HOSPICE'
 'HOSTEL (E.G. FOR HOMELESS PEOPLE)' "NURSES'/DOCTORS' ACCOMMODATION"
 'CONVERTED FLAT/MAISONETTES - 3 OR MORE STOREYS'
 'SELF CONTAINED SHELTERED HOUSING' 'SHELTER' 'POST BOX'
 'LICENSED HOUSE IN MULTIPLE OCCUPATION - UP TO 2 STOREYS'
 'MULTI-STOREY CAR PARK' 'OTHER BULK STORAGE' 'MULTIPLE VEHICLES'
 'ROADSIDE FURNITURE (EG LAMP POSTS/ ROAD SIGNS/ TELEGRAPH POLES/ SPEED CAMERAS)'
 'MONASTERY/CONVENT' 'PURPOSE BUILT OFFICE' 'DEPARTMENT STORE' 'HOSPITAL'
 'OTHER BUILDING/USE NOT KNOWN' 'AIRPORT - TERMINAL' 'RAILWAY'
 'TENEMENT BUILDING' 'LOCAL GOVERNMENT OFFICE' 'OTHER RETAIL WAREHOUSE'
 'SINGLE SHOP' 'RETIREMENT/OLD PERSONS HOME'
 'LICENSED HOUSE IN MULTIPLE OCCUPATION - 3 OR MORE STOREYS'
 'LAKE/POND/RESERVOIR' 'BRIDGE' 'TREE SCRUB'
 'TRAIN STATION - PLATFORM (BELOW GROUND)'
 'OTHER MEDICAL ESTABLISHMENT (INCLUDING SURGERY)' 'OTHER ROAD VEHICLE'
 'PARK' 'GRASSLAND/ PASTURE/ GRAZING ETC' 'PRISON'
 'LARGE REFUSE/RUBBISH CONTAINER (EG SKIP/ PALADIN)'
 'BANK/BUILDING SOCIETY' 'SHELTERED HOUSING : NOT SELF CONTAINED'
 'BUNGALOW - SINGLE OCCUPANCY'
 'BOARDING HOUSE/B&B FOR HOMELESS/ASYLUM SEEKERS' 'CONVERTED OFFICE'
 'MOTORCYCLE' 'EXHIBITION CENTRE' 'LORRY/HGV' 'COLLEGE/UNIVERSITY'
 'LIBRARY' 'INFANT/PRIMARY SCHOOL' 'CALL CENTRE'
 'TRAIN STATION - ELSEWHERE' 'HEALTH CENTRE' 'POLICE STATION'
 'OTHER RESIDENTIAL HOME' 'PRE SCHOOL/NURSERY' 'FACTORY'
 'PUB/WINE BAR/BAR' 'TAKEAWAY/ FAST FOOD' 'MANUFACTURING ASSEMBLY PLANT'
 'CHURCH/CHAPEL' 'COMMUNITY CENTRE/HALL'
 'UNLICENSED HOUSE IN MULTIPLE OCCUPATION - 3 OR MORE STOREYS'
 'FOOTBALL STADIUM' 'PRINTING WORKS' 'SPORTS/SOCIAL CLUB' 'DIY WAREHOUSE'
 'CARAVAN/MOBILE HOME (PERMANENT DWELLING)' 'LARGE SUPERMARKET'
 'ELECTRICITY POWER STATION'
 'UNLICENSED HOUSE IN MULTIPLE OCCUPATION - UP TO 2 STOREYS' 'TEMPLE'
 'PIPE OR DRAIN' 'LIGHT AIRCRAFT' 'OTHER OUTDOOR STRUCTURES'
 'LEISURE CENTRE' 'ART GALLERY' 'UNDERGROUND CAR PARK' 'OUTDOOR STORAGE'
 'PRIVATE GARDEN SHED' 'WASTELAND' 'BUS/COACH' 'VAN' 'SHOPPING CENTRE'
 'SECONDARY SCHOOL' 'WAREHOUSE' 'BINGO HALL' 'MILL' 'RIVER/CANAL' 'CASINO'
 'SYNAGOGUE' 'HOUSEBOAT (PERMANENT DWELLING)' 'FURNITURE WAREHOUSE'
 'THEATRE' 'FALSE ALARM - PROPERTY NOT FOUND' 'AIRPORT - HANGAR'
 'LAW COURTS' 'OTHER OFFICE/CALL CENTRE TYPE BUILDING'
 'OTHER INDUSTRIAL PROCESSING PLANT' 'OTHER OUTDOOR EQUIPMENT/MACHINERY'
 'ENGINEERING MANUFACTURING PLANT' 'BUS/COACH STATION/GARAGE'
 'OTHER CAR PARK STRUCTURE' 'OTHER EDUCATION ESTABLISHMENT'
 'WOODLAND/FOREST - BROADLEAF/HARDWOOD'
 'AIRPORT BUILDING (NOT TERMINAL OR HANGAR)' 'TOWN HALL' 'PETROL STATION'
 'LABORATORY/RESEARCH ESTABLISHMENT' 'TUNNEL/ SUBWAY'
 'POST OFFICE (PURPOSE BUILT)' 'HAIRDRESSER' 'MOTOR HOME'
 'DAY CARE/DROP IN CENTRE' 'GAS WORKS'
 'HOUSE IN MULTIPLE OCCUPATION - UP TO 2 STOREYS (NOT KNOWN IF LICENSED)'
 'YOUTH HOSTEL' 'PUBLIC TOILETS' 'RECYCLING PLANT' 'CATHEDRAL' 'GYM'
 'HOUSE IN MULTIPLE OCCUPATION - 3 OR MORE STOREYS (NOT KNOWN IF LICENSED)'
 "CHILDREN'S HOME" 'CENTRAL GOVERNMENT OFFICE' 'OTHER DWELLING'
 'TRAIN STATION - PLATFORM (AT GROUND LEVEL OR ELEVATED)' 'CINEMA'
 'FIRE STATION' 'OTHER PUBLIC BUILDING' 'MILITARY/BARRACKS' 'CABLES'
 'HEATHLAND' 'OTHER INDUSTRIAL MANUFACTURING FACILITY' 'CRICKET GROUND'
 'INDOOR MARKET' 'SCRUB LAND' 'RECYCLING COLLECTION POINT/ BOTTLE BANK'
 'SWIMMING POOL' 'PRIVATE GARAGE' 'VEHICLE REPAIR WORKSHOP'
 'PASSENGER PLANE' 'GARDEN EQUIPMENT' 'TEMPORARY OFFICE (EG PORTACABIN)'
 'TV/FILM/MUSIC/ART STUDIO' 'OTHER' 'CHEMICAL PLANT' 'CARAVAN ON TOW'
 'OTHER OUTDOOR SPORTING VENUE' 'TOWING CARAVAN/CAMPER VAN ON SITE'
 'TRAIN ON TUBE NETWORK' 'VEHICLE SALES BUILDING'
 'SPORTS PAVILION/SHOWER BLOCK/CHANGING FACILITY'
 'OTHER INDOOR SPORTING VENUE' 'YOUNG OFFENDERS UNIT' 'AMBULANCE STATION'
 'TRAM' 'OTHER PRIVATE NON-RESIDENTIAL BUILDING' 'WATER WORKS'
 'ROADSIDE VEGETATION' 'OTHER RETAIL' 'BOARDING SCHOOL ACCOMMODATION'
 'OTHER TRANSPORT BUILDING' 'TRAIN STATION - CONCOURSE'
 'OTHER CULTURAL VENUE' 'OTHER ENTERTAINMENT VENUE'

,CalYear,HourOfCall,PropertyType,Postcode_district,FirstPumpArriving_DeployedFromStation,NumPumpsAttending,Month,DayOfWeek,StopCode,PumpSecondsOnSite_min,PumpSecondsOnSite_mean,PumpSecondsOnSite_max,TurnoutTimeSeconds_min,TurnoutTimeSeconds_mean,TurnoutTimeSeconds_max,TravelTimeSeconds_min,TravelTimeSeconds_mean,TravelTimeSeconds_max
0,2009,0,CAR,OTHER,BATTERSEA,2.0,1,4,SST-RTC,240.0,390.0,540.0,253.0,253.0,253.0,89.0,89.0,89.0
1,2009,0,ROAD SURFACE/PAVEMENT,OTHER,EDMONTON,1.0,1,4,SECONDARY FIRE,420.0,420.0,420.0,151.0,151.0,151.0,157.0,157.0,157.0
2,2009,0,DOMESTIC GARDEN (VEGETATION NOT EQUIPMENT),OTHER,HILLINGDON,1.0,1,4,SECONDARY FIRE,720.0,720.0,720.0,108.0,108.0,108.0,102.0,102.0,102.0
3,2009,0,CYCLE PATH/PUBLIC FOOTPATH/BRIDLEWAY,OTHER,HOLLOWAY,2.0,1,4,SECONDARY FIRE,120.0,120.0,120.0,114.0,128.0,142.0,108.0,113.5,119.0
4,2009,0,PURPOSE BUILT FLATS/MAISONETTES - UP TO 3 STOREYS,OTHER,KENTISH TOWN,2.0,1,4,AFA,360.0,360.0,360.0,83.0,89.0,95.0,89.0,108.0,127.0
5,2009,0,CAR,OTHER,EAST GREENWICH,1.0,1,4,SST-RTC,420.0,420.0,420.0,119.0,119.0,119.0,403.0,403.0,403.0
6,2009,0,REFUSE/RUBBISH TIP,OTHER,HESTON,2.0,1,4,SECONDARY FIRE,1440.0,1440.0,1440.0,178.0,180.5,183.0,164.0,165.0,166.0
7,2009,0,SMALL REFUSE/RUBBISH CONTAINER,OTHER,CLERKENWELL,1.0,1,4,SECONDARY FIRE,420.0,420.0,420.0,121.0,121.0,121.0,134.0,134.0,134.0
8,2009,0,STUDENT HALL OF RESIDENCE,OTHER,EUSTON,1.0,1,4,AFA,780.0,780.0,780.0,110.0,110.0,110.0,187.0,187.0,187.0
9,2009,0,PURPOSE BUILT FLATS/MAISONETTES - 4 TO 9 STOREYS,OTHER,DOWGATE,1.0,1,4,SST-LIFT RELEASE,600.0,600.0,600.0,129.0,129.0,129.0,567.0,567.0,567.0

TravelTimeSeconds

    Keep             Column Value
0   True  Postcode_district   BR1
1   True  Postcode_district   BR2
2   True  Postcode_district   BR3
3  False  Postcode_district   BR4
4   True  Postcode_district   BR5

Postcode_district
PropertyType
StopCode
replaces {'Postcode_district': ['BR4', 'BR7', 'BR8', 'CM14', 'CR3', 'CR5', 'CR6', 'DA16', 'DA18', 'DA1', 'DA5', 'E22', 'EC2P', 'EN2', 'EN8', 'EN9', 'HA1', 'HA3', 'HA6', 'IG4', 'IG5', 'KT19', 'KT8', 'KT9', 'N11', 'N20', 'OX9', 'RM13', 'RM14', 'RM15', 'RM19', 'RM4', 'SE1P', 'SE22', 'SE28', 'SL0', 'SL3', 'SM7', 'SW13', 'TW15', 'TW16', 'TW19', 'TW5', 'TW6', 'UB6', 'UB7', 'UB9', 'W1K', 'WD23', 'WD6'], 'PropertyType': ['AGRICULTURAL VEHICLE', 'AIRFIELD/RUNWAY', 'AIRPORT - FUEL STORAGE', 'AIRPORT - TERMINAL', 'AIRPORT BUILDING (NOT TERMINAL OR HANGAR)', 'ANIMAL BOARDING/BREEDING ESTABLISHMENT - CATS', 'ANIMAL BOARDING/BREEDING ESTABLISHMENT - DOGS', 'ANIMAL HARM OUTDOORS', 'ATHLETICS STADIUM', 'BARGE', 'BARN', 'BEACH', 'BOARDING SCHOOL ACCOMMODATION', 'BOAT - TANKER', 'BRIDGE', 'BULK GAS STORAGE', 'BULK HAZARDOUS MATERIALS STORAGE', 'BULK OIL STORAGE', 'BULK WASTE STORAGE', 'BUNGALOW - SINGLE OCCUPANCY', 'CABLES', 'CAMPING TENT', 'CANAL/RIVERBANK VEGETATION', 'CARAVAN ON TOW', 'CARAVAN/MOBILE HOME (PERMANENT DWELLING)', 'CAR', 'CASTLE (PART NOT OPEN TO PUBLIC)', 'CEMETERY', 'CHEMICAL PLANT', "CHILDREN'S HOME", 'COMMON EXTERNAL BIN STORAGE AREA', 'DISTILLERY PLANT', 'DOCKS', 'DOMESTIC GARDEN (VEGETATION NOT EQUIPMENT)', 'ELECTRICITY POWER STATION', 'ENGINEERING MANUFACTURING PLANT', 'FACTORY', 'FALSE ALARM - PROPERTY NOT FOUND', 'FENCE', 'FERRY TERMINAL', 'FISHING BOAT', 'FOOD AND DRINK PROCESSING', 'FREIGHT PLANE', 'FREIGHT TRAIN', 'GAS WORKS', 'GOLF CLUBHOUSE', 'GOLF COURSE (NOT BUILDING ON COURSE)', 'GRASSLAND/ PASTURE/ GRAZING ETC', 'GREENHOUSE (COMMERCIAL) GLASS', 'GREENHOUSE (COMMERCIAL) POLYTUNNEL', 'HEALTH SPA/FARM', 'HEATHLAND', 'HEDGE', 'HELICOPTER', 'HOUSE - SINGLE OCCUPANCY', 'HOUSEBOAT (PERMANENT DWELLING)', 'INDOOR STADIUM', 'INTENSIVE FARMING SHEDS (CHICKENS/ PIGS ETC)', 'LAKE/POND/RESERVOIR', 'LARGE PASSENGER VESSEL', 'LARGE REFUSE/RUBBISH CONTAINER (EG SKIP/ PALADIN)', 'LIGHT AIRCRAFT', 'LOOSE REFUSE', 'LORRY/HGV', 'MILITARY PLANE', 'MILITARY/BARRACKS', 'MILL', 'MINE OR QUARRY (NOT ABOVE GROUND BUILDING)', 'MINE OR QUARRY BUILDING ABOVE GROUND', 'MINIBUS', 'MINISTRY OF DEFENCE OFFICE', 'MONASTERY/CONVENT', 'MOTOR HOME', 'MOTOR YACHT', 'MULTIPLE VEHICLES', 'NURSERIES/ MARKET GARDEN', 'OIL REFINERY', 'OTHER AGRICULTURAL BUILDING', 'OTHER AIRCRAFT', 'OTHER ANIMAL BOARDING/BREEDING ESTABLISHMENT', 'OTHER DWELLING', 'OTHER HOLIDAY RESIDENCE (COTTAGE/ FLAT/ CHALET)', 'OTHER INDUSTRIAL MANUFACTURING FACILITY', 'OTHER INDUSTRIAL PROCESSING PLANT', 'OTHER MERCHANT VESSEL', 'OTHER OUTDOOR LOCATION', 'OTHER OUTDOOR STRUCTURES', 'OTHER PUBLIC UTILITY WORKS', 'OTHER RESIDENTIAL HOME', 'OTHER ROAD VEHICLE', 'OTHER TENT/MARQUEE', 'OTHER TRANSPORT BUILDING', 'OTHER VESSEL', 'OUTDOOR STORAGE', 'PARK', 'PASSENGER PLANE', 'PASSENGER TRAIN (NATIONAL RAIL NETWORK)', 'PIPE OR DRAIN', 'PLAYGROUND/RECREATION AREA (NOT EQUIPMENT)', 'PRINTING WORKS', 'PRISON', 'PRIVATE GARAGE', 'PRIVATE GARDEN SHED', 'PRIVATE GREENHOUSE', 'PURPOSE BUILT FLATS/MAISONETTES - 10 OR MORE STOREYS', 'PURPOSE BUILT FLATS/MAISONETTES - 4 TO 9 STOREYS', 'PURPOSE BUILT FLATS/MAISONETTES - UP TO 3 STOREYS', 'RACECOURSE', 'RAILINGS', 'RAILWAY TRACKSIDE VEGETATION', 'RAILWAY', 'RECYCLING PLANT', 'REFUSE/RUBBISH TIP', 'RIVER/CANAL', 'ROAD TANKER', 'ROADSIDE FURNITURE (EG LAMP POSTS/ ROAD SIGNS/ TELEGRAPH POLES/ SPEED CAMERAS)', 'ROADSIDE VEGETATION', 'ROYAL PALACE (PART NOT OPEN TO PUBLIC)', 'RUGBY STADIUM', 'SCRUB LAND', 'SEA', 'SEWAGE WORKS', 'SPORTS PAVILION/SHOWER BLOCK/CHANGING FACILITY', 'STACKED/BALED CROP', 'STANDING CROP', 'STATELY HOME (PART NOT OPEN TO PUBLIC)', 'STRAW/STUBBLE BURNING', 'TEMPORARY OFFICE (EG PORTACABIN)', 'TENNIS COURTS', 'THEME PARK', 'TOWING CARAVAN (NOT ON TOW OR ON SITE)', 'TOWING CARAVAN/CAMPER VAN ON SITE', 'TRACTOR SHED', 'TRAILER (NOT ATTACHED TO TRACTOR UNIT)', 'TRAINS - ENGINE SHED', 'TRAM', 'TREE SCRUB', 'TUNNEL/ SUBWAY', 'UNDERGROUND TRAIN : OTHER SYSTEM', 'VAN', 'VEHICLE REPAIR WORKSHOP', 'WAREHOUSE', 'WASTELAND', 'WATER WORKS', 'WOODLAND/FOREST - BROADLEAF/HARDWOOD', 'WOODLAND/FOREST - CONIFERS/SOFTWOOD', 'YOUNG OFFENDERS UNIT', 'ZOO'], 'StopCode': ['CHIMNEY FIRE', 'LATE CALL', 'SST-HAZARDOUS MATERIALS INCIDENT', 'SST-OTHER TRANSPORT INCIDENT', 'SST-STAND BY', 'SST-SUICIDE/ATTEMPTS', 'SST-WATER PROVISION']}
Ignore TravelTimeSeconds Postcode_district
PropertyType
Avant remplacement 292 ['CAR' 'ROAD SURFACE/PAVEMENT'
 'DOMESTIC GARDEN (VEGETATION NOT EQUIPMENT)'
 'CYCLE PATH/PUBLIC FOOTPATH/BRIDLEWAY'
 'PURPOSE BUILT FLATS/MAISONETTES - UP TO 3 STOREYS' 'REFUSE/RUBBISH TIP'
 'SMALL REFUSE/RUBBISH CONTAINER' 'STUDENT HALL OF RESIDENCE'
 'PURPOSE BUILT FLATS/MAISONETTES - 4 TO 9 STOREYS' 'LAUNDRETTE'
 'PURPOSE BUILT FLATS/MAISONETTES - 10 OR MORE STOREYS' 'HOTEL/MOTEL'
 'HOUSE - SINGLE OCCUPANCY' 'RESTAURANT/CAFE' 'OTHER OUTDOOR LOCATION'
 'CONVERTED FLAT/MAISONETTE - UP TO 2 STOREYS' 'MUSEUM' 'LOOSE REFUSE'
 'CLUB/NIGHT CLUB' 'NURSING/CARE HOME/HOSPICE'
 'HOSTEL (E.G. FOR HOMELESS PEOPLE)' "NURSES'/DOCTORS' ACCOMMODATION"
 'CONVERTED FLAT/MAISONETTES - 3 OR MORE STOREYS'
 'SELF CONTAINED SHELTERED HOUSING' 'SHELTER' 'POST BOX'
 'LICENSED HOUSE IN MULTIPLE OCCUPATION - UP TO 2 STOREYS'
 'MULTI-STOREY CAR PARK' 'OTHER BULK STORAGE' 'MULTIPLE VEHICLES'
 'ROADSIDE FURNITURE (EG LAMP POSTS/ ROAD SIGNS/ TELEGRAPH POLES/ SPEED CAMERAS)'
 'MONASTERY/CONVENT' 'PURPOSE BUILT OFFICE' 'DEPARTMENT STORE' 'HOSPITAL'
 'OTHER BUILDING/USE NOT KNOWN' 'AIRPORT - TERMINAL' 'RAILWAY'
 'TENEMENT BUILDING' 'LOCAL GOVERNMENT OFFICE' 'OTHER RETAIL WAREHOUSE'
 'SINGLE SHOP' 'RETIREMENT/OLD PERSONS HOME'
 'LICENSED HOUSE IN MULTIPLE OCCUPATION - 3 OR MORE STOREYS'
 'LAKE/POND/RESERVOIR' 'BRIDGE' 'TREE SCRUB'
 'TRAIN STATION - PLATFORM (BELOW GROUND)'
 'OTHER MEDICAL ESTABLISHMENT (INCLUDING SURGERY)' 'OTHER ROAD VEHICLE'
 'PARK' 'GRASSLAND/ PASTURE/ GRAZING ETC' 'PRISON'
 'LARGE REFUSE/RUBBISH CONTAINER (EG SKIP/ PALADIN)'
 'BANK/BUILDING SOCIETY' 'SHELTERED HOUSING : NOT SELF CONTAINED'
 'BUNGALOW - SINGLE OCCUPANCY'
 'BOARDING HOUSE/B&B FOR HOMELESS/ASYLUM SEEKERS' 'CONVERTED OFFICE'
 'MOTORCYCLE' 'EXHIBITION CENTRE' 'LORRY/HGV' 'COLLEGE/UNIVERSITY'
 'LIBRARY' 'INFANT/PRIMARY SCHOOL' 'CALL CENTRE'
 'TRAIN STATION - ELSEWHERE' 'HEALTH CENTRE' 'POLICE STATION'
 'OTHER RESIDENTIAL HOME' 'PRE SCHOOL/NURSERY' 'FACTORY'
 'PUB/WINE BAR/BAR' 'TAKEAWAY/ FAST FOOD' 'MANUFACTURING ASSEMBLY PLANT'
 'CHURCH/CHAPEL' 'COMMUNITY CENTRE/HALL'
 'UNLICENSED HOUSE IN MULTIPLE OCCUPATION - 3 OR MORE STOREYS'
 'FOOTBALL STADIUM' 'PRINTING WORKS' 'SPORTS/SOCIAL CLUB' 'DIY WAREHOUSE'
 'CARAVAN/MOBILE HOME (PERMANENT DWELLING)' 'LARGE SUPERMARKET'
 'ELECTRICITY POWER STATION'
 'UNLICENSED HOUSE IN MULTIPLE OCCUPATION - UP TO 2 STOREYS' 'TEMPLE'
 'PIPE OR DRAIN' 'LIGHT AIRCRAFT' 'OTHER OUTDOOR STRUCTURES'
 'LEISURE CENTRE' 'ART GALLERY' 'UNDERGROUND CAR PARK' 'OUTDOOR STORAGE'
 'PRIVATE GARDEN SHED' 'WASTELAND' 'BUS/COACH' 'VAN' 'SHOPPING CENTRE'
 'SECONDARY SCHOOL' 'WAREHOUSE' 'BINGO HALL' 'MILL' 'RIVER/CANAL' 'CASINO'
 'SYNAGOGUE' 'HOUSEBOAT (PERMANENT DWELLING)' 'FURNITURE WAREHOUSE'
 'THEATRE' 'FALSE ALARM - PROPERTY NOT FOUND' 'AIRPORT - HANGAR'
 'LAW COURTS' 'OTHER OFFICE/CALL CENTRE TYPE BUILDING'
 'OTHER INDUSTRIAL PROCESSING PLANT' 'OTHER OUTDOOR EQUIPMENT/MACHINERY'
 'ENGINEERING MANUFACTURING PLANT' 'BUS/COACH STATION/GARAGE'
 'OTHER CAR PARK STRUCTURE' 'OTHER EDUCATION ESTABLISHMENT'
 'WOODLAND/FOREST - BROADLEAF/HARDWOOD'
 'AIRPORT BUILDING (NOT TERMINAL OR HANGAR)' 'TOWN HALL' 'PETROL STATION'
 'LABORATORY/RESEARCH ESTABLISHMENT' 'TUNNEL/ SUBWAY'
 'POST OFFICE (PURPOSE BUILT)' 'HAIRDRESSER' 'MOTOR HOME'
 'DAY CARE/DROP IN CENTRE' 'GAS WORKS'
 'HOUSE IN MULTIPLE OCCUPATION - UP TO 2 STOREYS (NOT KNOWN IF LICENSED)'
 'YOUTH HOSTEL' 'PUBLIC TOILETS' 'RECYCLING PLANT' 'CATHEDRAL' 'GYM'
 'HOUSE IN MULTIPLE OCCUPATION - 3 OR MORE STOREYS (NOT KNOWN IF LICENSED)'
 "CHILDREN'S HOME" 'CENTRAL GOVERNMENT OFFICE' 'OTHER DWELLING'
 'TRAIN STATION - PLATFORM (AT GROUND LEVEL OR ELEVATED)' 'CINEMA'
 'FIRE STATION' 'OTHER PUBLIC BUILDING' 'MILITARY/BARRACKS' 'CABLES'
 'HEATHLAND' 'OTHER INDUSTRIAL MANUFACTURING FACILITY' 'CRICKET GROUND'
 'INDOOR MARKET' 'SCRUB LAND' 'RECYCLING COLLECTION POINT/ BOTTLE BANK'
 'SWIMMING POOL' 'PRIVATE GARAGE' 'VEHICLE REPAIR WORKSHOP'
 'PASSENGER PLANE' 'GARDEN EQUIPMENT' 'TEMPORARY OFFICE (EG PORTACABIN)'
 'TV/FILM/MUSIC/ART STUDIO' 'KIOSK' 'CHEMICAL PLANT' 'CARAVAN ON TOW'
 'OTHER OUTDOOR SPORTING VENUE' 'TOWING CARAVAN/CAMPER VAN ON SITE'
 'TRAIN ON TUBE NETWORK' 'VEHICLE SALES BUILDING'
 'SPORTS PAVILION/SHOWER BLOCK/CHANGING FACILITY'
 'OTHER INDOOR SPORTING VENUE' 'YOUNG OFFENDERS UNIT' 'AMBULANCE STATION'
 'TRAM' 'OTHER PRIVATE NON-RESIDENTIAL BUILDING' 'WATER WORKS'
 'ROADSIDE VEGETATION' 'OTHER RETAIL' 'BOARDING SCHOOL ACCOMMODATION'
 'OTHER TRANSPORT BUILDING' 'TRAIN STATION - CONCOURSE'
 'OTHER CULTURAL VENUE' 'OTHER ENTERTAINMENT VENUE'
 'OTHER PUBLIC UTILITY WORKS' 'BEACH' 'BARBECUE' 'TRAINS - ENGINE SHED'
 'BULK HAZARDOUS MATERIALS STORAGE'
 'PASSENGER TRAIN (NATIONAL RAIL NETWORK)'
 'UNDERGROUND TRAIN : OTHER SYSTEM' 'ELECTRICAL WAREHOUSE' 'ESTATE AGENT'
 'SPORTS HALL' 'OTHER RELIGIOUS USE BUILDING' 'RAILWAY BUILDING - OTHER'
 'TELEPHONE BOX' 'NURSERIES/ MARKET GARDEN' 'CANAL/RIVERBANK VEGETATION'
 'BOARDING HOUSE/B&B OTHER' 'MINIBUS' 'OIL REFINERY' 'BARGE'
 'AIRPORT - FUEL STORAGE' 'MOSQUE' 'OTHER VESSEL' 'BULK GAS STORAGE'
 'TENNIS COURTS' 'BULK OIL STORAGE' 'RAILINGS'
 'ANIMAL PRODUCTS PROCESSING PLANT' 'STRAW/STUBBLE BURNING'
 'AIRFIELD/RUNWAY' 'LANDFILL SITE' 'RAILWAY TRACKSIDE VEGETATION'
 'CEMETERY' 'CONFERENCE CENTRE' 'MINE OR QUARRY BUILDING ABOVE GROUND'
 'GREYHOUND STADIUM' 'TRACTOR SHED'
 'POST OFFICE (WITHIN OTHER SHOP/PREMISES)'
 'MINE OR QUARRY (NOT ABOVE GROUND BUILDING)'
 'WOODLAND/FOREST - CONIFERS/SOFTWOOD' 'INDOOR STADIUM'
 'BULK WASTE STORAGE' 'ROAD TANKER' 'TELEPHONE EXCHANGE' 'DOCKS'
 'INTENSIVE FARMING SHEDS (CHICKENS/ PIGS ETC)' 'MOTOR YACHT'
 'PRIVATE GREENHOUSE' 'CONCERT HALL' 'RUGBY STADIUM'
 'OTHER ANIMAL BOARDING/BREEDING ESTABLISHMENT' 'TRAVEL AGENT'
 'THEME PARK' 'AGRICULTURAL VEHICLE' 'PRIVATE SUMMER HOUSE' 'ICE RINK'
 'CAMPING TENT' 'AGRICULTURAL EQUIPMENT'
 'ANIMAL BOARDING/BREEDING ESTABLISHMENT - DOGS' 'ZOO' 'STANDING CROP'
 'RAILWAY GOODS YARD' 'OTHER AGRICULTURAL BUILDING' 'NAVAL VESSEL'
 'STACKED/BALED CROP' 'FREIGHT TRAIN' 'HELICOPTER' 'OTHER AIRCRAFT'
 'OTHER HOLIDAY RESIDENCE (COTTAGE/ FLAT/ CHALET)' 'OTHER TENT/MARQUEE'
 'BOAT - TANKER' 'SEWAGE WORKS'
 'ANIMAL BOARDING/BREEDING ESTABLISHMENT - CATS' 'ATHLETICS STADIUM'
 'BARN' 'LARGE PASSENGER VESSEL' 'MOTOR RACING CIRCUIT' 'FREIGHT PLANE'
 'GREENHOUSE (COMMERCIAL) POLYTUNNEL' 'FISHING BOAT' 'MILITARY HELICOPTER'
 'MILKING PARLOUR' 'FERRY TERMINAL' 'COMMON EXTERNAL BIN STORAGE AREA'
 'HEDGE' 'FENCE' 'MEDICAL/HEALTH CENTRE' 'HUMAN HARM OUTDOORS' 'BICYCLE'
 'DENTAL SURGERY' 'DOCTORS SURGERY' 'MINISTRY OF DEFENCE OFFICE'
 'GOLF CLUBHOUSE' 'PLAYGROUND/RECREATION AREA (NOT EQUIPMENT)'
 'TOWING CARAVAN (NOT ON TOW OR ON SITE)' 'HEALTH SPA/FARM'
 'FOOD AND DRINK PROCESSING' 'TRAILER (NOT ATTACHED TO TRACTOR UNIT)'
 'ANIMAL HARM OUTDOORS' 'DISTILLERY PLANT' 'VETERINARY SURGERY'
 'GOLF COURSE (NOT BUILDING ON COURSE)' 'BAKERY'
 'GREENHOUSE (COMMERCIAL) GLASS' 'STATELY HOME (PART NOT OPEN TO PUBLIC)'
 'ROYAL PALACE (PART NOT OPEN TO PUBLIC)' 'RACECOURSE' 'SILO'
 'WHEELIE BIN (DOMESTIC SIZE)' 'OTHER MERCHANT VESSEL'
 'CASTLE (PART NOT OPEN TO PUBLIC)' 'SEA' 'MILITARY PLANE']
A remplacer 148 ['AGRICULTURAL VEHICLE', 'AIRFIELD/RUNWAY', 'AIRPORT - FUEL STORAGE', 'AIRPORT - TERMINAL', 'AIRPORT BUILDING (NOT TERMINAL OR HANGAR)', 'ANIMAL BOARDING/BREEDING ESTABLISHMENT - CATS', 'ANIMAL BOARDING/BREEDING ESTABLISHMENT - DOGS', 'ANIMAL HARM OUTDOORS', 'ATHLETICS STADIUM', 'BARGE', 'BARN', 'BEACH', 'BOARDING SCHOOL ACCOMMODATION', 'BOAT - TANKER', 'BRIDGE', 'BULK GAS STORAGE', 'BULK HAZARDOUS MATERIALS STORAGE', 'BULK OIL STORAGE', 'BULK WASTE STORAGE', 'BUNGALOW - SINGLE OCCUPANCY', 'CABLES', 'CAMPING TENT', 'CANAL/RIVERBANK VEGETATION', 'CARAVAN ON TOW', 'CARAVAN/MOBILE HOME (PERMANENT DWELLING)', 'CAR', 'CASTLE (PART NOT OPEN TO PUBLIC)', 'CEMETERY', 'CHEMICAL PLANT', "CHILDREN'S HOME", 'COMMON EXTERNAL BIN STORAGE AREA', 'DISTILLERY PLANT', 'DOCKS', 'DOMESTIC GARDEN (VEGETATION NOT EQUIPMENT)', 'ELECTRICITY POWER STATION', 'ENGINEERING MANUFACTURING PLANT', 'FACTORY', 'FALSE ALARM - PROPERTY NOT FOUND', 'FENCE', 'FERRY TERMINAL', 'FISHING BOAT', 'FOOD AND DRINK PROCESSING', 'FREIGHT PLANE', 'FREIGHT TRAIN', 'GAS WORKS', 'GOLF CLUBHOUSE', 'GOLF COURSE (NOT BUILDING ON COURSE)', 'GRASSLAND/ PASTURE/ GRAZING ETC', 'GREENHOUSE (COMMERCIAL) GLASS', 'GREENHOUSE (COMMERCIAL) POLYTUNNEL', 'HEALTH SPA/FARM', 'HEATHLAND', 'HEDGE', 'HELICOPTER', 'HOUSE - SINGLE OCCUPANCY', 'HOUSEBOAT (PERMANENT DWELLING)', 'INDOOR STADIUM', 'INTENSIVE FARMING SHEDS (CHICKENS/ PIGS ETC)', 'LAKE/POND/RESERVOIR', 'LARGE PASSENGER VESSEL', 'LARGE REFUSE/RUBBISH CONTAINER (EG SKIP/ PALADIN)', 'LIGHT AIRCRAFT', 'LOOSE REFUSE', 'LORRY/HGV', 'MILITARY PLANE', 'MILITARY/BARRACKS', 'MILL', 'MINE OR QUARRY (NOT ABOVE GROUND BUILDING)', 'MINE OR QUARRY BUILDING ABOVE GROUND', 'MINIBUS', 'MINISTRY OF DEFENCE OFFICE', 'MONASTERY/CONVENT', 'MOTOR HOME', 'MOTOR YACHT', 'MULTIPLE VEHICLES', 'NURSERIES/ MARKET GARDEN', 'OIL REFINERY', 'OTHER AGRICULTURAL BUILDING', 'OTHER AIRCRAFT', 'OTHER ANIMAL BOARDING/BREEDING ESTABLISHMENT', 'OTHER DWELLING', 'OTHER HOLIDAY RESIDENCE (COTTAGE/ FLAT/ CHALET)', 'OTHER INDUSTRIAL MANUFACTURING FACILITY', 'OTHER INDUSTRIAL PROCESSING PLANT', 'OTHER MERCHANT VESSEL', 'OTHER OUTDOOR LOCATION', 'OTHER OUTDOOR STRUCTURES', 'OTHER PUBLIC UTILITY WORKS', 'OTHER RESIDENTIAL HOME', 'OTHER ROAD VEHICLE', 'OTHER TENT/MARQUEE', 'OTHER TRANSPORT BUILDING', 'OTHER VESSEL', 'OUTDOOR STORAGE', 'PARK', 'PASSENGER PLANE', 'PASSENGER TRAIN (NATIONAL RAIL NETWORK)', 'PIPE OR DRAIN', 'PLAYGROUND/RECREATION AREA (NOT EQUIPMENT)', 'PRINTING WORKS', 'PRISON', 'PRIVATE GARAGE', 'PRIVATE GARDEN SHED', 'PRIVATE GREENHOUSE', 'PURPOSE BUILT FLATS/MAISONETTES - 10 OR MORE STOREYS', 'PURPOSE BUILT FLATS/MAISONETTES - 4 TO 9 STOREYS', 'PURPOSE BUILT FLATS/MAISONETTES - UP TO 3 STOREYS', 'RACECOURSE', 'RAILINGS', 'RAILWAY TRACKSIDE VEGETATION', 'RAILWAY', 'RECYCLING PLANT', 'REFUSE/RUBBISH TIP', 'RIVER/CANAL', 'ROAD TANKER', 'ROADSIDE FURNITURE (EG LAMP POSTS/ ROAD SIGNS/ TELEGRAPH POLES/ SPEED CAMERAS)', 'ROADSIDE VEGETATION', 'ROYAL PALACE (PART NOT OPEN TO PUBLIC)', 'RUGBY STADIUM', 'SCRUB LAND', 'SEA', 'SEWAGE WORKS', 'SPORTS PAVILION/SHOWER BLOCK/CHANGING FACILITY', 'STACKED/BALED CROP', 'STANDING CROP', 'STATELY HOME (PART NOT OPEN TO PUBLIC)', 'STRAW/STUBBLE BURNING', 'TEMPORARY OFFICE (EG PORTACABIN)', 'TENNIS COURTS', 'THEME PARK', 'TOWING CARAVAN (NOT ON TOW OR ON SITE)', 'TOWING CARAVAN/CAMPER VAN ON SITE', 'TRACTOR SHED', 'TRAILER (NOT ATTACHED TO TRACTOR UNIT)', 'TRAINS - ENGINE SHED', 'TRAM', 'TREE SCRUB', 'TUNNEL/ SUBWAY', 'UNDERGROUND TRAIN : OTHER SYSTEM', 'VAN', 'VEHICLE REPAIR WORKSHOP', 'WAREHOUSE', 'WASTELAND', 'WATER WORKS', 'WOODLAND/FOREST - BROADLEAF/HARDWOOD', 'WOODLAND/FOREST - CONIFERS/SOFTWOOD', 'YOUNG OFFENDERS UNIT', 'ZOO']
Après remplacement 145 ['OTHER' 'ROAD SURFACE/PAVEMENT' 'CYCLE PATH/PUBLIC FOOTPATH/BRIDLEWAY'
 'SMALL REFUSE/RUBBISH CONTAINER' 'STUDENT HALL OF RESIDENCE' 'LAUNDRETTE'
 'HOTEL/MOTEL' 'RESTAURANT/CAFE'
 'CONVERTED FLAT/MAISONETTE - UP TO 2 STOREYS' 'MUSEUM' 'CLUB/NIGHT CLUB'
 'NURSING/CARE HOME/HOSPICE' 'HOSTEL (E.G. FOR HOMELESS PEOPLE)'
 "NURSES'/DOCTORS' ACCOMMODATION"
 'CONVERTED FLAT/MAISONETTES - 3 OR MORE STOREYS'
 'SELF CONTAINED SHELTERED HOUSING' 'SHELTER' 'POST BOX'
 'LICENSED HOUSE IN MULTIPLE OCCUPATION - UP TO 2 STOREYS'
 'MULTI-STOREY CAR PARK' 'OTHER BULK STORAGE' 'PURPOSE BUILT OFFICE'
 'DEPARTMENT STORE' 'HOSPITAL' 'OTHER BUILDING/USE NOT KNOWN'
 'TENEMENT BUILDING' 'LOCAL GOVERNMENT OFFICE' 'OTHER RETAIL WAREHOUSE'
 'SINGLE SHOP' 'RETIREMENT/OLD PERSONS HOME'
 'LICENSED HOUSE IN MULTIPLE OCCUPATION - 3 OR MORE STOREYS'
 'TRAIN STATION - PLATFORM (BELOW GROUND)'
 'OTHER MEDICAL ESTABLISHMENT (INCLUDING SURGERY)' 'BANK/BUILDING SOCIETY'
 'SHELTERED HOUSING : NOT SELF CONTAINED'
 'BOARDING HOUSE/B&B FOR HOMELESS/ASYLUM SEEKERS' 'CONVERTED OFFICE'
 'MOTORCYCLE' 'EXHIBITION CENTRE' 'COLLEGE/UNIVERSITY' 'LIBRARY'
 'INFANT/PRIMARY SCHOOL' 'CALL CENTRE' 'TRAIN STATION - ELSEWHERE'
 'HEALTH CENTRE' 'POLICE STATION' 'PRE SCHOOL/NURSERY' 'PUB/WINE BAR/BAR'
 'TAKEAWAY/ FAST FOOD' 'MANUFACTURING ASSEMBLY PLANT' 'CHURCH/CHAPEL'
 'COMMUNITY CENTRE/HALL'
 'UNLICENSED HOUSE IN MULTIPLE OCCUPATION - 3 OR MORE STOREYS'
 'FOOTBALL STADIUM' 'SPORTS/SOCIAL CLUB' 'DIY WAREHOUSE'
 'LARGE SUPERMARKET'
 'UNLICENSED HOUSE IN MULTIPLE OCCUPATION - UP TO 2 STOREYS' 'TEMPLE'
 'LEISURE CENTRE' 'ART GALLERY' 'UNDERGROUND CAR PARK' 'BUS/COACH'
 'SHOPPING CENTRE' 'SECONDARY SCHOOL' 'BINGO HALL' 'CASINO' 'SYNAGOGUE'
 'FURNITURE WAREHOUSE' 'THEATRE' 'AIRPORT - HANGAR' 'LAW COURTS'
 'OTHER OFFICE/CALL CENTRE TYPE BUILDING'
 'OTHER OUTDOOR EQUIPMENT/MACHINERY' 'BUS/COACH STATION/GARAGE'
 'OTHER CAR PARK STRUCTURE' 'OTHER EDUCATION ESTABLISHMENT' 'TOWN HALL'
 'PETROL STATION' 'LABORATORY/RESEARCH ESTABLISHMENT'
 'POST OFFICE (PURPOSE BUILT)' 'HAIRDRESSER' 'DAY CARE/DROP IN CENTRE'
 'HOUSE IN MULTIPLE OCCUPATION - UP TO 2 STOREYS (NOT KNOWN IF LICENSED)'
 'YOUTH HOSTEL' 'PUBLIC TOILETS' 'CATHEDRAL' 'GYM'
 'HOUSE IN MULTIPLE OCCUPATION - 3 OR MORE STOREYS (NOT KNOWN IF LICENSED)'
 'CENTRAL GOVERNMENT OFFICE'
 'TRAIN STATION - PLATFORM (AT GROUND LEVEL OR ELEVATED)' 'CINEMA'
 'FIRE STATION' 'OTHER PUBLIC BUILDING' 'CRICKET GROUND' 'INDOOR MARKET'
 'RECYCLING COLLECTION POINT/ BOTTLE BANK' 'SWIMMING POOL'
 'GARDEN EQUIPMENT' 'TV/FILM/MUSIC/ART STUDIO' 'KIOSK'
 'OTHER OUTDOOR SPORTING VENUE' 'TRAIN ON TUBE NETWORK'
 'VEHICLE SALES BUILDING' 'OTHER INDOOR SPORTING VENUE'
 'AMBULANCE STATION' 'OTHER PRIVATE NON-RESIDENTIAL BUILDING'
 'OTHER RETAIL' 'TRAIN STATION - CONCOURSE' 'OTHER CULTURAL VENUE'
 'OTHER ENTERTAINMENT VENUE' 'BARBECUE' 'ELECTRICAL WAREHOUSE'
 'ESTATE AGENT' 'SPORTS HALL' 'OTHER RELIGIOUS USE BUILDING'
 'RAILWAY BUILDING - OTHER' 'TELEPHONE BOX' 'BOARDING HOUSE/B&B OTHER'
 'MOSQUE' 'ANIMAL PRODUCTS PROCESSING PLANT' 'LANDFILL SITE'
 'CONFERENCE CENTRE' 'GREYHOUND STADIUM'
 'POST OFFICE (WITHIN OTHER SHOP/PREMISES)' 'TELEPHONE EXCHANGE'
 'CONCERT HALL' 'TRAVEL AGENT' 'PRIVATE SUMMER HOUSE' 'ICE RINK'
 'AGRICULTURAL EQUIPMENT' 'RAILWAY GOODS YARD' 'NAVAL VESSEL'
 'MOTOR RACING CIRCUIT' 'MILITARY HELICOPTER' 'MILKING PARLOUR'
 'MEDICAL/HEALTH CENTRE' 'HUMAN HARM OUTDOORS' 'BICYCLE' 'DENTAL SURGERY'
 'DOCTORS SURGERY' 'VETERINARY SURGERY' 'BAKERY' 'SILO'
 'WHEELIE BIN (DOMESTIC SIZE)']

StopCode
Avant remplacement 28 ['SST-RTC' 'SECONDARY FIRE' 'AFA' 'SST-LIFT RELEASE' 'SST-FLOODING'
 'PRIMARY FIRE' 'FALSE ALARM - GOOD INTENT' 'SST-MEDICAL INCIDENT'
 'SST-EFFECTING ENTRY/EXIT' 'FALSE ALARM - MALICIOUS'
 'SST-OTHER RESCUE/RELEASE OF PERSONS' 'SST-MAKING SAFE (NOT RTC)'
 'SST-NO ACTION (NOT FALSE ALARM)' 'SST-ASSIST OTHER AGENCIES'
 'SST-OTHER TRANSPORT INCIDENT' 'SST-EVACUATION (NO FIRE)'
 'SST-SPILLS AND LEAKS (NOT RTC)' 'SST-REMOVAL OF OBJECTS FROM PEOPLE'
 'SST-HAZARDOUS MATERIALS INCIDENT' 'CHIMNEY FIRE' 'SST-ADVICE ONLY'
 'SST-RESCUE OR EVACUATION FROM WATER' 'SST-ANIMAL ASSISTANCE INCIDENTS'
 'SST-SUICIDE/ATTEMPTS' 'SST-WATER PROVISION' 'LATE CALL' 'SST-STAND BY'
 'SST-MEDICAL INCIDENT - CO-RESPONDER']
A remplacer 7 ['CHIMNEY FIRE', 'LATE CALL', 'SST-HAZARDOUS MATERIALS INCIDENT', 'SST-OTHER TRANSPORT INCIDENT', 'SST-STAND BY', 'SST-SUICIDE/ATTEMPTS', 'SST-WATER PROVISION']
Après remplacement 22 ['SST-RTC' 'SECONDARY FIRE' 'AFA' 'SST-LIFT RELEASE' 'SST-FLOODING'
 'PRIMARY FIRE' 'FALSE ALARM - GOOD INTENT' 'SST-MEDICAL INCIDENT'
 'SST-EFFECTING ENTRY/EXIT' 'FALSE ALARM - MALICIOUS'
 'SST-OTHER RESCUE/RELEASE OF PERSONS' 'SST-MAKING SAFE (NOT RTC)'

,CalYear,HourOfCall,PropertyType,Postcode_district,FirstPumpArriving_DeployedFromStation,NumPumpsAttending,Month,DayOfWeek,StopCode,PumpSecondsOnSite_min,PumpSecondsOnSite_mean,PumpSecondsOnSite_max,TurnoutTimeSeconds_min,TurnoutTimeSeconds_mean,TurnoutTimeSeconds_max,TravelTimeSeconds_min,TravelTimeSeconds_mean,TravelTimeSeconds_max
0,2009,0,OTHER,SW11,BATTERSEA,2.0,1,4,SST-RTC,240.0,390.0,540.0,253.0,253.0,253.0,89.0,89.0,89.0
1,2009,0,ROAD SURFACE/PAVEMENT,N9,EDMONTON,1.0,1,4,SECONDARY FIRE,420.0,420.0,420.0,151.0,151.0,151.0,157.0,157.0,157.0
2,2009,0,OTHER,UB10,HILLINGDON,1.0,1,4,SECONDARY FIRE,720.0,720.0,720.0,108.0,108.0,108.0,102.0,102.0,102.0
3,2009,0,CYCLE PATH/PUBLIC FOOTPATH/BRIDLEWAY,N7,HOLLOWAY,2.0,1,4,SECONDARY FIRE,120.0,120.0,120.0,114.0,128.0,142.0,108.0,113.5,119.0
4,2009,0,OTHER,NW5,KENTISH TOWN,2.0,1,4,AFA,360.0,360.0,360.0,83.0,89.0,95.0,89.0,108.0,127.0
5,2009,0,OTHER,SE3,EAST GREENWICH,1.0,1,4,SST-RTC,420.0,420.0,420.0,119.0,119.0,119.0,403.0,403.0,403.0
6,2009,0,OTHER,TW3,HESTON,2.0,1,4,SECONDARY FIRE,1440.0,1440.0,1440.0,178.0,180.5,183.0,164.0,165.0,166.0
7,2009,0,SMALL REFUSE/RUBBISH CONTAINER,EC1V,CLERKENWELL,1.0,1,4,SECONDARY FIRE,420.0,420.0,420.0,121.0,121.0,121.0,134.0,134.0,134.0
8,2009,0,STUDENT HALL OF RESIDENCE,WC1B,EUSTON,1.0,1,4,AFA,780.0,780.0,780.0,110.0,110.0,110.0,187.0,187.0,187.0
9,2009,0,OTHER,EC1A,DOWGATE,1.0,1,4,SST-LIFT RELEASE,600.0,600.0,600.0,129.0,129.0,129.0,567.0,567.0,567.0

In [33]:
# ------------------------- Encodage des 3 datasets par cible -----------------------------

import pandas as pd
import numpy as np

import category_encoders as ce
import joblib  # Pour sauvegarder l'encodeur

pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)

# cols_categ = ["CalYear", "HourOfCall", "Month", "DayOfWeek", "StopCode", "PropertyType", "Postcode_district"]
cols_cible_type = ["PumpSecondsOnSite", "TurnoutTimeSeconds", "TravelTimeSeconds"]

for name in cols_cible_type:
    print(name)
    df = pd.read_csv(f"../data/df {name}.csv", sep=";", low_memory=False)
    df = ToTextCatgories(df)
    display(df.head(3))
    # Encodage des catégories

    # CalYear, encodage OrdinalEncoder
    encoder = ce.OrdinalEncoder(cols=["CalYear"] )
    print("OrdinalEncoder")
    df = encoder.fit_transform(df)
    joblib.dump(encoder, f"../data/_ce_{name}_OrdinalEncoder.pkl")

    # Les autres colonnes, encodage binaire
    encoder = ce.BinaryEncoder(cols=["HourOfCall", "Month", "DayOfWeek", "StopCode", "PropertyType", "Postcode_district"])
    print("BinaryEncoder")
    df = encoder.fit_transform(df)
    joblib.dump(encoder, f"../data/_ce_{name}_BinaryEncoder.pkl")

    display(df.head(10))
    df.to_csv(f"../data/_df_ready_{name}.csv", sep=";", index=False)

PumpSecondsOnSite

,CalYear,HourOfCall,PropertyType,Postcode_district,FirstPumpArriving_DeployedFromStation,NumPumpsAttending,Month,DayOfWeek,StopCode,PumpSecondsOnSite_min,PumpSecondsOnSite_mean,PumpSecondsOnSite_max,TurnoutTimeSeconds_min,TurnoutTimeSeconds_mean,TurnoutTimeSeconds_max,TravelTimeSeconds_min,TravelTimeSeconds_mean,TravelTimeSeconds_max
0,2009,0,CAR,OTHER,BATTERSEA,2.0,1,4,SST-RTC,240.0,390.0,540.0,253.0,253.0,253.0,89.0,89.0,89.0
1,2009,0,OTHER,OTHER,EDMONTON,1.0,1,4,SECONDARY FIRE,420.0,420.0,420.0,151.0,151.0,151.0,157.0,157.0,157.0
2,2009,0,OTHER,OTHER,HILLINGDON,1.0,1,4,SECONDARY FIRE,720.0,720.0,720.0,108.0,108.0,108.0,102.0,102.0,102.0

OrdinalEncoder
BinaryEncoder

,CalYear,HourOfCall_0,HourOfCall_1,HourOfCall_2,HourOfCall_3,HourOfCall_4,PropertyType_0,PropertyType_1,PropertyType_2,PropertyType_3,PropertyType_4,PropertyType_5,Postcode_district_0,Postcode_district_1,Postcode_district_2,Postcode_district_3,Postcode_district_4,FirstPumpArriving_DeployedFromStation,NumPumpsAttending,Month_0,Month_1,Month_2,Month_3,DayOfWeek_0,DayOfWeek_1,DayOfWeek_2,StopCode_0,StopCode_1,StopCode_2,StopCode_3,StopCode_4,PumpSecondsOnSite_min,PumpSecondsOnSite_mean,PumpSecondsOnSite_max,TurnoutTimeSeconds_min,TurnoutTimeSeconds_mean,TurnoutTimeSeconds_max,TravelTimeSeconds_min,TravelTimeSeconds_mean,TravelTimeSeconds_max
0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,BATTERSEA,2.0,0,0,0,1,0,0,1,0,0,0,0,1,240.0,390.0,540.0,253.0,253.0,253.0,89.0,89.0,89.0
1,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,EDMONTON,1.0,0,0,0,1,0,0,1,0,0,0,1,0,420.0,420.0,420.0,151.0,151.0,151.0,157.0,157.0,157.0
2,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,HILLINGDON,1.0,0,0,0,1,0,0,1,0,0,0,1,0,720.0,720.0,720.0,108.0,108.0,108.0,102.0,102.0,102.0
3,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,HOLLOWAY,2.0,0,0,0,1,0,0,1,0,0,0,1,0,120.0,120.0,120.0,114.0,128.0,142.0,108.0,113.5,119.0
4,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,KENTISH TOWN,2.0,0,0,0,1,0,0,1,0,0,0,1,1,360.0,360.0,360.0,83.0,89.0,95.0,89.0,108.0,127.0
5,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,EAST GREENWICH,1.0,0,0,0,1,0,0,1,0,0,0,0,1,420.0,420.0,420.0,119.0,119.0,119.0,403.0,403.0,403.0
6,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,HESTON,2.0,0,0,0,1,0,0,1,0,0,0,1,0,1440.0,1440.0,1440.0,178.0,180.5,183.0,164.0,165.0,166.0
7,1,0,0,0,0,1,0,0,0,0,1,1,0,0,0,0,1,CLERKENWELL,1.0,0,0,0,1,0,0,1,0,0,0,1,0,420.0,420.0,420.0,121.0,121.0,121.0,134.0,134.0,134.0
8,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,EUSTON,1.0,0,0,0,1,0,0,1,0,0,0,1,1,780.0,780.0,780.0,110.0,110.0,110.0,187.0,187.0,187.0
9,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,DOWGATE,1.0,0,0,0,1,0,0,1,0,0,1,0,0,600.0,600.0,600.0,129.0,129.0,129.0,567.0,567.0,567.0

TurnoutTimeSeconds

,CalYear,HourOfCall,PropertyType,Postcode_district,FirstPumpArriving_DeployedFromStation,NumPumpsAttending,Month,DayOfWeek,StopCode,PumpSecondsOnSite_min,PumpSecondsOnSite_mean,PumpSecondsOnSite_max,TurnoutTimeSeconds_min,TurnoutTimeSeconds_mean,TurnoutTimeSeconds_max,TravelTimeSeconds_min,TravelTimeSeconds_mean,TravelTimeSeconds_max
0,2009,0,CAR,OTHER,BATTERSEA,2.0,1,4,SST-RTC,240.0,390.0,540.0,253.0,253.0,253.0,89.0,89.0,89.0
1,2009,0,ROAD SURFACE/PAVEMENT,OTHER,EDMONTON,1.0,1,4,SECONDARY FIRE,420.0,420.0,420.0,151.0,151.0,151.0,157.0,157.0,157.0
2,2009,0,DOMESTIC GARDEN (VEGETATION NOT EQUIPMENT),OTHER,HILLINGDON,1.0,1,4,SECONDARY FIRE,720.0,720.0,720.0,108.0,108.0,108.0,102.0,102.0,102.0

OrdinalEncoder
BinaryEncoder

,CalYear,HourOfCall_0,HourOfCall_1,HourOfCall_2,HourOfCall_3,HourOfCall_4,PropertyType_0,PropertyType_1,PropertyType_2,PropertyType_3,PropertyType_4,PropertyType_5,PropertyType_6,PropertyType_7,PropertyType_8,Postcode_district_0,Postcode_district_1,Postcode_district_2,Postcode_district_3,Postcode_district_4,FirstPumpArriving_DeployedFromStation,NumPumpsAttending,Month_0,Month_1,Month_2,Month_3,DayOfWeek_0,DayOfWeek_1,DayOfWeek_2,StopCode_0,StopCode_1,StopCode_2,StopCode_3,StopCode_4,PumpSecondsOnSite_min,PumpSecondsOnSite_mean,PumpSecondsOnSite_max,TurnoutTimeSeconds_min,TurnoutTimeSeconds_mean,TurnoutTimeSeconds_max,TravelTimeSeconds_min,TravelTimeSeconds_mean,TravelTimeSeconds_max
0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,BATTERSEA,2.0,0,0,0,1,0,0,1,0,0,0,0,1,240.0,390.0,540.0,253.0,253.0,253.0,89.0,89.0,89.0
1,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,EDMONTON,1.0,0,0,0,1,0,0,1,0,0,0,1,0,420.0,420.0,420.0,151.0,151.0,151.0,157.0,157.0,157.0
2,1,0,0,0,0,1,0,0,0,0,0,0,0,1,1,0,0,0,0,1,HILLINGDON,1.0,0,0,0,1,0,0,1,0,0,0,1,0,720.0,720.0,720.0,108.0,108.0,108.0,102.0,102.0,102.0
3,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,HOLLOWAY,2.0,0,0,0,1,0,0,1,0,0,0,1,0,120.0,120.0,120.0,114.0,128.0,142.0,108.0,113.5,119.0
4,1,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,1,KENTISH TOWN,2.0,0,0,0,1,0,0,1,0,0,0,1,1,360.0,360.0,360.0,83.0,89.0,95.0,89.0,108.0,127.0
5,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,EAST GREENWICH,1.0,0,0,0,1,0,0,1,0,0,0,0,1,420.0,420.0,420.0,119.0,119.0,119.0,403.0,403.0,403.0
6,1,0,0,0,0,1,0,0,0,0,0,0,1,1,0,0,0,0,0,1,HESTON,2.0,0,0,0,1,0,0,1,0,0,0,1,0,1440.0,1440.0,1440.0,178.0,180.5,183.0,164.0,165.0,166.0
7,1,0,0,0,0,1,0,0,0,0,0,0,1,1,1,0,0,0,0,1,CLERKENWELL,1.0,0,0,0,1,0,0,1,0,0,0,1,0,420.0,420.0,420.0,121.0,121.0,121.0,134.0,134.0,134.0
8,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,EUSTON,1.0,0,0,0,1,0,0,1,0,0,0,1,1,780.0,780.0,780.0,110.0,110.0,110.0,187.0,187.0,187.0
9,1,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,1,DOWGATE,1.0,0,0,0,1,0,0,1,0,0,1,0,0,600.0,600.0,600.0,129.0,129.0,129.0,567.0,567.0,567.0

TravelTimeSeconds

,CalYear,HourOfCall,PropertyType,Postcode_district,FirstPumpArriving_DeployedFromStation,NumPumpsAttending,Month,DayOfWeek,StopCode,PumpSecondsOnSite_min,PumpSecondsOnSite_mean,PumpSecondsOnSite_max,TurnoutTimeSeconds_min,TurnoutTimeSeconds_mean,TurnoutTimeSeconds_max,TravelTimeSeconds_min,TravelTimeSeconds_mean,TravelTimeSeconds_max
0,2009,0,OTHER,SW11,BATTERSEA,2.0,1,4,SST-RTC,240.0,390.0,540.0,253.0,253.0,253.0,89.0,89.0,89.0
1,2009,0,ROAD SURFACE/PAVEMENT,N9,EDMONTON,1.0,1,4,SECONDARY FIRE,420.0,420.0,420.0,151.0,151.0,151.0,157.0,157.0,157.0
2,2009,0,OTHER,UB10,HILLINGDON,1.0,1,4,SECONDARY FIRE,720.0,720.0,720.0,108.0,108.0,108.0,102.0,102.0,102.0

OrdinalEncoder
BinaryEncoder

,CalYear,HourOfCall_0,HourOfCall_1,HourOfCall_2,HourOfCall_3,HourOfCall_4,PropertyType_0,PropertyType_1,PropertyType_2,PropertyType_3,PropertyType_4,PropertyType_5,PropertyType_6,PropertyType_7,Postcode_district_0,Postcode_district_1,Postcode_district_2,Postcode_district_3,Postcode_district_4,Postcode_district_5,Postcode_district_6,Postcode_district_7,Postcode_district_8,FirstPumpArriving_DeployedFromStation,NumPumpsAttending,Month_0,Month_1,Month_2,Month_3,DayOfWeek_0,DayOfWeek_1,DayOfWeek_2,StopCode_0,StopCode_1,StopCode_2,StopCode_3,StopCode_4,PumpSecondsOnSite_min,PumpSecondsOnSite_mean,PumpSecondsOnSite_max,TurnoutTimeSeconds_min,TurnoutTimeSeconds_mean,TurnoutTimeSeconds_max,TravelTimeSeconds_min,TravelTimeSeconds_mean,TravelTimeSeconds_max
0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,BATTERSEA,2.0,0,0,0,1,0,0,1,0,0,0,0,1,240.0,390.0,540.0,253.0,253.0,253.0,89.0,89.0,89.0
1,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,EDMONTON,1.0,0,0,0,1,0,0,1,0,0,0,1,0,420.0,420.0,420.0,151.0,151.0,151.0,157.0,157.0,157.0
2,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1,HILLINGDON,1.0,0,0,0,1,0,0,1,0,0,0,1,0,720.0,720.0,720.0,108.0,108.0,108.0,102.0,102.0,102.0
3,1,0,0,0,0,1,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,HOLLOWAY,2.0,0,0,0,1,0,0,1,0,0,0,1,0,120.0,120.0,120.0,114.0,128.0,142.0,108.0,113.5,119.0
4,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,KENTISH TOWN,2.0,0,0,0,1,0,0,1,0,0,0,1,1,360.0,360.0,360.0,83.0,89.0,95.0,89.0,108.0,127.0
5,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1,0,EAST GREENWICH,1.0,0,0,0,1,0,0,1,0,0,0,0,1,420.0,420.0,420.0,119.0,119.0,119.0,403.0,403.0,403.0
6,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1,1,HESTON,2.0,0,0,0,1,0,0,1,0,0,0,1,0,1440.0,1440.0,1440.0,178.0,180.5,183.0,164.0,165.0,166.0
7,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,CLERKENWELL,1.0,0,0,0,1,0,0,1,0,0,0,1,0,420.0,420.0,420.0,121.0,121.0,121.0,134.0,134.0,134.0
8,1,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,1,EUSTON,1.0,0,0,0,1,0,0,1,0,0,0,1,1,780.0,780.0,780.0,110.0,110.0,110.0,187.0,187.0,187.0
9,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,DOWGATE,1.0,0,0,0,1,0,0,1,0,0,1,0,0,600.0,600.0,600.0,129.0,129.0,129.0,567.0,567.0,567.0