In [3]:
# Importation des librairies

from datetime import datetime
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns

# Chargement des fichiers metadata, incident et mobilisation

df_mob_meta = pd.read_excel("../data/Mobilisations_Metadata.xlsx",index_col="Column")
df_inc_meta = pd.read_excel("../data/Metadata.xlsx", index_col="Column")
df_incidents = pd.read_csv("../data/Incidents.csv", sep=";", index_col=0, low_memory=False)
df_mobilisations = pd.read_csv("../data/Mobilisation.csv", sep=";", index_col=0,low_memory=False)
display(df_mob_meta.head())
display(df_inc_meta.head())

                          Sample record                   Description
Column
IncidentNumber          000008-01012018           LFB Incident Number
CalYear                            2018              Year of 999 call
HourOfCall                            3              Hour of 999 call
ResourceMobilisationId          5055153  LFB Resource Mobilisation ID
Resource_Code                      A392             LFB Resource Code

                      Sample record          Description Extra Notes
Column
IncidentNumber      000008-01012018  LFB Incident Number         NaN
DateOfCall      2018-01-01 00:00:00     Date of 999 call         NaN
CalYear                        2018     Year of 999 call         NaN
TimeOfCall                 00:04:25     Time of 999 call         NaN
HourOfCall                        0     Hour of 999 call         NaN

In [4]:
def exploration(df,meta, file_output):
    
    """
    analyse les caractéristiques d'un DataFrame (df), fournit un résumé des informations sur les colonnes, notamment les valeurs manquantes (NA), 
    les types de données, et la distribution des valeurs pour chaque colonne. Elle enregistre ensuite un fichier CSV contenant les informations d'analyse.

    Paramètres :

          df (pd.DataFrame) : Le DataFrame à analyser. Il contient les données à explorer.
          meta (pd.DataFrame) : Un DataFrame préexistant où les résultats de l'analyse seront stockés. Ce DataFrame doit avoir les mêmes colonnes que le DataFrame df à analyser.
          file_output (str) : Le nom du fichier CSV dans lequel les résultats de l'analyse seront sauvegardés. Le fichier sera enregistré dans le répertoire ../data/.
    Retour :

           La fonction exploration ne renvoie rien en retour.
           Elle effectue des opérations sur les données d'entrée (df et meta) et modifie directement le DataFrame meta en ajoutant des informations d'analyse sur les colonnes du DataFrame df.
           Le résultat est enregistré dans le dichier file_output.

    """

    for col in df:
        # print (row)
        percent_na= np.array2string(np.round(df[col].isna().mean()*100,2))
        count_na=np.array2string(df[col].isna().sum())
        meta.loc[col,'Taux de NA'] = count_na + " (" + percent_na + "%)"
        meta.loc[col,'Type information']= df[col].dtypes

        if (df[col].dtypes == 'object') and (len(df[col].unique())<=15):
            modalite = np.array2string(df[col].unique(),separator=', ') # on converti le tableau nuimy en string séparé par des ","
            mode = df[col].mode()[0]
            meta.loc[col,'Distribution des valeurs'] = "Nbr modalites : " + modalite + ", Mode : " + mode
        elif df[col].dtypes != 'object':
            mean = str(np.round(df[col].mean(),2))
            median = str(np.round(df[col].median(),2))
            max = str(np.round(df[col].max(),2))
            min = str(np.round(df[col].min()))
            meta.loc[col,'Distribution des valeurs']="mean = " + mean + ", " + "median = " + median + ", " + " max = " + max + ", " + " min = " + min
        else:
            meta.loc[col,'Distribution des valeurs']="Nbr de modalite sup à 15"

        meta.to_csv("../data/"+file_output, index=True, sep=";")


# Analyse exploratoire des données (df_mobilisations et df_incidents)

exploration(df_mobilisations, df_mob_meta, "exploration_mob.csv")
exploration(df_incidents, df_inc_meta, "exploration_inc.csv")